{% extends 'base/base_img_editar.html' %}
{% load staticfiles %}

{% block title %}
    Fotos del modelo
{% endblock %}

{% block header %}

{% endblock %}

{% block menu-social %}
  <!-- Menu Social -->

  <div class="social">
    <ul>
      <li>
        <a href="/citas/nuevo/{{codi}}/{{num}}">
        <img class="icon-cita" src="/media/imagenes/Menu/calendar.png"></a>
      </li>
      
    </ul>
  </div>
{% endblock %}

{% block extrajs %}

<script type="text/javascript">
    $('#codigo').val("{{codi}}");
    $('#ficha').val("{{num}}");  

$(document).ready(function(){

    var codigo = $('#codigo').val();
    var numero = $('#ficha').val();

    $.ajax({
        data : {'codigo':codigo,'numero':numero},
        url : '/gestor_img/aparato/mostrara/',
        type : 'get',
        success : function(data) {
            for (var i = 0; i < data.length; i++) {
                imgf = data[i].fields.aparatof;
                imgl = data[i].fields.aparatol; 
                img = data[i].fields.aparato;
                
                if (imgf != "") {
                    document.getElementById("c1").style.display = 'inline';
                    document.getElementById("a1").src="{% static 'images/ver.png' %}";
                }
                else{
                    document.getElementById("a1").src="{% static 'images/nover.png' %}";
                }
                if (imgl != "") {
                    document.getElementById("c2").style.display = 'inline';
                    document.getElementById("a2").src="{% static 'images/ver.png' %}";
                }
                else{
                    document.getElementById("a2").src="{% static 'images/nover.png' %}";
                }
                if (img != "") {
                    document.getElementById("c3").style.display = 'inline';
                    document.getElementById("a3").src="{% static 'images/ver.png' %}";
                }
                else{
                    document.getElementById("a3").src="{% static 'images/nover.png' %}";
                }
            }
        },
    });

});

document.getElementById("a1").onclick = Asignarf;
document.getElementById("a2").onclick = Asignarl;
document.getElementById("a3").onclick = Asignar;

function Asignarf() {
    if (imgf != "") {
    document.getElementById("aimg").style.display = 'inline';
    document.getElementById("aimg").src= {{MEDIA_URL}}+imgf;
    }
}

function Asignarl() {
    if (imgl != "") {
    document.getElementById("aimg").style.display = 'inline';
    document.getElementById("aimg").src= {{MEDIA_URL}}+imgl;
    }
}

function Asignar() {
    if (img != "") {
    document.getElementById("aimg").style.display = 'inline';
    document.getElementById("aimg").src= {{MEDIA_URL}}+img;
    }
}

$(document).ready(function() {

$("#id_aparatof").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permito de 2.0 Mb.');
$(this).val('');
}
});

$("#id_aparatol").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permito de 2.0 Mb.');
$(this).val('');
}
});

$("#id_aparato").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permito de 2.0 Mb.');
$(this).val('');
}
});
});

username = "{{ request.user.username }}";
$("#id_usera").val( username );
</script>

{% endblock %}

{% block content %}
<form method="post" enctype='multipart/form-data'>
    {% csrf_token %}

    {{form.fichas}}

    <h1> <center> Imágenes de aparato </center></h1>
        <div class="col-md-12 col-md-offset-2">
        <div class="form-group">
            <div class="col-md-4">
            <label for="codigo">N° de Expediente </label>   
            <input id="codigo" class="form-control" type="text" disabled="True">
            <br>
            </div>
            <div class="col-md-4">
            <label for="ficha">N° de Ficha</label>  
            <input id="ficha" class="form-control" type="text" disabled="True">
            <br>
            </div>
        </div>
        <br>
    </div>

<br><br><br><br><br><br><br><br>

{{form.usera}}

<div id="fp1" class="panel panel-primary">
      <div class="panel-heading"> 
      <h4 class="panel-title">Imágenes de aparato</h4>
      </div>
    
     <div class="panel-body">
    <br>
        <div class="col-md-5">
            <div class="form-group">
                <label for="{{form.apartof.name}}">{{form.aparatof.label}}</label>
                {{form.aparatof}} 
                <p id="c1" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br><br>
                <label for="{{form.aparatol.name}}">{{form.aparatol.label}}</label> 
                {{form.aparatol}}
                <p id="c2" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br><br>
                <label for="{{form.aparato.name}}">{{form.aparato.label}}</label>
                {{form.aparato}}
                <p id="c3" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br><br>  
            </div>            
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <br>
                <img id="a1">
                <br>
                <br>
                <br>
                <br>
                <br>
                <img id="a2">  
                <br>
                <br>
                <br>
                <br>
                <img id="a3"> 
                <br>   
            </div>            
        </div> 
        <div class="col-md-5 col-md-offset-1">
            <div class="form-group">
            <img id="aimg" width="400" height="300" style='display:none;'/>
            </div>            
        </div> 
    </div>
</div>

<br>

    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <div class="col-md-3 col-md-offset-2">
              <a href="/gestor_img/modelo/editar/{{codi}}/{{num}}" class="btn btn-warning btn-block">Regresar</a>
            </div>
            <div class="col-md-3 col-md-offset-2">
              <center><button type="submit" class="btn btn-success btn-block">Siguiente</button></center>
            </div>
        </div>
        <br><br>
    </div>

<!-- Barra de progreso -->
        <br><br>
        <div class="col-md-10 col-md-offset-1">
        <div class="progress">
            <div class="progress-bar" style="width: 36%;"></div>
        </div>
        </div>

</form>
{% endblock %}
