{% extends 'base/base_img.html' %}
{% load staticfiles %}

{% block title %}
    Fotos del modelo
{% endblock %}

{% block header %}
<style type="text/css">
    .divOcultar{
    display: none;
    }
</style>
{% endblock %}

{% block menu-social %}
  <!-- Menu Social -->

  <div class="social">
    <ul>
      <li>
        <a href="/citas/nuevo/{{codi}}/{{num}}">
        <img class="icon-cita" src="/media/imagenes/Menu/calendar.png"></a>
      </li>
      
    </ul>
  </div>
{% endblock %}

{% block extrajs %}

<script type="text/javascript">
    $('#codigo').val("{{codi}}");
    $('#ficha').val("{{num}}");  
$(document).ready(function(){
    var codigo = $('#codigo').val();
    var numero = $('#ficha').val();
    $.ajax({
        data : {'codigo':codigo,'numero':numero},
        url : '/gestor_img/modelo/mostrarm/',
        type : 'get',
        success : function(data) {
            for (var i = 0; i < data.length; i++) {
                var osm = data[i].fields.osupm;
                var oim = data[i].fields.oinfm; 
                var lim = data[i].fields.lizqm;
                var fm = data[i].fields.frontm;
                var ldm = data[i].fields.lderm;
                if (osm != '') {
                    if (oim != '') {
                        if (lim != '') {
                            if (fm != '') {
                                if (ldm != '') {
                                    $(".divOcultar").css("display", "block");
                                }
                            }
                        }
                    }
                }
                if (osm != "") {
                    document.getElementById("imgos").src = {{MEDIA_URL}} + osm;
                }
                else{
                    document.getElementById("imgos").src="{% static 'images/noimg.png' %}";
                }
                if (oim != "") {
                    document.getElementById("imgoi").src = {{MEDIA_URL}} + oim;
                }
                else{
                    document.getElementById("imgoi").src="{% static 'images/noimg.png' %}";
                }
                if (lim != "") {
                    document.getElementById("imgli").src = {{MEDIA_URL}} + lim;
                }
                else{
                    document.getElementById("imgli").src="{% static 'images/noimg.png' %}";
                }
                if (fm != "") {
                    document.getElementById("imgf").src = {{MEDIA_URL}} + fm;
                }
                else{
                    document.getElementById("imgf").src="{% static 'images/noimg.png' %}";
                }
                if (ldm != "") {
                    document.getElementById("imgld").src = {{MEDIA_URL}} + ldm;
                }
                else{
                    document.getElementById("imgld").src="{% static 'images/noimg.png' %}";
                }
            }
        },
    });
});
$(document).ready(function() {
$("#id_osupm").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permito de 2.0 Mb.');
$(this).val('');
}
});
$("#id_oinfm").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permito de 2.0 Mb.');
$(this).val('');
}
});
$("#id_lizqm").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permito de 2.0 Mb.');
$(this).val('');
}
});
$("#id_frontm").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permito de 2.0 Mb.');
$(this).val('');
}
});
$("#id_lderm").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permito de 2.0 Mb.');
$(this).val('');
}
});
});

username = "{{ request.user.first_name }} {{ request.user.last_name }}";
$("#id_userm").val( username );
</script>

{% endblock %}

{% block content %}
<form method="post" enctype='multipart/form-data'>
    {% csrf_token %}

    {{form.fichas}}

    <h1> <center> Imagenes modelo de aparato </center></h1>
        <div class="col-md-12 col-md-offset-2">
        <div class="form-group">
            <div class="col-md-4">
            <label for="codigo">N° de Expediente </label>   
            <input id="codigo" class="form-control" type="text" disabled="True">
            <br>
            </div>
            <div class="col-md-4">
            <label for="ficha">N° de Ficha</label>  
            <input id="ficha" class="form-control" type="text" disabled="True">
            <br>
            </div>
        </div>
        <br>
    </div>

<br><br><br><br><br><br><br><br>

{{form.userm}}

<div class="panel panel-primary">
      <div class="panel-heading"> 
       <h4 class="panel-title">Imágenes del modelo</h4>
      </div>
    
     <div class="panel-body">
    <br>
        <div class="col-md-5">
            <div class="form-group">
                <label for="{{form.osupm.name}}">{{form.osupm.label}}</label>
                {{form.osupm}} 
                <br>
                <label for="{{form.oinfm.name}}">{{form.oinfm.label}}</label> 
                {{form.oinfm}}
                <br>
                <label for="{{form.lizqm.name}}">{{form.lizqm.label}}</label> 
                {{form.lizqm}}
                <br>  
                <label for="{{form.frontm.name}}">{{form.frontm.label}}</label> 
                {{form.frontm}}
                <br>  
                <label for="{{form.lderm.name}}">{{form.lderm.label}}</label> 
                {{form.lderm}}
                <br>  
            </div>

        </div>
            <div class="col-sm-2 col-md-offset-5" class="form-group">
                <div class="divOcultar">
                    <button type="button" class="btn btn-success  btn-md" style="margin-top: 25px;" onclick="redireccionar2();"><span class="glyphicon glyphicon-camera" id="boton_reporte"></span> Generar Reporte</button>
                </div>
            </div>        
            <div class="form-group" class="col-md-6 col-md-offset-1">
            <br>
            <table border="0">
                <tr>
                    <td>&nbsp;</td>
                    <td><img id="imgos" width="200" height="120"/></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><img id="imgli" width="200" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td><img id="imgf" width="200" height="120"/></td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img id="imgld" width="200" height="120"/></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><img id="imgoi" width="200" height="120"/></td>
                    <td>&nbsp;</td>
                </tr>
            </table>  
            </div>

        </div> 
    </div>

<br>

    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <div class="col-md-3 col-md-offset-2">
              <a href="/gestor_img/radiograficas/nuevo/{{codi}}/{{num}}" class="btn btn-warning btn-block">Regresar</a>
            </div>
            <div class="col-md-3 col-md-offset-2">
              <center><button type="submit" class="btn btn-success btn-block">Siguiente</button></center>
            </div>
        </div>
        <br><br>
    </div>

<!-- Barra de progreso -->
        <br><br>
        <div class="col-md-10 col-md-offset-1">
        <div class="progress">
            <div class="progress-bar" style="width: 36%;"></div>
        </div>
        </div>

</form>

<script>
    function redireccionar2(){
    var num = $('#ficha').val();
    var codigo = $('#codigo').val();
    window.open("/reportes/reportes_imagenes_modelo/"+codigo+"/"+num);
}
</script>
{% endblock %}