{% extends 'base/base_img_consultar.html' %}
{% load staticfiles %}

{% block title %}
    Imágenes de Paciente
{% endblock %}

{% block header %}
<style type="text/css">
    .divOcultar{
    display: none;
    }

    .divOcultar2{
    display: none;
}
</style>
{% endblock %}

{% block menu-social %}
  <!-- Menu Social -->

  <div class="social">
    <ul>

     <li>
        <a href="/informacion/motivo_consultas/nuevo/{{codi}}/{{num}}">
        <img class="icon-expediente" src="/media/imagenes/Menu/windows.png"></a>
      </li>

      <li>
        <a href="/citas/nuevo/{{codi}}/{{num}}">
        <img class="icon-cita" src="/media/imagenes/Menu/calendar.png"></a>
      </li>     
      
    </ul>
  </div>
{% endblock %}

{% block extrajs %}

<script type="text/javascript">
    $('#codigo').val("{{codi}}");
    $('#ficha').val("{{num}}");  
$(document).ready(function(){
    
    var codigo = $('#codigo').val();
    var numero = $('#ficha').val();

    $.ajax({
        data : {'codigo':codigo,'numero':numero},
        url : '/gestor_img/paciente/mostrar/',
        type : 'get',
        success : function(data) {
            for (var i = 0; i < data.length; i++) {
                img1 = data[i].fields.pfacial;
                img2 = data[i].fields.pfrontal; 
                img3 = data[i].fields.psonrisa;
                img4 = data[i].fields.osuperior;
                img5 = data[i].fields.oinferior;
                img6 = data[i].fields.lizquierdo;
                img7 = data[i].fields.frontal;
                img8 = data[i].fields.lderecho;

                if ($("#control").val() == 1) {
                    if (img1 != '') {
                        if (img2 != '') {
                            if (img3 != '') {
                                if (img4 != '') {
                                    if (img5 != '') {
                                        if (img6 != '') {
                                            if (img7 != '') {
                                                if (img8 != '') {
                                                    $(".divOcultar2").css("display", "none");
                                                    $(".divOcultar").css("display", "block");
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                if (img1 != "") {
                    document.getElementById("c11").style.display = 'inline';
                    document.getElementById("v1").src="{% static 'images/ver.png' %}";
                }
                else{
                    document.getElementById("v1").src="{% static 'images/nover.png' %}";
                }
                if (img2 != "") {
                    document.getElementById("c12").style.display = 'inline';
                    document.getElementById("v2").src="{% static 'images/ver.png' %}";
                }
                else{
                    document.getElementById("v2").src="{% static 'images/nover.png' %}";
                }
                if (img3 != "") {
                    document.getElementById("c13").style.display = 'inline';
                    document.getElementById("v3").src="{% static 'images/ver.png' %}";
                }
                else{
                    document.getElementById("v3").src="{% static 'images/nover.png' %}";
                }
                if (img4 != "") {
                    document.getElementById("c14").style.display = 'inline';
                    document.getElementById("v4").src="{% static 'images/ver.png' %}";
                }
                else{
                    document.getElementById("v4").src="{% static 'images/nover.png' %}";
                }
                if (img5 != "") {
                    document.getElementById("c15").style.display = 'inline';
                    document.getElementById("v5").src="{% static 'images/ver.png' %}";
                }
                else{
                    document.getElementById("v5").src="{% static 'images/nover.png' %}";
                }
                if (img6 != "") {
                    document.getElementById("c16").style.display = 'inline';
                    document.getElementById("v6").src="{% static 'images/ver.png' %}";
                }
                else{
                    document.getElementById("v6").src="{% static 'images/nover.png' %}";
                }
                if (img7 != "") {
                    document.getElementById("c17").style.display = 'inline';
                    document.getElementById("v7").src="{% static 'images/ver.png' %}";
                }
                else{
                    document.getElementById("v7").src="{% static 'images/nover.png' %}";
                }
                if (img8 != "") {
                    document.getElementById("c18").style.display = 'inline';
                    document.getElementById("v8").src="{% static 'images/ver.png' %}";
                }
                else{
                    document.getElementById("v8").src="{% static 'images/nover.png' %}";
                }
            }
        },
    });
});


document.getElementById("v1").onclick = Asignar1;
document.getElementById("v2").onclick = Asignar2;
document.getElementById("v3").onclick = Asignar3;
document.getElementById("v4").onclick = Asignar4;
document.getElementById("v5").onclick = Asignar5;
document.getElementById("v6").onclick = Asignar6;
document.getElementById("v7").onclick = Asignar7;
document.getElementById("v8").onclick = Asignar8;

function Asignar1() {
    if (img1 != "") {
    document.getElementById("pimg").style.display = 'inline';
    document.getElementById("pimg").src= {{MEDIA_URL}}+img1;
    }
}

function Asignar2() {
    if (img2 != "") {
    document.getElementById("pimg").style.display = 'inline';
    document.getElementById("pimg").src= {{MEDIA_URL}}+img2;
    }
}

function Asignar3() {
    if (img3 != "") {
    document.getElementById("pimg").style.display = 'inline';
    document.getElementById("pimg").src= {{MEDIA_URL}}+img3;
    }
}

function Asignar4() {
    if (img4 != "") {
    document.getElementById("iimg").style.display = 'inline';
    document.getElementById("iimg").src= {{MEDIA_URL}}+img4;
    }
}
function Asignar5() {
    if (img5 != "") {
    document.getElementById("iimg").style.display = 'inline';
    document.getElementById("iimg").src= {{MEDIA_URL}}+img5;
    }
}
function Asignar6() {
    if (img6 != "") {
    document.getElementById("iimg").style.display = 'inline';
    document.getElementById("iimg").src= {{MEDIA_URL}}+img6;
    }
}
function Asignar7() {
    if (img7 != "") {
    document.getElementById("iimg").style.display = 'inline';
    document.getElementById("iimg").src= {{MEDIA_URL}}+img7;
    }
}
function Asignar8() {
    if (img8 != "") {
    document.getElementById("iimg").style.display = 'inline';
    document.getElementById("iimg").src= {{MEDIA_URL}}+img8;
    }
}
function ocultar(){
  var myselect = document.getElementById("control");

  if(myselect.options[myselect.selectedIndex].value == 1){
    document.getElementById("fp2").style.display = "none";
    document.getElementById("fi2").style.display = "none";
    document.getElementById("fp1").style.display = "block";
    document.getElementById("fi1").style.display = "block";
    }

  if(myselect.options[myselect.selectedIndex].value == 2){
    document.getElementById("fp2").style.display = "block";
    document.getElementById("fi2").style.display = "block";
    document.getElementById("fp1").style.display = "none";
    document.getElementById("fi1").style.display = "none";
    }

    var codigo = $('#codigo').val();
    var numero = $('#ficha').val();

    $(".divOcultar").css("display", "none");
    $(".divOcultar2").css("display", "none");
    
    $.ajax({
        data : {'codigo':codigo,'numero':numero},
        url : '/gestor_img/paciente/mostrar2/',
        type : 'get',
        success : function(data) {
            for (var i = 0; i < data.length; i++) {
                img21 = data[i].fields.pfacial2;
                img22 = data[i].fields.pfrontal2; 
                img23 = data[i].fields.psonrisa2;
                img24 = data[i].fields.osuperior2;
                img25 = data[i].fields.oinferior2;
                img26 = data[i].fields.lizquierdo2;
                img27 = data[i].fields.frontal2;
                img28 = data[i].fields.lderecho2;

                if ($("#control").val() == 2) {
                    if (img21 != '') {
                        if (img22 != '') {
                            if (img23 != '') {
                                if (img24 != '') {
                                    if (img25 != '') {
                                        if (img26 != '') {
                                            if (img27 != '') {
                                                if (img28 != '') {
                                                    $(".divOcultar").css("display", "none");
                                                    $(".divOcultar2").css("display", "block");
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }
        },
    });

        $.ajax({
        data : {'codigo':codigo,'numero':numero},
        url : '/gestor_img/paciente/mostrar/',
        type : 'get',
        success : function(data) {
            for (var i = 0; i < data.length; i++) {
                img1 = data[i].fields.pfacial;
                img2 = data[i].fields.pfrontal; 
                img3 = data[i].fields.psonrisa;
                img4 = data[i].fields.osuperior;
                img5 = data[i].fields.oinferior;
                img6 = data[i].fields.lizquierdo;
                img7 = data[i].fields.frontal;
                img8 = data[i].fields.lderecho;

                if ($("#control").val() == 1) {
                    if (img1 != '') {
                        if (img2 != '') {
                            if (img3 != '') {
                                if (img4 != '') {
                                    if (img5 != '') {
                                        if (img6 != '') {
                                            if (img7 != '') {
                                                if (img8 != '') {
                                                    $(".divOcultar2").css("display", "none");
                                                    $(".divOcultar").css("display", "block");
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }
        },
    });


}

$(document).ready(function(){

    var codigo = $('#codigo').val();
    var numero = $('#ficha').val();

    $.ajax({
        data : {'codigo':codigo,'numero':numero},
        url : '/gestor_img/paciente/mostrar2/',
        type : 'get',
        success : function(data) {
            for (var i = 0; i < data.length; i++) {
                img21 = data[i].fields.pfacial2;
                img22 = data[i].fields.pfrontal2; 
                img23 = data[i].fields.psonrisa2;
                img24 = data[i].fields.osuperior2;
                img25 = data[i].fields.oinferior2;
                img26 = data[i].fields.lizquierdo2;
                img27 = data[i].fields.frontal2;
                img28 = data[i].fields.lderecho2;

                if ($("#control").val() == 2) {
                    if (img21 != '') {
                        if (img22 != '') {
                            if (img23 != '') {
                                if (img24 != '') {
                                    if (img25 != '') {
                                        if (img26 != '') {
                                            if (img27 != '') {
                                                if (img28 != '') {
                                                    $(".divOcultar").css("display", "none");
                                                    $(".divOcultar2").css("display", "block");
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                if (img21 != "") {
                    document.getElementById("c21").style.display = 'inline';
                    document.getElementById("v21").src="{% static 'images/ver.png' %}";
                }
                else{
                    document.getElementById("v21").src="{% static 'images/nover.png' %}";
                }
                if (img22 != "") {
                    document.getElementById("c22").style.display = 'inline';
                    document.getElementById("v22").src="{% static 'images/ver.png' %}";
                }
                else{
                    document.getElementById("v22").src="{% static 'images/nover.png' %}";
                }
                if (img23 != "") {
                    document.getElementById("c23").style.display = 'inline';
                    document.getElementById("v23").src="{% static 'images/ver.png' %}";
                }
                else{
                    document.getElementById("v23").src="{% static 'images/nover.png' %}";
                }
                if (img24 != "") {
                    document.getElementById("c24").style.display = 'inline';
                    document.getElementById("v24").src="{% static 'images/ver.png' %}";
                }
                else{
                    document.getElementById("v24").src="{% static 'images/nover.png' %}";
                }
                if (img25 != "") {
                    document.getElementById("c25").style.display = 'inline';
                    document.getElementById("v25").src="{% static 'images/ver.png' %}";
                }
                else{
                    document.getElementById("v25").src="{% static 'images/nover.png' %}";
                }
                if (img26 != "") {
                    document.getElementById("c26").style.display = 'inline';
                    document.getElementById("v26").src="{% static 'images/ver.png' %}";
                }
                else{
                    document.getElementById("v26").src="{% static 'images/nover.png' %}";
                }
                if (img27 != "") {
                    document.getElementById("c27").style.display = 'inline';
                    document.getElementById("v27").src="{% static 'images/ver.png' %}";
                }
                else{
                    document.getElementById("v27").src="{% static 'images/nover.png' %}";
                }
                if (img28 != "") {
                    document.getElementById("c28").style.display = 'inline';
                    document.getElementById("v28").src="{% static 'images/ver.png' %}";
                }
                else{
                    document.getElementById("v28").src="{% static 'images/nover.png' %}";
                }
            }
        },
    });
});

document.getElementById("v21").onclick = Asignar21;
document.getElementById("v22").onclick = Asignar22;
document.getElementById("v23").onclick = Asignar23;
document.getElementById("v24").onclick = Asignar24;
document.getElementById("v25").onclick = Asignar25;
document.getElementById("v26").onclick = Asignar26;
document.getElementById("v27").onclick = Asignar27;
document.getElementById("v28").onclick = Asignar28;

function Asignar21() {
    if (img21 != "") {
    document.getElementById("pimg2").style.display = 'inline';
    document.getElementById("pimg2").src= {{MEDIA_URL}}+img21;
    }
}

function Asignar22() {
    if (img22 != "") {
    document.getElementById("pimg2").style.display = 'inline';
    document.getElementById("pimg2").src= {{MEDIA_URL}}+img22;
    }
}

function Asignar23() {
    if (img23 != "") {
    document.getElementById("pimg2").style.display = 'inline';
    document.getElementById("pimg2").src= {{MEDIA_URL}}+img23;
    }
}

function Asignar24() {
    if (img24 != "") {
    document.getElementById("iimg2").style.display = 'inline';
    document.getElementById("iimg2").src= {{MEDIA_URL}}+img24;
    }
}
function Asignar25() {
    if (img25 != "") {
    document.getElementById("iimg2").style.display = 'inline';
    document.getElementById("iimg2").src= {{MEDIA_URL}}+img25;
    }
}
function Asignar26() {
    if (img26 != "") {
    document.getElementById("iimg2").style.display = 'inline';
    document.getElementById("iimg2").src= {{MEDIA_URL}}+img26;
    }
}
function Asignar27() {
    if (img27 != "") {
    document.getElementById("iimg2").style.display = 'inline';
    document.getElementById("iimg2").src= {{MEDIA_URL}}+img27;
    }
}
function Asignar28() {
    if (img28 != "") {
    document.getElementById("iimg2").style.display = 'inline';
    document.getElementById("iimg2").src= {{MEDIA_URL}}+img28;
    }
}

$(document).ready(function() {

$("#id_pfacial").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permitido de 2.0 Mb.');
$(this).val('');
}
});

$("#id_pfrontal").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permitido de 2.0 Mb.');
$(this).val('');
}
});

$("#id_psonrisa").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permitido de 2.0 Mb.');
$(this).val('');
}
});

$("#id_osuperior").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permitido de 2.0 Mb.');
$(this).val('');
}
});

$("#id_oinferior").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permitido de 2.0 Mb.');
$(this).val('');
}
});

$("#id_lizquierdo").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permitido de 2.0 Mb.');
$(this).val('');
}
});

$("#id_frontal").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permitido de 2.0 Mb.');
$(this).val('');
}
});

$("#id_lderecho").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permitido de 2.0 Mb.');
$(this).val('');
}
});

$("#id_pfacial2").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permitido de 2.0 Mb.');
$(this).val('');
}
});

$("#id_pfrontal2").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permitido de 2.0 Mb.');
$(this).val('');
}
});

$("#id_psonrisa2").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permitido de 2.0 Mb.');
$(this).val('');
}
});

$("#id_osuperior2").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permitido de 2.0 Mb.');
$(this).val('');
}
});

$("#id_oinferior2").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permitido de 2.0 Mb.');
$(this).val('');
}
});

$("#id_lizquierdo2").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permitido de 2.0 Mb.');
$(this).val('');
}
});

$("#id_frontal2").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permitido de 2.0 Mb.');
$(this).val('');
}
});

$("#id_lderecho2").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permitido de 2.0 Mb.');
$(this).val('');
}
});
});

usernameone = "{{ request.user.first_name }} {{ request.user.last_name }}";
$("#id_userone").val( usernameone );

usernametwo = "{{ request.user.first_name }} {{ request.user.last_name }}";
$("#id_usertwo").val( usernametwo );
</script>

{% endblock %}

{% block content %}
<form method="post" enctype='multipart/form-data'>
    {% csrf_token %}

    {{form.fichas}}

    <br>
    <h1><center> Imágenes del Paciente </center></h1>
        <div class="col-md-12 col-md-offset-2">
        <div class="form-group">
            <div class="col-md-4">
            <label for="codigo">N° de Expediente </label>   
            <input id="codigo" class="form-control" type="text" disabled="True">
            <br>
            </div>
            <div class="col-md-4">
            <label for="ficha">N° de Ficha</label>  
            <input id="ficha" class="form-control" type="text" disabled="True">
            <br>
            </div>
        </div>
        <br>
    </div>

<div style="margin-left: 475px;" class="col-md-2 col-md-offset-2" class="form-group">
  <label for="control">Control:</label>
  <select class="form-control" id="control" onChange="ocultar();">
    <option value = "1">Inicial</option>
    <option value = "2">Control 2</option>
  </select>

</div>


<div class="col-md-3" class="form-group">
    <div class="divOcultar">
        <button type="button" class="btn btn-success" style="margin-top: 25px;" onclick="redireccionar2();"><span class="glyphicon glyphicon-camera" id="boton_reporte"></span> Reporte Fotografías</button>
    </div>
</div>

<div class="col-md-3" class="form-group">
    <div class="divOcultar2">
        <button type="button" class="btn btn-success" style="margin-top: 25px;" onclick="redireccionar22();"><span class="glyphicon glyphicon-camera" id="boton_reporte2"></span> Reporte Fotografías</button>
    </div>
</div>

<br><br><br><br><br><br><br><br>

{{form.userone}}
{{form2.usertwo}}

<div id="fp1" class="panel panel-success">
      <div class="panel-heading"> 
       <h4 class="panel-title">Imágenes del Paciente: <b>Control Inicial</b></h4>
      </div>
    
     <div class="panel-body"><br>
        <div class="col-md-5">
            <div class="form-group">
                <label for="{{form.pfacial.name}}">{{form.pfacial.label}}</label>
                {{form.pfacial}} 
                <p id="c11" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br>
                <label for="{{form.pfrontal.name}}">{{form.pfrontal.label}}</label> 
                {{form.pfrontal}}
                <p id="c12" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br>
                <label for="{{form.psonrisa.name}}">{{form.psonrisa.label}}</label>
                {{form.psonrisa}}
                <p id="c13" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br>   
            </div>            
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <br>
                <img id="v1">
                <br>
                <br>
                <br>
                <br>
                <img id="v2">  
                <br>
                <br>
                <br>
                <img id="v3"> 
                <br>   
            </div>            
        </div> 
        <div class="col-md-5 col-md-offset-1">
            <div class="form-group">
            <img id="pimg" width="400" height="450" style='display:none;'/>
            </div>            
        </div> 
    </div>
</div>

<br>

<div id="fi1" class="panel panel-success">
      <div class="panel-heading"> 
        <h4 class="panel-title">Fotografías intraorales: <b>Control Inicial</b></h4>
      </div>
    
     <div class="panel-body"><br>
        <div class="col-md-5">
            <div class="form-group">
                <label for="{{form.osuperior.name}}">{{form.osuperior.label}}</label>  
                {{form.osuperior}}
                <p id="c14" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br>
                <label for="{{form.oinferior.name}}">{{form.oinferior.label}}</label>   
                {{form.oinferior}}
                <p id="c15" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br>
                <label for="{{form.lizquierdo.name}}">{{form.lizquierdo.label}}</label>   
                {{form.lizquierdo}}
                <p id="c16" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br>
                <label for="{{form.frontal.name}}">{{form.frontal.label}}</label>
                {{form.frontal}}
                <p id="c17" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br>
                <label for="{{form.lderecho.name}}">{{form.lderecho.label}}</label>  
                {{form.lderecho}}
                <p id="c18" style="display:none;color:green;">Este campo ya posee una imagen</p>
            </div> 
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <br>
                <img id="v4">
                <br>
                <br>
                <br>
                <br>
                <img id="v5">  
                <br>
                <br>
                <br>
                <img id="v6"> 
                <br>   
                <br>
                <br>
                <img id="v7"> 
                <br>
                <br>
                <br>
                <br>
                <img id="v8"> 
            </div>            
        </div>
        <div class="col-md-5 col-md-offset-1">
            <div class="form-group">
            <img id="iimg" width="400" height="450" style='display:none;'/>
            </div>            
        </div> 
    </div>
</div>

<div id="fp2" style='display:none;' class="panel panel-success">
      <div class="panel-heading"> 
       <h4 class="panel-title">Imágenes del Paciente: <b>Control 2</b></h4>
      </div>
    
     <div class="panel-body"><br>
        <div class="col-md-5">
            <div class="form-group">
                <label for="{{form2.pfacial2.name}}">{{form2.pfacial2.label}}</label>
                {{form2.pfacial2}} 
                <p id="c21" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br>
                <label for="{{form2.pfrontal2.name}}">{{form2.pfrontal2.label}}</label> 
                {{form2.pfrontal2}}
                <p id="c22" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br>
                <label for="{{form2.psonrisa2.name}}">{{form2.psonrisa2.label}}</label>
                {{form2.psonrisa2}}
                <p id="c23" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br>   
            </div>            
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <br>
                <img id="v21">
                <br>
                <br>
                <br>
                <br>
                <img id="v22">  
                <br>
                <br>
                <br>
                <img id="v23"> 
                <br>   
            </div>            
        </div> 
        <div class="col-md-5 col-md-offset-1">
            <div class="form-group">
            <img id="pimg2" width="400" height="450" style='display:none;'/>
            </div>            
        </div> 
    </div>
</div>

<br>

<div id="fi2" style='display:none;' class="panel panel-success">
      <div class="panel-heading"> 
        <h4 class="panel-title">Fotografías intraorales: <b>Control 2</b></h4>
      </div>
    
     <div class="panel-body"><br>
        <div class="col-md-5">
            <div class="form-group">
                <label for="{{form2.osuperior2.name}}">{{form2.osuperior2.label}}</label>  
                {{form2.osuperior2}}
                <p id="c24" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br>
                <label for="{{form2.oinferior2.name}}">{{form2.oinferior2.label}}</label>   
                {{form2.oinferior2}}
                <p id="c25" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br>
                <label for="{{form2.lizquierdo2.name}}">{{form2.lizquierdo2.label}}</label>   
                {{form2.lizquierdo2}}
                <p id="c26" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br>
                <label for="{{form2.frontal2.name}}">{{form2.frontal2.label}}</label>
                {{form2.frontal2}}
                <p id="c27" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br>
                <label for="{{form2.lderecho2.name}}">{{form2.lderecho2.label}}</label>  
                {{form2.lderecho2}}
                <p id="c28" style="display:none;color:green;">Este campo ya posee una imagen</p>
            </div> 
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <br>
                <img id="v24">
                <br>
                <br>
                <br>
                <br>
                <img id="v25">  
                <br>
                <br>
                <br>
                <img id="v26"> 
                <br>   
                <br>
                <br>
                <img id="v27"> 
                <br>
                <br>
                <br>
                <br>
                <img id="v28"> 
            </div>            
        </div>
        <div class="col-md-5 col-md-offset-1">
            <div class="form-group">
            <img id="iimg2" width="400" height="450" style='display:none;'/>
            </div>            
        </div> 
    </div>
</div>

<div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <br>
            <div class="col-md-3 col-md-offset-2">
              <a href="/home/" class="btn btn-default btn-block">Inicio</a>
            </div> 

            <div class="col-md-3 col-md-offset-1">
              <center><button type="submit" class="btn btn-success btn-block">Siguiente</button></center>
            </div>
        
        </div>
        <br><br>
    </div>

    <!-- Barra de progreso -->
        <br><br>
        <div class="col-md-10 col-md-offset-1">
        <div class="progress">
            <div class="progress-bar progress-bar-success" style="width: 25%;"></div>
        </div>
        </div>

</form>

<script type="text/javascript">


function redireccionar2(){
    var num = $('#ficha').val();
    var codigo = $('#codigo').val();
    window.open("/reportes/reportes_imagenes/"+codigo+"/"+num);
}

function redireccionar22(){
    var num = $('#ficha').val();
    var codigo = $('#codigo').val();
    window.open("/reportes/reportes_imagenes2/"+codigo+"/"+num);
}
</script>
{% endblock %}
