{% extends 'base/base_editar.html' %}
{% load staticfiles %}

{% block title %}
    Fotos radiográficas
{% endblock %}

{% block header %}

{% endblock %}

{% block menu-social %}
  <!-- Menu Social -->

  <div class="social">
    <ul>
      <li>
        <a href="/citas/nuevo/{{codi}}/{{num}}">
        <img class="icon-cita" src="/media/imagenes/Menu/calendar.png"></a>
      </li>
      
    </ul>
  </div>
{% endblock %}

{% block extrajs %}

<script type="text/javascript">
    $('#codigo').val("{{codi}}");
    $('#ficha').val("{{num}}");  

function ocultar(){
  var myselect = document.getElementById("control");

  if(myselect.options[myselect.selectedIndex].value == 1){
    document.getElementById("ir").style.display = "block";
    document.getElementById("tr").style.display = "none";
    document.getElementById("sr").style.display = "none";
    }

  if(myselect.options[myselect.selectedIndex].value == 2){
    document.getElementById("ir").style.display = "none";
    document.getElementById("tr").style.display = "block";
    document.getElementById("sr").style.display = "none";
    }

  if(myselect.options[myselect.selectedIndex].value == 3){
    document.getElementById("ir").style.display = "none";
    document.getElementById("tr").style.display = "none";
    document.getElementById("sr").style.display = "block";
    }
}

$(document).ready(function(){

    var codigo = $('#codigo').val();
    var numero = $('#ficha').val();

    $.ajax({
        data : {'codigo':codigo,'numero':numero},
        url : '/gestor_img/radiograficas/mostrarr/',
        type : 'get',
        success : function(data) {
            for (var i = 0; i < data.length; i++) {
                irp = data[i].fields.ipano;
                irc = data[i].fields.icefa; 
                trp = data[i].fields.tpano;
                trc = data[i].fields.tcefa;
                srp = data[i].fields.spano;
                src = data[i].fields.scefa;

                if (irp != "") {
                document.getElementById("c1").style.display = 'inline';
                }
                if (irc != "") {
                document.getElementById("c2").style.display = 'inline';
                }
                if (trp != "") {
                document.getElementById("c3").style.display = 'inline';
                }
                if (trc != "") {
                document.getElementById("c4").style.display = 'inline';
                }
                if (srp != "") {
                document.getElementById("c5").style.display = 'inline';
                }
                if (src != "") {
                document.getElementById("c6").style.display = 'inline';
                }
            }
        },
    });
});

document.getElementById("ip").onclick = Asignarip;
document.getElementById("ic").onclick = Asignaric;
document.getElementById("tp").onclick = Asignartp;
document.getElementById("tc").onclick = Asignartc;
document.getElementById("sp").onclick = Asignarsp;
document.getElementById("sc").onclick = Asignarsc;


function Asignarip() {
    document.getElementById("iimg").style.display = 'inline';
    document.getElementById("iimg").src= {{MEDIA_URL}}+irp;
}

function Asignaric() {
    document.getElementById("iimg").style.display = 'inline';
    document.getElementById("iimg").src= {{MEDIA_URL}}+irc;
}

function Asignartp() {
    document.getElementById("timg").style.display = 'inline';
    document.getElementById("timg").src= {{MEDIA_URL}}+trp;
}

function Asignartc() {
    document.getElementById("timg").style.display = 'inline';
    document.getElementById("timg").src= {{MEDIA_URL}}+trc;
}
function Asignarsp() {
    document.getElementById("simg").style.display = 'inline';
    document.getElementById("simg").src= {{MEDIA_URL}}+srp;
}
function Asignarsc() {
    document.getElementById("simg").style.display = 'inline';
    document.getElementById("simg").src= {{MEDIA_URL}}+src;
}

$(document).ready(function() {

$("#id_ipano").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permito de 2.0 Mb.');
$(this).val('');
}
});

$("#id_icefa").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permito de 2.0 Mb.');
$(this).val('');
}
});

$("#id_tpano").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permito de 2.0 Mb.');
$(this).val('');
}
});

$("#id_tcefa").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permito de 2.0 Mb.');
$(this).val('');
}
});

$("#id_spano").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permito de 2.0 Mb.');
$(this).val('');
}
});

$("#id_scefa").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permito de 2.0 Mb.');
$(this).val('');
}
});
});

</script>

{% endblock %}

{% block content %}
<form method="post" enctype='multipart/form-data'>
    {% csrf_token %}

    {{form.fichas}}

    <h1> <center> Fotos radiográficas </center></h1>
        <div class="col-md-12 col-md-offset-2">
        <div class="form-group">
            <div class="col-md-4">
            <label for="codigo">N° de Expediente </label>   
            <input id="codigo" class="form-control" type="text" disabled="True">
            <br>
            </div>
            <div class="col-md-4">
            <label for="ficha">N° de Ficha</label>  
            <input id="ficha" class="form-control" type="text" disabled="True">
            <br>
            </div>
        </div>
        <br>
    </div>

<div style="margin-left: 475px;" class="col-md-2 col-md-offset-2" class="form-group">
  <label for="control">Control:</label>
  <select class="form-control" id="control" onChange="ocultar();">
    <option value = "1">Inicial</option>
    <option value = "2">Trazados</option>
    <option value = "3">Seguimiento</option>
  </select>
</div>

<br><br><br><br><br><br><br><br>

<div id="ir" class="panel panel-primary">
      <div class="panel-heading"> 
       <h4 class="panel-title">Fotos Radiográficas</h4>
       <br>
       <h4 class="panel-title">Control inicial</h4>
      </div>
    
     <div class="panel-body">
    <br>
        <div class="col-md-5">
            <div class="form-group">
                <label for="{{form.ipano.name}}">{{form.ipano.label}}</label>
                {{form.ipano}} 
                <p id="c1" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br>
                <label for="{{form.icefa.name}}">{{form.icefa.label}}</label> 
                {{form.icefa}}
                <p id="c2" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br>   
            </div>            
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <br>
                <img id="ip" src=" {% static 'images/ver.png' %}">
                <br>
                <br>
                <br>
                <br>
                <img id="ic" src=" {% static 'images/ver.png' %}">  
                <br>   
            </div>            
        </div> 
        <div class="col-md-5 col-md-offset-1">
            <div class="form-group">
            <img id="iimg" width="400" height="450" style='display:none;'/>
            </div>            
        </div> 
    </div>
</div>

<div id="tr" style='display:none;' class="panel panel-primary">
      <div class="panel-heading"> 
       <h4 class="panel-title">Fotos Radiográficas</h4>
       <br>
       <h4 class="panel-title">Control trazados</h4>
      </div>
    
     <div class="panel-body">
    <br>
        <div class="col-md-5">
            <div class="form-group">
                <label for="{{form.tpano.name}}">{{form.tpano.label}}</label>
                {{form.tpano}} 
                <p id="c3" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br>
                <label for="{{form.tcefa.name}}">{{form.tcefa.label}}</label> 
                {{form.tcefa}}
                <p id="c4" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br>   
            </div>            
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <br>
                <img id="tp" src=" {% static 'images/ver.png' %}">
                <br>
                <br>
                <br>
                <br>
                <img id="tc" src=" {% static 'images/ver.png' %}">  
                <br>   
            </div>            
        </div> 
        <div class="col-md-5 col-md-offset-1">
            <div class="form-group">
            <img id="timg" width="400" height="450" style='display:none;'/>
            </div>            
        </div> 
    </div>
</div>

<div id="sr" style='display:none;' class="panel panel-primary">
      <div class="panel-heading"> 
       <h4 class="panel-title">Fotos Radiográficas</h4>
       <br>
       <h4 class="panel-title">Control seguimiento</h4>
      </div>
    
     <div class="panel-body">
    <br>
        <div class="col-md-5">
            <div class="form-group">
                <label for="{{form.spano.name}}">{{form.spano.label}}</label>
                {{form.spano}}
                <p id="c5" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br>
                <label for="{{form.scefa.name}}">{{form.scefa.label}}</label> 
                {{form.scefa}}
                <p id="c6" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br>   
            </div>            
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <br>
                <img id="sp" src=" {% static 'images/ver.png' %}">
                <br>
                <br>
                <br>
                <br>
                <img id="sc" src=" {% static 'images/ver.png' %}">  
                <br>   
            </div>            
        </div> 
        <div class="col-md-5 col-md-offset-1">
            <div class="form-group">
            <img id="simg" width="400" height="450" style='display:none;'/>
            </div>            
        </div> 
    </div>
</div>

<br>

    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <div class="col-md-3 col-md-offset-2">
              <a href="/aspectos/mordidas/nuevo/{{codi}}/{{num}}" class="btn btn-warning btn-block">Regresar</a>
            </div>
            <div class="col-md-3 col-md-offset-2">
              <center><button type="submit" class="btn btn-success btn-block">Siguiente</button></center>
            </div>
        </div>
        <br><br>
    </div>

<!-- Barra de progreso -->
        <br><br>
        <div class="col-md-10 col-md-offset-1">
        <div class="progress">
            <div class="progress-bar" style="width: 36%;"></div>
        </div>
        </div>

</form>
{% endblock %}
