{% extends 'base/base_img.html' %}
{% load staticfiles %}

{% block title %}
    Imágenes Radiográficas
{% endblock %}

{% block header %}
<style type="text/css">
    .botonprint{
    display: none;
    }
</style>
{% endblock %}

{% block menu-social %}
  <!-- Menu Social -->

  <div class="social">
    <ul>

      <li>
        <a href="/informacion/motivo_consultas/nuevo/{{codi}}/{{num}}">
        <img class="icon-expediente" src="/media/imagenes/Menu/windows.png"></a>
      </li>

      <li>
        <a href="/citas/nuevo/{{codi}}/{{num}}">
        <img class="icon-cita" src="/media/imagenes/Menu/calendar.png"></a>
      </li>
      
    </ul>
  </div>
{% endblock %}

{% block extrajs %}

<script type="text/javascript">
    $('#codigo').val("{{codi}}");
    $('#ficha').val("{{num}}");  

function ocultar(){
  var myselect = document.getElementById("control");

  if(myselect.options[myselect.selectedIndex].value == 1){
    document.getElementById("ir").style.display = "block";
    document.getElementById("tr").style.display = "none";
    document.getElementById("sr").style.display = "none";
    }

  if(myselect.options[myselect.selectedIndex].value == 2){
    document.getElementById("ir").style.display = "none";
    document.getElementById("tr").style.display = "block";
    document.getElementById("sr").style.display = "none";
    }

  if(myselect.options[myselect.selectedIndex].value == 3){
    document.getElementById("ir").style.display = "none";
    document.getElementById("tr").style.display = "none";
    document.getElementById("sr").style.display = "block";
    }
}

$(document).ready(function(){

    var codigo = $('#codigo').val();
    var numero = $('#ficha').val();

    $.ajax({
        data : {'codigo':codigo,'numero':numero},
        url : '/gestor_img/radiograficas/mostrarr/',
        type : 'get',
        success : function(data) {
            for (var i = 0; i < data.length; i++) {
                irp = data[i].fields.ipano;
                irc = data[i].fields.icefa; 
                trp = data[i].fields.tpano;
                trc = data[i].fields.tcefa;
                srp = data[i].fields.spano;
                src = data[i].fields.scefa;

                if (irp!='') {
                    $("#print_ipano").removeClass('botonprint');
                }

                if (irc!='') {
                    $("#print_icefa").removeClass('botonprint');
                }

                if (trp!='') {
                    $("#print_tpano").removeClass('botonprint');
                }

                if (trc!='') {
                    $("#print_tcefa").removeClass('botonprint');
                }

                if (srp!='') {
                    $("#print_spano").removeClass('botonprint');
                }

                if (src!='') {
                    $("#print_scefa").removeClass('botonprint');
                }

                if (irp != "") {
                    document.getElementById("c1").style.display = 'inline';
                    document.getElementById("ip").src="{% static 'images/ver.png' %}";
                }
                else{
                    document.getElementById("ip").src="{% static 'images/nover.png' %}";
                }
                if (irc != "") {
                    document.getElementById("c2").style.display = 'inline';
                    document.getElementById("ic").src="{% static 'images/ver.png' %}";
                }
                else{
                    document.getElementById("ic").src="{% static 'images/nover.png' %}";
                }
                if (trp != "") {
                    document.getElementById("c3").style.display = 'inline';
                    document.getElementById("tp").src="{% static 'images/ver.png' %}";
                }
                else{
                    document.getElementById("tp").src="{% static 'images/nover.png' %}";
                }
                if (trc != "") {
                    document.getElementById("c4").style.display = 'inline';
                    document.getElementById("tc").src="{% static 'images/ver.png' %}";
                }
                else{
                    document.getElementById("tc").src="{% static 'images/nover.png' %}";
                }
                if (srp != "") {
                    document.getElementById("c5").style.display = 'inline';
                    document.getElementById("sp").src="{% static 'images/ver.png' %}";
                }
                else{
                    document.getElementById("sp").src="{% static 'images/nover.png' %}";
                }
                if (src != "") {
                    document.getElementById("c6").style.display = 'inline';
                    document.getElementById("sc").src="{% static 'images/ver.png' %}";
                }
                else{
                    document.getElementById("sc").src="{% static 'images/nover.png' %}";
                }
            }
        },
    });
});

document.getElementById("ip").onclick = Asignarip;
document.getElementById("ic").onclick = Asignaric;
document.getElementById("tp").onclick = Asignartp;
document.getElementById("tc").onclick = Asignartc;
document.getElementById("sp").onclick = Asignarsp;
document.getElementById("sc").onclick = Asignarsc;


function Asignarip() {
    if (irp != "") {
        document.getElementById("iimg").style.display = 'inline';
        document.getElementById("iimg").src= {{MEDIA_URL}}+irp;
    }
}

function Asignaric() {
    if (irc != "") {
        document.getElementById("iimg").style.display = 'inline';
        document.getElementById("iimg").src= {{MEDIA_URL}}+irc;
    }
}

function Asignartp() {
    if (trp != "") {
    document.getElementById("timg").style.display = 'inline';
    document.getElementById("timg").src= {{MEDIA_URL}}+trp;
    }
}

function Asignartc() {
    if (trc != "") {
        document.getElementById("timg").style.display = 'inline';
        document.getElementById("timg").src= {{MEDIA_URL}}+trc;
    }
}
function Asignarsp() {
    if (srp != "") {
        document.getElementById("simg").style.display = 'inline';
        document.getElementById("simg").src= {{MEDIA_URL}}+srp;
    }
}
function Asignarsc() {
    if (src != "") {
        document.getElementById("simg").style.display = 'inline';
        document.getElementById("simg").src= {{MEDIA_URL}}+src;
    }
}

$(document).ready(function() {

$("#id_ipano").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permito de 2.0 Mb.');
$(this).val('');
}
});

$("#id_icefa").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permito de 2.0 Mb.');
$(this).val('');
}
});

$("#id_tpano").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permito de 2.0 Mb.');
$(this).val('');
}
});

$("#id_tcefa").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permito de 2.0 Mb.');
$(this).val('');
}
});

$("#id_spano").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permito de 2.0 Mb.');
$(this).val('');
}
});

$("#id_scefa").bind('change', function(){
//Tamañoen bytes (2.0 Mb)
if (this.files[0].size >= 2097152) {
var tamanio = this.files[0].size/1048576;
tamanio = tamanio.toFixed(2);
alert('ATENCIÓN:\n\nSu archivo pesa '+(tamanio)+' Mb y supera el límite permito de 2.0 Mb.');
$(this).val('');
}
});
});

$(function() {
        $( "#id_ifecha" ).datepicker({
        dateFormat: "dd/mm/yy",
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 1,
        onSelect: function( selected) {
            var fechaParse = new Date($("id_ifecha").val())
            fechaParse.setDate(fechaParse.getDate() + 2);
        }
        });

    });

  $(function() {
        $( "#id_tfecha" ).datepicker({
        dateFormat: "dd/mm/yy",
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 1,
        onSelect: function( selected) {
            var fechaParse = new Date($("id_tfecha").val())
            fechaParse.setDate(fechaParse.getDate() + 2);
        }
        });

    });

  $(function() {
        $( "#id_sfecha" ).datepicker({
        dateFormat: "dd/mm/yy",
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 1,
        onSelect: function( selected) {
            var fechaParse = new Date($("id_sfecha").val())
            fechaParse.setDate(fechaParse.getDate() + 2);
        }
        });

    });

username = "{{ request.user.first_name }} {{ request.user.last_name }}";
$("#id_user").val( username );

</script>

{% endblock %}

{% block content %}
<form method="post" enctype='multipart/form-data'>
    {% csrf_token %}

    {{form.fichas}}

    <br>
    <h1><center> Imagenes Radiográficas </center></h1>
        <div class="col-md-12 col-md-offset-2">
        <div class="form-group">
            <div class="col-md-4">
            <label for="codigo">N° de Expediente </label>   
            <input id="codigo" class="form-control" type="text" disabled="True">
            <br>
            </div>
            <div class="col-md-4">
            <label for="ficha">N° de Ficha</label>  
            <input id="ficha" class="form-control" type="text" disabled="True">
            <br>
            </div>
        </div>
        <br>
    </div>

<div style="margin-left: 475px;" class="col-md-2 col-md-offset-2" class="form-group">
  <label for="control">Control:</label>
  <select class="form-control" id="control" onChange="ocultar();">
    <option value = "1">Inicial</option>
    <option value = "2">Trazados</option>
    <option value = "3">Seguimiento</option>
  </select>
</div>

<br><br><br><br><br><br><br><br>

{{form.user}}

<div id="ir" class="panel panel-primary">
      <div class="panel-heading"> 
       <h4 class="panel-title">Imágenes Radiográficas: <b>Control inicial</b></h4>
      </div>
    
     <div class="panel-body">
    <br>
        <div class="col-md-5">
            <div class="form-group">
                <label for="{{form.ipano.name}}">{{form.ipano.label}}</label>
                {{form.ipano}} 
                <p id="c1" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br>
                <label for="{{form.icefa.name}}">{{form.icefa.label}}</label> 
                {{form.icefa}}
                <p id="c2" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br> 
                <label for="{{form.ifecha.name}}">{{form.ifecha.label}}</label> 
                {{form.ifecha}}
            </div>            
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <br>
                <img id="ip">
                <img class="col-md-offset-2 botonprint" width="40" height="45" id="print_ipano" src=" {% static 'images/print.png' %}" onclick="redireccionar_ipano();">
                <br>
                <br>
                <br>
                <img id="ic">
                <img class="col-md-offset-2 botonprint" width="40" height="45" id="print_icefa" src=" {% static 'images/print.png' %}" onclick="redireccionar_icefa();">  
                <br>   
            </div>
        </div> 
        <div class="col-md-5">
            <div class="form-group">
            <img id="iimg" width="400" height="450" style='display:none;'/>
            </div>            
        </div> 
    </div>
</div>

<div id="tr" style='display:none;' class="panel panel-primary">
      <div class="panel-heading"> 
       <h4 class="panel-title">Imágenes Radiográficas: <b>Control Trazados</b></h4>
      </div>
    
     <div class="panel-body">
    <br>
        <div class="col-md-5">
            <div class="form-group">
                <label for="{{form.tpano.name}}">{{form.tpano.label}}</label>
                {{form.tpano}} 
                <p id="c3" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br>
                <label for="{{form.tcefa.name}}">{{form.tcefa.label}}</label> 
                {{form.tcefa}}
                <p id="c4" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br>
                <label for="{{form.tfecha.name}}">{{form.tfecha.label}}</label> 
                {{form.tfecha}}
            </div>            
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <br>
                <img id="tp">
                <img class="col-md-offset-2 botonprint" width="40" height="45" id="print_tpano" src=" {% static 'images/print.png' %}" onclick="redireccionar_tpano();">
                <br>
                <br>
                <br>
                <img id= "tc">
                <img class="col-md-offset-2 botonprint" width="40" height="45" id="print_tcefa" src=" {% static 'images/print.png' %}" onclick="redireccionar_tcefa();"> 
                <br>   
            </div>            
        </div> 
        <div class="col-md-5">
            <div class="form-group">
            <img id="timg" width="400" height="450" style='display:none;'/>
            </div>            
        </div> 
    </div>
</div>

<div id="sr" style='display:none;' class="panel panel-primary">
      <div class="panel-heading"> 
       <h4 class="panel-title">Imágenes Radiográficas: <b>Control Seguimiento</b></h4>
      </div>
    
     <div class="panel-body">
    <br>
        <div class="col-md-5">
            <div class="form-group">
                <label for="{{form.spano.name}}">{{form.spano.label}}</label>
                {{form.spano}}
                <p id="c5" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br>
                <label for="{{form.scefa.name}}">{{form.scefa.label}}</label> 
                {{form.scefa}}
                <p id="c6" style="display:none;color:green;">Este campo ya posee una imagen</p>
                <br>
                <label for="{{form.sfecha.name}}">{{form.sfecha.label}}</label> 
                {{form.sfecha}}
            </div>            
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <br>
                <img id="sp">
                <img class="col-md-offset-2 botonprint" width="40" height="45" id="print_spano" src=" {% static 'images/print.png' %}" onclick="redireccionar_spano();">
                <br>
                <br>
                <br>
                <img id="sc">
                <img class="col-md-offset-2 botonprint" width="40" height="45" id="print_scefa" src=" {% static 'images/print.png' %}" onclick="redireccionar_scefa();">
                <br>   
            </div>            
        </div> 
        <div class="col-md-5">
            <div class="form-group">
            <img id="simg" width="400" height="450" style='display:none;'/>
            </div>            
        </div> 
    </div>
</div>



    <br>
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <br>
            <div class="col-md-3 col-md-offset-2">
              <a href="/gestor_img/paciente/editar/{{codi}}/{{num}}" class="btn btn-default btn-block">Regresar</a>
            </div> 

            <div class="col-md-3 col-md-offset-1">
              <center><button type="submit" class="btn btn-primary btn-block">Siguiente</button></center>
            </div>
        
        </div>
        <br><br>
    </div>


<!-- Barra de progreso -->
        <br><br>
        <div class="col-md-10 col-md-offset-1">
        <div class="progress">
            <div class="progress-bar" style="width: 50%;"></div>
        </div>
        </div>

</form>

<script>
    function redireccionar_ipano(){
        var num = $('#ficha').val();
        var codigo = $('#codigo').val();
        window.open("/reportes/reportes_imagenes_radiograficas_panoramica_inicial/"+codigo+"/"+num);
    }

    function redireccionar_tpano(){
        var num = $('#ficha').val();
        var codigo = $('#codigo').val();
        window.open("/reportes/reportes_imagenes_radiograficas_panoramica_trazados/"+codigo+"/"+num);
    }

    function redireccionar_spano(){
        var num = $('#ficha').val();
        var codigo = $('#codigo').val();
        window.open("/reportes/reportes_imagenes_radiograficas_panoramica_seguimiento/"+codigo+"/"+num);
    }

    function redireccionar_icefa(){
        var num = $('#ficha').val();
        var codigo = $('#codigo').val();
        window.open("/reportes/reportes_imagenes_radiograficas_cefalometrica_inicial/"+codigo+"/"+num);
    }

    function redireccionar_tcefa(){
        var num = $('#ficha').val();
        var codigo = $('#codigo').val();
        window.open("/reportes/reportes_imagenes_radiograficas_cefalometrica_trazados/"+codigo+"/"+num);
    }

    function redireccionar_scefa(){
        var num = $('#ficha').val();
        var codigo = $('#codigo').val();
        window.open("/reportes/reportes_imagenes_radiograficas_cefalometrica_seguimiento/"+codigo+"/"+num);
    }
</script>
{% endblock %}
