{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<script src="{% static 'js/jquery-3.1.1.js' %}"></script>
	<script src="{% static 'js/jquery-ui.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>


	<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}"> 


	{% block extrastatic %}
	{% endblock %}

	<style type="text/css"> 
		.dropdown-toggle{
		 display:block;
		  width: 9em;
		  word-wrap: break-word;
		} 
		.white {
		    color: white;
		}
	</style>

	<title>{% block title %} Base {% endblock %}</title>
</head>
<body>

<div class="container">

	{% block navbar %}
		<div class="bs-docs-section clearfix">
		    <div class="row">
		        <div class="col-lg-12">
		            <div class="bs-component">
		            	<nav class="navbar navbar-default">
		                	<div class="container-fluid">
		                  		<div class="navbar-header">
		                    		<a class="navbar-brand" href="http://localhost:8000/"><span class="glyphicon glyphicon-home white"></span> SOUES</a>
		                  		</div>
		                  	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		                    	<ul class="nav navbar-nav">
		                      		<li class="dropdown">
		                        		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Informacion General<span class="caret"></span></a>
				                        <ul class="dropdown-menu" role="menu">
				                        	<li><a href="">Datos Generales</a></li>
				                        	<li><a href="">Estado General</a></li>
				                        </ul>
		                      		</li>
			                        <li class="dropdown">
			                        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tipo de Perfil<span class="caret"></span></a>
			                        	<ul class="dropdown-menu" role="menu">
				                          	<li><a href="">Tipo de perfil</a></li>
				                          	<li><a href=" # "></a></li>
			                        	</ul>
			                        </li>
			                        <li class="dropdown">
			                        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Aspectos de Dentici&oacuten<span class="caret"></span></a>
			                        	<ul class="dropdown-menu" role="menu">
				                          	<li><a href=" # "></a></li>
				                          	<li><a href=" # "></a></li>
			                        	</ul>
			                        </li>
			                        <li class="dropdown">
			                        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">An&aacutelisis Radiografico<span class="caret"></span></a>
			                        	<ul class="dropdown-menu" role="menu">
				                          	<li><a href=" # "></a></li>
				                          	<li><a href=" # "></a></li>
			                        	</ul>
			                        </li>
			                        <li class="dropdown">
			                        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">An&aacutelisis Cefalom&eacutetrico<span class="caret"></span></a>
			                        	<ul class="dropdown-menu" role="menu">
				                          	<li><a href=" # "></a></li>
				                          	<li><a href=" # "></a></li>
			                        	</ul>
			                        </li>
			                         <li class="dropdown">
			                        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">An&aacutelisis de Dentici&oacuten<span class="caret"></span></a>
			                        	<ul class="dropdown-menu" role="menu">
				                          	<li><a href=" # "></a></li>
				                          	<li><a href=" # "></a></li>
			                        	</ul>
			                        </li>
			                         <li class="dropdown">
			                        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Diagnostico Ortodontico General<span class="caret"></span></a>
			                        	<ul class="dropdown-menu" role="menu">
				                          	<li><a href=" # "></a></li>
				                          	<li><a href=" # "></a></li>
			                        	</ul>
			                        </li>
		                    	</ul>
		                    	<!-- <ul class="nav navbar-nav navbar-right">
		                        	<li class="dropdown">
		                        		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Opciones<span class="caret"></span></a>
		                        		<ul class="dropdown-menu" role="menu">
		                          			<li><a href="#">Salir</a></li>
		                        		</ul> -->
		                      		</li>
		                    	</ul>
		                    </div>
		                </div>
		            </nav>
		        </div>
           	</div>
        </div>
    </div>   
    <div>
    {% endblock %} 

	{% block header %}
	{% endblock %}

	{% block content %}
	{% endblock %}

	{% block tabla %}
	{% endblock %}	

	
	{% block footer %}
	{% endblock %}

	{% block extrajs %}
	{% endblock %}



	</div>
	
</body>
</html>