{% extends 'base/base.html' %}

{% load staticfiles %}

{% block title %}
    Error 404
{% endblock %}

{% block menu-social %}
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <div class="navbar-header">
                 <button class="navbar-toggle collapsed" type="button" data-toggle="modal" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://localhost:8000/"><span class="glyphicon glyphicon-home white"></span> Home</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="{%url 'logout' %}">Cerrar Sesión</a>
                    </li> 
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <div class="col-md-3">
                        <h6 style="color:white">Hola, <B>{{user}}</B></h6>
                    </div>
                </ul>

            </div>
        </div>
    </nav>
{% endblock %} 



{% block header %}
<style type="text/css">
body { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);
    background-color: #0dabdb;}
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
</style>
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>¡Oops!</h1>
                 <img src="{%  static 'images/404_1.png' %}">
                <h2>404 Not Found</h2>
                <div class="error-details">
                    <h3><b>¡Lo sentimos, ha ocurrido un error!</h3>
                    <h3><b>Las partes para generar este reporte no han sido encontradas</b></h3>
                    <h4><b>Por favor confirme que diagnostico general y diagnostico cefalométrico contengan la información correcta</b></h4>

                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Home </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}