    {% extends 'base/base.html' %}
    {% block header %}
    {% endblock %}

    {% load staticfiles %}

    {% block title %}Nance{% endblock %}

    {% block extrajs %}
    	
    	<script src="{% static 'js/jquery.formset.js' %}"></script>	
        <script src="{% static 'js/analisis_nance_editar.js' %}"></script>

    	<style type="text/css">
    	    
    	    th {
    	    	text-align: center;
                margin: 0px;
    	    }
    	    td {
    			width: 300px;
                margin: 0px;
    	    }
    	    .form-control{
    	    	width: 150px;
                text-align: center;
    	    }
    	</style>
	
	<script>
		$('#total1').val(parseFloat($('#id_1tablas-0-valor_x').val())+parseFloat($('#id_1tablas-1-valor_x').val())+parseFloat($('#id_1tablas-2-valor_x').val())+parseFloat($('#id_1tablas-3-valor_x').val())+parseFloat($('#id_1tablas-4-valor_x').val())+parseFloat($('#id_1tablas-5-valor_x').val())+parseFloat($('#id_1tablas-6-valor_x').val())+parseFloat($('#id_1tablas-7-valor_x').val())+parseFloat($('#id_1tablas-8-valor_x').val())+parseFloat($('#id_1tablas-9-valor_x').val()));
         $('#total2').val(parseFloat($('#id_2tablas-0-valor_x').val())+parseFloat($('#id_2tablas-1-valor_x').val())+parseFloat($('#id_2tablas-2-valor_x').val())+parseFloat($('#id_2tablas-3-valor_x').val())+parseFloat($('#id_2tablas-4-valor_x').val())+parseFloat($('#id_2tablas-5-valor_x').val())+parseFloat($('#id_2tablas-6-valor_x').val())+parseFloat($('#id_2tablas-7-valor_x').val())+parseFloat($('#id_2tablas-8-valor_x').val())+parseFloat($('#id_2tablas-9-valor_x').val()));
         $('#maxilareden').val($('#id_ed_maxi').val()+"-"+$('#total1').val());
         $('#maxilartotal').val($('#id_ed_maxi').val()-$('#total1').val());

          $('#mandibulareden').val($('#id_ed_mand').val()+"-"+$('#total2').val());
         $('#mandibulartotal').val($('#id_ed_mand').val()-$('#total2').val());


	</script>
    	
    {% endblock %}

    {% block content %}

    <div class="row">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        </div>

    <h2><center>Analisis de Nance</center></h2>

<div class="col-md-10 col-md-offset-3">
        <div class="form-group">
            <div class="col-md-4">
            <label for="codigo">N° de Expediente </label>   
            <input id="codigo" class="form-control" type="text" disabled="True">
            <br>
            </div>
            <div class="col-md-4">
            <label for="ficha">N° de Ficha</label>  
            <input id="ficha" class="form-control" type="text" disabled="True">
            <br>
            </div>
            <br>
        </div>
        <br>
</div>
    

<div class="analisis_nance">



    <div class="col-md-10 col-md-offset-1">
    <!-- <h5>Nance</h5> -->

            <form method="POST" action="">
                {% csrf_token %}
                 {{ formset.management_form }}      
                 {{form1.fichas}} 


    <br><br><br>
    <div class="col-md-10 col-md-offset-1">
                
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Espacio Disponible (Medida del Modelo: Alambre de Cobre)</h3>
          </div>

         <div class="panel-body">
         <div class="form-group">
            <div class="col-md-3 col-md-offset-1">
                <label for="{{form1.ed_maxi.name}}">{{form1.ed_maxi.label}}</label> 
                    {{form1.ed_maxi}}
            </div>  
            <div class="col-md-1 ">
                <br><br>    <h4>mm</h4>
            </div>


            <div class="col-md-3 col-md-offset-1">
                <label for="{{form1.ed_mand.name}}">{{form1.ed_mand.label}}</label> 
                    {{form1.ed_mand}}
            </div>
            <div class="col-md-1 ">
                <br><br>    <h4>mm</h4>
            </div>

         </div>
         </div>
        </div>
        <br><br>
    </div>


    

            {{form1.total}}
            {{form1.total2}}   
              <div class="row">
                <div class="col-md-8 col-md-offset-0">
                    <h4 style="color: red">Si el diente esta permanente, ingresar el dato en Valor x</h4>
                </div>
            </div>
    			<table id="1" cellpadding="0" cellspacing="5">
                    <thead>
                        <tr>
                        	<th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Pieza</th>
                            <th scope="col">MdM</th>
                            <th scope="col">MpRx</th>
                            <th scope="col">(MdM)(MpRx)</th>
                            <th scope="col">/MdRx</th>
                            <th scope="col">Valor x</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in formset %}
    			                <tr>
    			                	<td>{{ form.id }}</td>
                                    <td>{{ form.seleccion }}</td>
    			                    <td>{{ form.posicion }}</td>
    			                    <td>{{ form.mdm }}</td>
    			                    <td>{{ form.mprx }}</td>
    			                    <td>{{ form.multiplicacion }}</td>
    			                    <td>{{ form.mdrx }}</td>
    			                    <td>{{ form.valor_x }}</td>
                                    <td>{{ form.fichas }}</td> 
                                    <td>{{ form.tabla }}</td> 
    			                </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
    	                <td></td>
                        <td></td>
    	                <td><label style="">TOTAL</label></td>
    	                <td></td>  
    	                <td></td>
                        <td></td>
                        <td><td><input id="total1" type="Number" step="0.01" class="form-control">
                        </td>
    	                <td></td>
                    </tr>
                    </tfoot>
    			</table>
                 
            
            <br><br>     
            {{ formset2.management_form }}
            <table id="2" cellpadding="0" cellspacing="5">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>          
                            <th scope="col">Pieza</th>
                            <th scope="col">MdM</th>
                            <th scope="col">MpRx</th>
                            <th scope="col">(MdM)(MpRx)</th>
                            <th scope="col">/MdRx</th>
                            <th scope="col">Valor x</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in formset2 %}
                                <tr>
                                    <td>{{ form.id }}</td>
                                    <td>{{ form.seleccion }}</td>
                                    <td>{{ form.posicion }}</td>
                                    <td>{{ form.mdm }}</td>
                                    <td>{{ form.mprx }}</td>
                                    <td>{{ form.multiplicacion }}</td>
                                    <td>{{ form.mdrx }}</td>
                                    <td>{{ form.valor_x }}</td>
                                    <td>{{ form.fichas }}</td> 
                                    <td>{{ form.tabla }}</td> 
                                </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><label style="">TOTAL</label></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><input id="total2" type="Number" step="0.01" class="form-control">
                        </td>
                        <td></td>
                    </tr>
                    </tfoot>
                </table> 


            <br>    
            <div class="col-md-6 col-md-offset-3">
                <table id="3" cellpadding="0" cellspacing="3">
                    <thead>
                        <tr>
                            <th scope="col">DISCREPANCIA</th>          
                            <th scope="col">ED-EN</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td><input id="maxilar" type="Texto" class="form-control"></td>
                                <td><input id="maxilareden" type="Texto" class="form-control"></td>
                                <td><input id="maxilartotal" type="Number" step="0.01" class="form-control"></td>
                            </tr>
                            <tr>
                                <td><input id="mandibular" type="Texto" class="form-control"></td>
                                <td><input id="mandibulareden" type="Texto" class="form-control"></td>
                                <td><input id="mandibulartotal" type="Number" step="0.01" class="form-control"></td>
                            </tr>
                    </tbody>
                  
                </table>  
            </div>



    <br>
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">

            <br><br>
            <div class="col-md-3 col-md-offset-5">
                <center><button type="submit" class="btn btn-success btn-block">Siguiente</button></center>
            </div>
            <br><br>
            
        </div>
    </div>
    </div>

     <!-- Barra de progreso -->
        <br>
        <div class="col-md-10 col-md-offset-1">
        <div class="progress">
            <div class="progress-bar" style="width: 78%;"></div>
        </div>
        </div>
            


            </form>
        </div>
    </div>      
    <script>
//alert({{max}});
    for (var i = 0; i < {{max}}; i++) {
        
        $('#id_1tablas-'+i+'-fichas').val({{ids}});
        $('#id_2tablas-'+i+'-fichas').val({{ids}});
        $('#id_1tablas-'+i+'-tabla').val(1);
        $('#id_2tablas-'+i+'-tabla').val(2); 
    }

    for (var i = 0; i < (({{max}})/2); i++) {
        
        $('#id_1tablas-'+i+'-posicion').val(1+"-"+(i+1));
        $('#id_2tablas-'+i+'-posicion').val(3+"-"+(i+1));
    }
    var a =0;
    for (var i = (({{max}})/2); i < {{max}}; i++) {
        
        $('#id_1tablas-'+i+'-posicion').val(2+"-"+(a+1)); 
        $('#id_2tablas-'+i+'-posicion').val(4+"-"+(a+1)); 
        a++;
    }
    $('#maxilar').val("Maxilar");
    $('#mandibular').val("Mandibular");


    $('#codigo').val("{{codi}}");
    $('#ficha').val("{{num}}");  

    
    </script>
    {% endblock %}