{% extends 'base/base_editar.html' %}

{% block title %}
Aspectos Mandibulares
{% endblock %}

{% block header %}
<br><br>
<center><h1>Aspectos Mandibulares</h1></center>
{% endblock %}


{% block content %}
<form method="post">
	{% csrf_token %}

	<div class="col-md-12 col-md-offset-2">
		<div class="form-group">
			<div class="col-md-4">
			<label for="codigo">N° de Expediente </label>	
			<input id="codigo" class="form-control" type="text" disabled="True">
			<br>
			</div>
			<div class="col-md-4">
			<label for="ficha">N° de Ficha</label>	
			<input id="ficha" class="form-control" type="text" disabled="True">
			<br>
			</div>
			<br>
		</div>
		<br>
	</div>


<div class="row">
	<div class="col-md-3 col-md-offset-0">
		<div class="form-group">
			{{form.fichas}}
		</div>
	</div>
</div>


<!-- Rama Mandibular -->
<div class="col-md-10 col-md-offset-1">
<div class="form-group">

	<div class="panel panel-primary">
  	  <div class="panel-heading">
    	<h3 class="panel-title">Rama Mandibular</h3>
      </div>

  	  <div class="panel-body">


  	  	<!-- Anchura R - R' -->

        <br><h4><b>Anchura R - R'</b></h4>
		<div class="col-md-2 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.rama_mand_anch_izq_altura.name}}">{{form.rama_mand_anch_izq_altura.label}}</label>
				{{form.rama_mand_anch_izq_altura}}
			</div>	
		</div>
	    <div class="col-md-1">
		   <br><h5>mm</h5>
	    </div>


	    <div class="col-md-3">
		  	<div class="form-group">
				<label for="{{form.rama_mand_anch_simetrico.name}}">{{form.rama_mand_anch_simetrico.label}}</label>
				{{form.rama_mand_anch_simetrico}}
			</div>
		</div>


		<div class="col-md-6 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.rama_mand_anch_izq_aspect_observ.name}}">{{form.rama_mand_anch_izq_aspect_observ.label}}</label>
				{{form.rama_mand_anch_izq_aspect_observ}}
			</div>
		</div>


		<div class="col-md-2">
			<div class="form-group">
				<label for="{{form.rama_mand_anch_der_altura.name}}">{{form.rama_mand_anch_der_altura.label}}</label>
				{{form.rama_mand_anch_der_altura}}
			</div>
		</div>
		<div class="col-md-1">
			<br><h5>mm</h5>
		</div>


		<div class="col-md-6 col-md-offset-3">
			<div class="form-group">
				<label for="{{form.rama_mand_anch_der_aspect_observ.name}}">{{form.rama_mand_anch_der_aspect_observ.label}}</label>
				{{form.rama_mand_anch_der_aspect_observ}}
			</div>
			<br><br>
		</div>

    

         <!-- Altura (Plano M - Redorde Albeolar) -->
    	
        <h4><b>Altura (Plano M - Redorde Albeolar)</b></h4>
		<div class="col-md-2 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.rama_mand_altur_izq_altura.name}}">{{form.rama_mand_altur_izq_altura.label}}</label>
				{{form.rama_mand_altur_izq_altura}}
			</div>	
		</div>
	    <div class="col-md-1">
		   <br><h5>mm</h5>
	    </div>


	    <div class="col-md-3">
		  	<div class="form-group">
				<label for="{{form.rama_mand_altur_simetrico.name}}">{{form.rama_mand_altur_simetrico.label}}</label>
				{{form.rama_mand_altur_simetrico}}
			</div>
		</div>


		<div class="col-md-6 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.rama_mand_altur_izq_aspect_observ.name}}">{{form.rama_mand_altur_izq_aspect_observ.label}}</label>
				{{form.rama_mand_altur_izq_aspect_observ}}
			</div>
		</div>


		<div class="col-md-2">
			<div class="form-group">
				<label for="{{form.rama_mand_altur_der_altura.name}}">{{form.rama_mand_altur_der_altura.label}}</label>
				{{form.rama_mand_altur_der_altura}}
			</div>
		</div>
		<div class="col-md-1">
			<br><h5>mm</h5>
		</div>


		<div class="col-md-6 col-md-offset-3">
			<div class="form-group">
				<label for="{{form.rama_mand_altur_der_aspect_observ.name}}">{{form.rama_mand_altur_der_aspect_observ.label}}</label>
				{{form.rama_mand_altur_der_aspect_observ}}
			</div>
		</div>

	  </div>
    </div>

 <br>
</div>
</div>





<!-- Cuerpo Mandibular -->
<div class="col-md-10 col-md-offset-1">
<div class="form-group">

	<div class="panel panel-primary">
  	  <div class="panel-heading">
    	<h3 class="panel-title">Cuerpo Mandibular</h3>
      </div>

  	  <div class="panel-body">


  	  	<!-- Altura (Plano M - Tangente de plano T) -->

        <br><h4><b>Altura (Plano M - Tangente de plano T)</b></h4>
		<div class="col-md-2 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.cuerpo_mand_altur_izq_altura.name}}">{{form.cuerpo_mand_altur_izq_altura.label}}</label>
				{{form.cuerpo_mand_altur_izq_altura}}
			</div>	
		</div>
	    <div class="col-md-1">
		   <br><h5>mm</h5>
	    </div>


	    <div class="col-md-3">
		  	<div class="form-group">
				<label for="{{form.cuerpo_mand_altur_simetrico.name}}">{{form.cuerpo_mand_altur_simetrico.label}}</label>
				{{form.cuerpo_mand_altur_simetrico}}
			</div>
		</div>


		<div class="col-md-6 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.cuerpo_mand_altur_izq_aspect_observ.name}}">{{form.cuerpo_mand_altur_izq_aspect_observ.label}}</label>
				{{form.cuerpo_mand_altur_izq_aspect_observ}}
			</div>
		</div>


		<div class="col-md-2">
			<div class="form-group">
				<label for="{{form.cuerpo_mand_altur_der_altura.name}}">{{form.cuerpo_mand_altur_der_altura.label}}</label>
				{{form.cuerpo_mand_altur_der_altura}}
			</div>
		</div>
		<div class="col-md-1">
			<br><h5>mm</h5>
		</div>


		<div class="col-md-6 col-md-offset-3">
			<div class="form-group">
				<label for="{{form.cuerpo_mand_altur_der_aspect_observ.name}}">{{form.cuerpo_mand_altur_der_aspect_observ.label}}</label>
				{{form.cuerpo_mand_altur_der_aspect_observ}}
			</div>
			<br><br>
		</div>




		 <!-- Longitud (Go-Limite de sinfisis madibular) -->
    	
        <h4><b>Longitud (Go-Limite de Sínfisis madibular)</b></h4>
		<div class="col-md-2 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.cuerpo_mand_long_izq_altura.name}}">{{form.cuerpo_mand_long_izq_altura.label}}</label>
				{{form.cuerpo_mand_long_izq_altura}}
			</div>	
		</div>
	    <div class="col-md-1">
		   <br><h5>mm</h5>
	    </div>


	    <div class="col-md-3">
		  	<div class="form-group">
				<label for="{{form.cuerpo_mand_long_simetrico.name}}">{{form.cuerpo_mand_long_simetrico.label}}</label>
				{{form.cuerpo_mand_long_simetrico}}
			</div>
		</div>


		<div class="col-md-6 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.cuerpo_mand_long_izq_aspect_observ.name}}">{{form.cuerpo_mand_long_izq_aspect_observ.label}}</label>
				{{form.cuerpo_mand_long_izq_aspect_observ}}
			</div>
		</div>


		<div class="col-md-2">
			<div class="form-group">
				<label for="{{form.cuerpo_mand_long_der_altura.name}}">{{form.cuerpo_mand_long_der_altura.label}}</label>
				{{form.cuerpo_mand_long_der_altura}}
			</div>
		</div>
		<div class="col-md-1">
			<br><h5>mm</h5>
		</div>


		<div class="col-md-6 col-md-offset-3">
			<div class="form-group">
				<label for="{{form.cuerpo_mand_long_der_aspect_observ.name}}">{{form.cuerpo_mand_long_der_aspect_observ.label}}</label>
				{{form.cuerpo_mand_long_der_aspect_observ}}
			</div>
		</div>

	  </div>
    </div>
</div>
</div>


	
    <div class="col-md-8 col-md-offset-2">
		<div class="form-group">
		
			<br>
			<div class="col-md-3 col-md-offset-2">
			  <a href="/analisis_radiograficos/aspectos_articulares/editar/{{codi}}/{{num}}" class="btn btn-default btn-block">Regresar</a>
			</div> 

			<div class="col-md-3 col-md-offset-1">
			  <center><button type="submit" class="btn btn-primary btn-block">Siguiente</button></center>
			</div>
		
		</div>
		<br><br>
	</div>



	<!-- Barra de progreso -->
		<br><br>
		<div class="col-md-10 col-md-offset-1">
		<div class="progress">
  			<div class="progress-bar" style="width: 48%;"></div>
		</div>
		</div>


{% for elemento in incompletos %}
			<script type="text/javascript">
				//entra si es un numero
				switch({{elemento}}){
					case 0:
						$('#datos_generales').bind('click', false);
 						$('#datos_generales').css({'color':'#D3D3D3'});
						break;
					case -1:
						$('#motivo_consultas').bind('click', false);
 						$('#motivo_consultas').css({'color':'#D3D3D3'});
						break;
					case -2:
						$('#estado_general').bind('click', false);
 						$('#estado_general').css({'color':'#D3D3D3'});
						break;
					case -3:
						$('#tipo_perfil').bind('click', false);
 						$('#tipo_perfil').css({'color':'#D3D3D3'});
						break;
					case -4:
						$('#denticion1').bind('click', false);
 						$('#denticion1').css({'color':'#D3D3D3'});
						break;
					case -5:
						$('#denticion2').bind('click', false);
 						$('#denticion2').css({'color':'#D3D3D3'});
						break;
					case -6:
						$('#denticion3').bind('click', false);
 						$('#denticion3').css({'color':'#D3D3D3'});
						break;
					case -7:
						$('#mordidas').bind('click', false);
 						$('#mordidas').css({'color':'#D3D3D3'});
						break;
					case -8:
						$('#denticion2').bind('click', false);
 						$('#denticion2').css({'color':'#D3D3D3'});
						break;
					case -9:
						$('#denticion3').bind('click', false);
 						$('#denticion3').css({'color':'#D3D3D3'});
						break;
					case -10:
						$('#mordidas').bind('click', false);
 						$('#mordidas').css({'color':'#D3D3D3'});
						break;
					case -11:
						$('#sagitales').bind('click', false);
 						$('#sagitales').css({'color':'#D3D3D3'});
						break;
					case -12:
						$('#aspectos_articulares').bind('click', false);
 						$('#aspectos_articulares').css({'color':'#D3D3D3'});
						break;
					case -13:
						$('#asp_mandibular').bind('click', false);
 						$('#asp_mandibular').css({'color':'#D3D3D3'});
						break;
					case -14:
						$('#otros_aspectos').bind('click', false);
 						$('#otros_aspectos').css({'color':'#D3D3D3'});
 						break;
					case -15:
						$('#otros_hallazgos').bind('click', false);
 						$('#otros_hallazgos').css({'color':'#D3D3D3'});
						break;
					case -16:
						$('#analisis_cefalometrico').bind('click', false);
 						$('#analisis_cefalometrico').css({'color':'#D3D3D3'});
						break;
					case -17:
						$('#diag_cefalo').bind('click', false);
 						$('#diag_cefalo').css({'color':'#D3D3D3'});
						break;
					case -18:
						$('#analisis_nance').bind('click', false);
 						$('#analisis_nance').css({'color':'#D3D3D3'});
						break;
					case -19:
						$('#moyers_inferior').bind('click', false);
 						$('#moyers_inferior').css({'color':'#D3D3D3'});
						break;
					case -20:
						$('#moyers_superior').bind('click', false);
 						$('#moyers_superior').css({'color':'#D3D3D3'});
						break;
					case -21:
						$('#diag_general').bind('click', false);
 						$('#diag_general').css({'color':'#D3D3D3'});
						break;
				}
			</script>
	{% endfor %}

<script>

	$('#codigo').val("{{codi}}");
	$('#ficha').val("{{num}}");

		 
</script>

	</form>
{% endblock %}
