{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}
	Control de Citas

{% endblock %}
{% block navbar %}
		<div class="bs-docs-section clearfix">
		    <div class="row">
		        <div class="col-lg-12">
		            <div class="bs-component">
		            	<nav class="navbar navbar-default">
		                	<div class="container-fluid">
		                  		<div class="navbar-header">
		                    		<a class="navbar-brand" href="http://localhost:8000/">SOUES</a>
		                  		</div>		   		
		                  		<ul class="nav navbar-nav navbar-right">
		                        	<li class="">
		                        		<a href="{%url 'logout' %}" role="button" aria-expanded="false">Cerrar Sesión<span></span></a>		                        		
		                      		</li>
		                    	</ul>
		                    	<div>	
		                    	<ul class="nav navbar-nav navbar-right">
		                        	<li class="">
		                        		<a href="#" class="navbar-brand" role="button" aria-expanded="false">{{user}}<span></span></a>
		                      		</li>
		                    	</ul>
		                    	</div>
		                  		<h1 style="color:white "> <center> </center></h1> 
		                  		<h2 style="color:white "> <center>  </center></h2> 		                  		
		                </div>
		            </nav>
		        </div>
           	</div>
        </div>
    </div>   
    {% endblock %} 
{% block header %}
<style type="text/css">
	
.divOcultar{
    padding: 20px;

}
.divOcultar2{
    padding: 20px;

}
.divOcultar{
	display: none;
}

.ocultarmx{
	display: none;
}

.divOcultar2{
	display: none;
}
.divOcultar {
  padding: 20px;
  border-color: solid black;
  border-style: ridge;
}


.divOcultar2{
  padding: 20px;
  border-color: solid black;
  border-style: ridge;
}


</style>

<script type="text/javascript">


</script>

{% endblock %}

{% block content %}
<form method="POST">
	{% csrf_token %}
	</form>
	<div class="row fuera">
		<div class="col-md-4 col-md-offset-2">
			<div class="form-group">
					<label for="{{form.codigo.name}}">{{form.codigo.label}}</label>	
				{{form2.codigo}}		
			</div>
		</div>
		<div class="col-md-2 ">
				<br>
				<button class="btn btn-primary" onclick="buscar()">Buscar</button>
			</div>
	</div>

	<div class="row fuera" >
		<div class="col-md-5 col-md-offset-1">
			<div class="form-group">
					<label for="cod_expediente">Nombre del Paciente</label>	
				<input readonly type="text" class="form-control" id="id_nombre_estudiante">
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
					<label for="{{form.aparato.name}}">{{form.aparato.label}}</label>	
				{{form.aparato}}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				{{form.estudiante}}
			</div>
		</div>
	</div>

	<div class="row ">
		<div class="form-group fuera ocultarmx">
			<div class="col-md-2 col-md-offset-2">
			<br>
					<label for="{{form.mx.name}}">{{form.mx.label}}</label>	
					{{form.mx}}
			</div>
			<div class="col-md-2">
			<br>
					<label for="{{form.md.name}}">{{form.md.label}}</label>	
					{{form.md}}
			</div>	
				
		</div>
		<div class="col-md-2 col-md-offset-1">
			<div class="form-group">
				<button class="btn btn-primary" onclick="urlss()">Registrar Cita</button>
			</div>	
		</div>	
	</div>

	
	<div class="row">
		<div class="col-md-8 col-md-offset-2 divOcultar">	
			{% csrf_token %}
			<div class="row">
				<div class="form-group">
					<div class="col-md-4 col-md-offset-2">
						<label for="{{form.aparato.name}}">{{form.aparato.label}}</label>	
						{{form3.aparato}}
					</div>
					<div class="col-md-6">
						<div class="col-md-4">
							<br>
							<label for="mx">Maxilar (Mx)</label>
							<input type="radio" name="radio" id="mx" value="mx">
						</div>
						<div class="col-md-6 ">
							<br>
							<label for="md">Mandibular (Md)</label>
							<input type="radio" name="radio" id="md" value="md">
						</div>
						
					</div>
				</div>
			</div>
			
			<div class="row">
			<br>
				<div class="col-md-6 col-md-offset-5">
					<button class="btn btn-primary" onclick="post1()" id="boton1">Registrar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-md-offset-1 divOcultar2">	
			<div class="form-group">
				<div class="col-md-2 col-md-offset-2">
						<label for="{{form2.fecha_cita.name}}">{{form2.fecha_cita.label}}</label>	
							{{form2.fecha_cita}}
				</div>
				<div class="col-md-2">
							<label for="{{form2.proxima_cita.name}}">{{form2.proxima_cita.label}}</label>	
						{{form2.proxima_cita}}
				</div>
				<div class="col-md-4">
							<label for="{{form4.observaciones.name}}">{{form4.observaciones.label}}</label>	
						{{form4.observaciones}}
				</div>
				<div class="col-md-4 col-md-offset-2">
							<label for="{{form4.resultados.name}}">{{form4.resultados.label}}</label>	
						{{form4.resultados}}
				</div>
				<div class="col-md-3">
				<br>
							<label for="{{form2.autorizacion.name}}">{{form2.autorizacion.label}}</label>	
						{{form2.autorizacion}}
				</div>
				
			</div>
			<div class="row">

				<div class="col-md-6 col-md-offset-5">
				<br>
					<button class="btn btn-primary" onclick="post2()" id="boton2">Registrar</button>
				</div>
				
			</div>
			
		</div>
	</div>

	<div class="table-responsive col-md-12 fuera">
		<div id="conteiner">
	
		</div>
	</div>




<script>

	var fechaCita="";

	function post1(){
		var codigo = $('#id_codigo').val();
		var aparato = $("#id_aparato2 option:selected").val()
		var radio = $('input:radio[name=radio]:checked').val();
		var estudiante = $('#id_estudiante').val();
		var fecha1 = $("#id_fecha_cita").val();
		var fecha2 = $("#id_proxima_cita").val();
		var observaciones = $('#id_observaciones').val();
		var resultados = $('#id_resultados').val();
		var autorizacion =0;

		$.ajax({
			
			data : {'aparato':aparato,'radio':radio,'codigo':codigo,'estudiante':estudiante},
			url : '/citas/post1/',
			type : 'POST',
			success: function(response){
				buscar();
				$(".divOcultar").css("display", "none");
				
				$(".ocultarmx").css("display", "block");
				$(".divOcultar2").css("display", "block");
				$("#boton2").css("display", "block");
			}
		});
	}

	$('.fuera').click(function() {
		$(".divOcultar").css("display", "none");
		$(".divOcultar2").css("display", "none");
	});


	var autorizacion=0;
	$("#id_autorizacion").click(function() {  
	    if($("#id_autorizacion").is(':checked')) {  
	       autorizacion=1;
	    }
	});

	function post2(){
		var codigo = $('#id_codigo').val();
		var fecha1 = $("#id_fecha_cita").val();
		var fecha2 = $("#id_proxima_cita").val();
		var observaciones = $('#id_observaciones').val();
		var resultados = $('#id_resultados').val();
	
		var estudiante = $('#id_estudiante').val();

		if (codigo!='') {
				if (fecha2!='') {
					if (observaciones!='') {
						if (resultados!='') {
							$.ajax({
								data : {'fecha1':fecha1,'fecha2':fecha2,'observaciones':observaciones,'resultados':resultados,'autorizacion':autorizacion,'codigo':codigo},
								url : '/citas/post2/',
								type : 'POST',
								success: function(response){
									buscar();
									limpiar2();
									$(".divOcultar2").css("display", "none");
								}
							});

						}else{
							alert("LLene el campo Resultados Esperados");
						}
					}else{
						alert("LLene el campo Observaciones");
					}
				}else{
					alert("Seleccione una fecha en proxima cita");
				}

		}else{
			alert("Digite el codigo del estudiante");
		}


		
	}	

	

	function buscar(){
		var codigo = $('#id_codigo').val();


		$.ajax({
			data : {'codigo':codigo},
			url : '/citas/busqueda_ajax/',
			type : 'get',
			success: function(data){
				for (var i = 0; i < data.length; i++) {
					if (data[i].fields.nombre_completo=="fallo") {
						alert("No se encontraron datos con ese codigo de expediente");
					}
					else{
						$('#id_nombre_estudiante').val(data[i].fields.nombre_completo);
						$("#id_mx").attr("disabled", true);
						$("#id_md").attr("disabled", true);

								$.ajax({
									data : {'codigo':codigo},
									url : '/citas/busqueda_ajax2/',
									type : 'get',
									success: function(data){
										for (var i = 0; i < data.length; i++) {
											var apa = data[i].fields.aparato;
											var mdd = data[i].fields.md;
											
										if(mdd=="0"){
											$("#id_mx").prop("checked", "checked");
											$(".ocultarmx").css("display", "block");

										}else{
											$("#id_md").prop("checked", "checked");
											$(".ocultarmx").css("display", "block");

										}	
										switch ((apa-1)) {
										    case 0:
										        day = "Ortodoncia Fija";
										        break;
										    case 1:
										        day = "Boton de Nance";
										        break;
										    case 2:
										        day = "Boton de Nance";
										        break;
										    case 3:
										        day = "Arco Lingua";
										        break;
										    case 4:
										        day = "Tornillo Hirax";
										        break;
										    case 5:
										        day = "Barra Transpalatina";
										        break;
										    case 6:
										        day = "Botones";
										        break;
										    case 7:
										        day = "SN1";
										        break;
										    case 8:
										        day = "SN2";
										        break;
										    case 9:
										        day = "SN3";
										        break;
										    case 10:
										        day = "SN4";
										        break;
										    case 11:
										        day = "SN5";
										        break;
										    case 12:
										        day = "SN6";
										        break;
										    case 13:
										        day = "SN7";
										        break;
										    case 14:
										        day = "SN8";
										        break;
										    case 15:
										        day = "SN9";
										        break;
										    case 16:
										        day = "SN10";
										        break;
										    case 17:
										        day = "Pistas Planas Directas";
										        break;
										    case 18:
										        day = "Pistas Planas Indirectas";
										        break;
										    case 19:
										        day = "Aparato Bimler";
										        break;
										    case 20:
										        day = "Bionator";
										        break;
										    case 21:
										        day = "Otros";
										        break;
										}
											$('#id_aparato').val(day);
										}
									}
								});

								$.ajax({
									data : {'codigo':codigo},
									url : '/citas/registro_listar_citas/',
									type : 'get',	
									success: function(data2){

									    var tabla = '<table cellpadding="0"  cellspacing="0" border: 1px; class="table table-bordered" id="conteiner">';
						                tabla += '<thead>';
						                tabla += '<tr>';
						                tabla += '<th>N° de Control</th><th>Fecha de Cita</th><th>Aspectos Observados</th><th>Fecha proxima cita</th><th>Resultados Esperados</th><th>Autorización del tutor</th>';		
						                tabla += '</tr>';
						                tabla += '</thead>';
						                tabla += '<tbody>';
						                tr = '';
						 				
						                valorSi = "Si";
						                valorNo = "No";

						                for (i = 0; i < data2.length; i++){
						                    tr += '<tr>';
						                    tr += '<td>'+(i+1)+'</td><td>'+data2[i].fields.fecha_cita+'</td><td>'+data2[i].fields.observaciones+'</td><td>'+data2[i].fields.proxima_cita+'</td><td>'+data2[i].fields.resultados+'</td><td>';
						                    	if(data2[i].fields.autorizacion==true){
						                    		tr += "Si";
						                    	}else{
						                    		tr += "No";
						                    	}
						                    	
						                    tr += '</td></tr>';
						                    fechaCita= data2[i].fields.proxima_cita;

						                }
						 
						                tabla += tr;
						                tabla += '</tbody></table>';
						 				$("#id_fecha_cita").val(fechaCita);
						                $('#conteiner').html( tabla );
									}
								});

					}
				}

			},
			error: function(data){
				alert("No se encontraron datos con ese codigo de expediente");
				$("#id_nombre_estudiante").val("");
				$("#id_aparato").val("");
				$(".divOcultar").css("display", "none");
				$(".divOcultar2").css("display", "none");
				$("#conteiner tr").remove();
			},
		});

	    if(fechaCita==""){
	    	$('#id_fecha_cita').attr('disabled', false);
	    }else{
	    	datePickerfunction();
	    }

	}


	function urlss(){

		var codigo = $('#id_codigo').val();
		var nombre = $('#id_nombre_estudiante').val();
		datePickerfunction();
		if (nombre==''){
			alert("Digite el codigo del Expediente y haz click en el boton buscar");
		}
		else{
			if ($("#id_aparato").val()=="") {
				$(".divOcultar").css("display", "block");
				$(".divOcultar2").css("display", "none");
				$("#boton1").css("display", "block");
				$("#boton2").css("display", "none");
			}else{
				$(".divOcultar2").css("display", "block");
				$("#boton1").css("display", "none");
				}
			}

		if(fechaCita==""){
			$(document).ready(function(){
			    $("#id_fecha_cita").datepicker({
			        dateFormat: 'yy-mm-dd',
			        numberOfMonths: 2,
			        onSelect: function(selected) {
			          var fechaParse = new Date($("#id_fecha_cita").val())
					  fechaParse.setDate(fechaParse.getDate() + 2);
			          $("#id_proxima_cita").datepicker("option","minDate", fechaParse)
			        }
			    });
			    $("#id_proxima_cita").datepicker({ 
			        minDate: 0,
			        dateFormat: 'yy-mm-dd',
			        maxDate:"+60D",
			        numberOfMonths: 2,
			        onSelect: function(selected) {
			           $("#id_fecha_cita").datepicker("option","maxDate", selected)
			        }
			    });  
			});
	    }else{
	    	$("#id_fecha_cita").val(fechaCita);
	    	$('#id_fecha_cita').attr('readonly', true);

	    }
	}

	function limpiar2(){
		var fecha1 = $("#id_fecha_cita").val("");
		var fecha2 = $("#id_proxima_cita").val("");
		var observaciones = $('#id_observaciones').val("");
		var resultados = $('#id_resultados').val("");
		$("#id_autorizacion").prop("checked", "");
	
	}

	function datePickerfunction(){
		if ($("#id_fecha_cita").val()!="") {
			var fech1 = $("#id_fecha_cita").val();
			var fechaParse = new Date($("#id_fecha_cita").val())
			fechaParse.setDate(fechaParse.getDate() + 2);
			$(document).ready(function(){
			    $("#id_proxima_cita").datepicker({
			        dateFormat: 'yy-mm-dd',
			        minDate:fechaParse,
			        maxDate: '+99Y',
			        changeMonth: true,
	      			changeYear: true,
			        onSelect: function(selected) {
			          $("#id_proxima_cita").datepicker({minDate: fechaParse})
			        }
			    });
			});
		}	
			
	}

</script>


{% endblock %}
