{% extends 'base/base.html' %}

{% block title %}
	Análisis Cefalométrico
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<form method="post" enctype='multipart/form-data'>
	{% csrf_token %}

    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <div class="col-md-6">
            <label for="codigo">N° de Expediente </label>   
            <input id="codigo" class="form-control" type="text" disabled="True">
            <br>
            </div>
            <div class="col-md-6">
            <label for="ficha">N° de Ficha</label>  
            <input id="ficha" class="form-control" type="text" disabled="True">
            <br>
            </div>
            <br>
        </div>
        <br>
    </div>
                <table id="id_contact_info_table" cellpadding="0" cellspacing="5">
                <thead>
                    <tr>
                        <th scope="col">1° Ex</th>
                        <th scope="col">2° Ex</th>
                     
                    </tr>
                </thead>
                <tbody>
                    {% for form in formset %}
                    <tr>
                        
                        <td>{{ form.cuad_superior }}</td>
      
                        <td>{{ form.fichas }}</td>	
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>                
                <center><button type="submit" class="btn btn-success">Siguiente</button></center>
        </form>
<script>


    $('#codigo').val("{{codi}}");
    $('#ficha').val("{{num}}");

    $(document).ready(function(){
        $('#id_form-0-sna').attr('required', true);
        $('#id_form-0-snb').attr('required', true);
        $('#id_form-0-anb').attr('required', true);
        $('#id_form-0-convexidad').attr('required', true);
        $('#id_form-0-wits').attr('required', true);
        $('#id_form-0-long_cuerpo_mandibular').attr('required', true);
        $('#id_form-0-profundidad_maxilar').attr('required', true);
        $('#id_form-0-profundidad_facial').attr('required', true);
        $('#id_form-0-plano_mandibular').attr('required', true);
        $('#id_form-0-eje_y_fh').attr('required', true);
        $('#id_form-0-cono_facial').attr('required', true);
        $('#id_form-0-eje_facial').attr('required', true);
        $('#id_form-0-angulo_goniaco_superior').attr('required', true);
        $('#id_form-0-angulo_goniaco_inferior').attr('required', true);
        $('#id_form-0-angulo_goniaco_total').attr('required', true);
        $('#id_form-0-is_na').attr('required', true);
        $('#id_form-0-is_sn').attr('required', true);
        $('#id_form-0-isfh').attr('required', true);
        $('#id_form-0-impa').attr('required', true);
        $('#id_form-0-protusion_de_incisivo_max').attr('required', true);
        $('#id_form-0-protusion_de_incisivo_md').attr('required', true);
        $('#id_form-0-protusion_labial').attr('required', true);
    });

         
</script>
{% for elemento in incompletos %}
            <script type="text/javascript">
                //entra si es un numero
                switch({{elemento}}){
                    case -1:
                        $('#denticion2').bind('click', false);
                        $('#denticion2').css({'color':'#D3D3D3'});
                        break;
                    case -2:
                        $('#denticion3').bind('click', false);
                        $('#denticion3').css({'color':'#D3D3D3'});
                        break;
                    case -3:
                        $('#mordidas').bind('click', false);
                        $('#mordidas').css({'color':'#D3D3D3'});
                        break;
                }

            </script>
    {% endfor %}
    
{% endblock %}
