{% extends 'base/base_editar.html' %}

{% block title %}
Aspectos Articulares
{% endblock %}
{% block header %}
<style>
	
	.dentro{
		border:2px solid #000;
		border-radius:25px;
	}
</style>
{% endblock %}
{% block content %}
<form method="POST">
	{% csrf_token %}
	{{form.fichas}}

	<br><br>
	<h1> <center> Aspectos Articulares</center></h1>
		<div class="col-md-12 col-md-offset-2">
		<div class="form-group">
			<div class="col-md-4">
			<label for="codigo">N° de Expediente </label>	
			<input id="codigo" class="form-control" type="text" disabled="True">
			<br>
			</div>
			<div class="col-md-4">
			<label for="ficha">N° de Ficha</label>	
			<input id="ficha" class="form-control" type="text" disabled="True">
			<br>
			</div>
			<br>
		</div>
		<br>
	</div>
	

	
<!-- Condilo Mandibular -->	

<br><br><br><br><br><br>
<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-primary">
  	   <div class="panel-heading">
   		 <h3 class="panel-title">Cóndilo Mandibular</h3>
  	   </div>
  	   <div class="panel-body">

		  <div class="col-md-5" >
			 <div class="row">
				<h5><b>Izquierdo</b></h5>
				 <div class="col-md-4">
					<div class="form-group">
							<label for="{{form.condilo_mand_izq_alto.name}}">{{form.condilo_mand_izq_alto.label}}</label>	
							{{form.condilo_mand_izq_alto}}
					</div>
				 </div>
				  	<div class="col-md-2">
		   				<br><h5>mm</h5>
	    		  	</div>


				<div class="col-md-4">
					<div class="form-group">
							<label for="{{form.condilo_mand_izq_ancho.name}}">{{form.condilo_mand_izq_ancho.label}}</label>	
							{{form.condilo_mand_izq_ancho}}
					</div>
				</div>
				<div class="col-md-2">
		   			<br><h5>mm</h5>
	    		 </div>

			</div>

			<div class="row">
			<h5><b>Derecho</b></h5>
					<div class="col-md-4">
						<div class="form-group">
								<label for="{{form.condilo_mand_der_alto.name}}">{{form.condilo_mand_der_alto.label}}</label>	
							{{form.condilo_mand_der_alto}}
						</div>
					</div>
					<div class="col-md-2">
		   				<br><h5>mm</h5>
	    		  	</div>

					<div class="col-md-4">
						<div class="form-group">
								<label for="{{form.condilo_mand_der_ancho.name}}">{{form.condilo_mand_der_ancho.label}}</label>	
								{{form.condilo_mand_der_ancho}}
						</div>
					</div>
					<div class="col-md-2">
		   				<br><h5>mm</h5>
	    		    </div>
			</div>
		</div>


		<div class="col-md-7">
			<div class="col-md-4">
			<br><br><br><br>
				<div class="form-group">
						<label for="{{form.condilo_mand_simetrico.name}}">{{form.condilo_mand_simetrico.label}}</label>	
						{{form.condilo_mand_simetrico}}
				</div>
			</div>


			
			<br><br>
			<div class="col-md-8">
				<div class="form-group">
						<label for="{{form.condilo_mand_aspectos_observados.name}}">{{form.condilo_mand_aspectos_observados.label}}</label>	
						{{form.condilo_mand_aspectos_observados}}
				</div>
			</div>
		</div>	
	  </div>
	</div>
</div>



<!-- Eminencia -->

<br>
<div class="col-md-10 col-md-offset-1">
   <div class="panel panel-primary">
  	   <div class="panel-heading">
   		 <h3 class="panel-title">Eminencia</h3>
  	   </div>
  	      <div class="panel-body">
		    <div class="col-md-5" >
		    <br>
			<div class="row">
				<div class="col-md-4">
						<label for="{{form.eminencia_izq.name}} ">{{form.eminencia_izq.label}}</label>	
						{{form.eminencia_izq}}
				</div>
				<div class="col-md-2">
		   			<br><h5>mm</h5>
	    		</div>

				<div class="col-md-4">
						<label for="{{form.eminencia_der.name}}">{{form.eminencia_der.label}}</label>	
						{{form.eminencia_der}}
				</div>
				<div class="col-md-2">
		   			<br><h5>mm</h5>
	    		</div>

			</div>
		</div>

		<div class="col-md-7" >
			<div class="col-md-4">
			<br>
				<label for="{{form.eminencia_simetrico.name}}">{{form.eminencia_simetrico.label}}</label>	
				{{form.eminencia_simetrico}}
			</div>

			<div class="col-md-8">
					<div class="form-group">
						<label for="{{form.eminencia_aspectos_observados.name}}">{{form.eminencia_aspectos_observados.label}}</label>	
						{{form.eminencia_aspectos_observados}}
					</div>
			</div>
		</div>
	  </div>
	</div>
</div>



<!-- Espacio Articular -->

<br>
<div class="col-md-10 col-md-offset-1">
   <div class="panel panel-primary">
  	   <div class="panel-heading">
   		 <h3 class="panel-title">Espacio Articular</h3>
  	   </div>
  	      <div class="panel-body">
			<div class="col-md-3 col-md-offset-1">
				<div class="form-group">
						<label for="{{form.espacio_articular_simetrico.name}}" >{{form.espacio_articular_simetrico.label}}</label>	
					{{form.espacio_articular_simetrico}}
				</div>
			</div>
			<div class="col-md-6 col-md-offset-1">
				<div class="form-group">
					<label for="{{form.espacio_articular_aspectos_observados.name}}">{{form.espacio_articular_aspectos_observados.label}}</label>	
					{{form.espacio_articular_aspectos_observados}}
				</div>
			</div>
		</div>
	  </div>
	</div>
</div>



	<br><br>
    <div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			<br>
			<div class="col-md-3 col-md-offset-2">
			  <a href="/aspectos/sagitales/editar/{{codi}}/{{num}}" class="btn btn-default btn-block">Regresar</a>
			</div> 

			<div class="col-md-3 col-md-offset-1">
			  <center><button type="submit" class="btn btn-primary btn-block">Siguiente</button></center>
			</div>
		
		</div>
		<br><br>
	</div>




     <!-- Barra de progreso -->
        <br>
        <div class="col-md-8 col-md-offset-2">
        <div class="progress">
            <div class="progress-bar" style="width: 42%;"></div>
        </div>
        </div>

{% for elemento in incompletos %}
			<script type="text/javascript">
				//entra si es un numero
				switch({{elemento}}){
					case 0:
						$('#datos_generales').bind('click', false);
 						$('#datos_generales').css({'color':'#D3D3D3'});
						break;
					case -1:
						$('#motivo_consultas').bind('click', false);
 						$('#motivo_consultas').css({'color':'#D3D3D3'});
						break;
					case -2:
						$('#estado_general').bind('click', false);
 						$('#estado_general').css({'color':'#D3D3D3'});
						break;
					case -3:
						$('#tipo_perfil').bind('click', false);
 						$('#tipo_perfil').css({'color':'#D3D3D3'});
						break;
					case -4:
						$('#denticion1').bind('click', false);
 						$('#denticion1').css({'color':'#D3D3D3'});
						break;
					case -5:
						$('#denticion2').bind('click', false);
 						$('#denticion2').css({'color':'#D3D3D3'});
						break;
					case -6:
						$('#denticion3').bind('click', false);
 						$('#denticion3').css({'color':'#D3D3D3'});
						break;
					case -7:
						$('#mordidas').bind('click', false);
 						$('#mordidas').css({'color':'#D3D3D3'});
						break;							
					case -8:
						$('#sagitales').bind('click', false);
 						$('#sagitales').css({'color':'#D3D3D3'});
						break;
					case -9:
						$('#aspectos_articulares').bind('click', false);
 						$('#aspectos_articulares').css({'color':'#D3D3D3'});
						break;
					case -10:
						$('#asp_mandibular').bind('click', false);
 						$('#asp_mandibular').css({'color':'#D3D3D3'});
						break;
					case -11:
						$('#otros_aspectos').bind('click', false);
 						$('#otros_aspectos').css({'color':'#D3D3D3'});
 						break;
					case -12:
						$('#otros_hallazgos').bind('click', false);
 						$('#otros_hallazgos').css({'color':'#D3D3D3'});
						break;
					case -13:
						$('#analisis_cefalometrico').bind('click', false);
 						$('#analisis_cefalometrico').css({'color':'#D3D3D3'});
						break;
					case -14:
						$('#diag_cefalo').bind('click', false);
 						$('#diag_cefalo').css({'color':'#D3D3D3'});
						break;
					case -15:
						$('#analisis_nance').bind('click', false);
 						$('#analisis_nance').css({'color':'#D3D3D3'});
						break;
					case -16:
						$('#moyers_inferior').bind('click', false);
 						$('#moyers_inferior').css({'color':'#D3D3D3'});
						break;
					case -17:
						$('#moyers_superior').bind('click', false);
 						$('#moyers_superior').css({'color':'#D3D3D3'});
						break;
					case -18:
						$('#diag_general').bind('click', false);
 						$('#diag_general').css({'color':'#D3D3D3'});
						break;
				}

			</script>
	{% endfor %}

<script>

	$('#codigo').val("{{codi}}");
	$('#ficha').val("{{num}}");

		 
</script>

</form>
{% endblock %}