{% extends 'base/base_consultar.html' %}

{% block title %}
    Otros Aspectos

{% endblock %}
{% block header %}{% endblock %}

{% block content %}

    <form method="POST">
        {% csrf_token %}

    <br><div class="mensaje" id="mensaje"></div>
    <h1 align="center">Análisis Radiográficos</h1>
    <h2 align="center">Otros Hallazgos</h2>


    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <div class="col-md-6">
                <label for="codigo">N° de Expediente </label>   
                <input id="codigo" class="form-control" type="text" disabled="True">
            </div>
            <div class="col-md-6">
                <label for="ficha">N° de Ficha</label>  
                <input id="ficha" class="form-control" type="text" disabled="True">
            </div>
        </div>
    </div>
                

        <div class="col-md-6 col-md-offset-1">
            <div class="form-group">
                {{ form1.fichas }}
                {{ form2.fichas }}
            </div>
        </div>

<br><br><br><br>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">

   
   <div class="col-md-8 col-md-offset-2">
   <div class="form-group">
    <br>
    <table class="table table-striped table-hover ">
     <thead>
        <tr class="success">
        <td>
            <br><h4>Otros Hallazgos: Radiografía Panorámica</h4>
            {{ form1.otros_hallazgos }}
        </td>
     </tbody>
    </table>
   </div>
   </div>



        <div class="col-md-12">
            <div class="form-group">
                <br><br><h4><b>Estadios de Nolla</b></h4><br>

                <table class="table table-striped table-hover ">
                  <tbody>

                    <tr class="success">
                        <td align="center">
                            <table border="1">
                                <tr>
                                    <th><center><label for="{{ form1.e_1_8.name }}">{{ form1.e_1_8.label }}</label></center></th>
                                    <th><label for="{{ form1.e_1_7.name }}">{{ form1.e_1_7.label }}</label></th>
                                    <th><label for="{{ form1.e_1_6.name }}">{{ form1.e_1_6.label }}</label></th>
                                    <th><label for="{{ form1.e_1_5.name }}">{{ form1.e_1_5.label }}</label></th>
                                    <th><label for="{{ form1.e_1_4.name }}">{{ form1.e_1_4.label }}</label></th>
                                    <th><label for="{{ form1.e_1_3.name }}">{{ form1.e_1_3.label }}</label></th>
                                    <th><label for="{{ form1.e_1_2.name }}">{{ form1.e_1_2.label }}</label></th>
                                    <th><label for="{{ form1.e_1_1.name }}">{{ form1.e_1_1.label }}</label></th>
                                </tr>
                                <tr>
                                    <td>{{ form1.e_1_8 }}</td>
                                    <td>{{ form1.e_1_7 }}</td>
                                    <td>{{ form1.e_1_6 }}</td>
                                    <td>{{ form1.e_1_5 }}</td>
                                    <td>{{ form1.e_1_4 }}</td>
                                    <td>{{ form1.e_1_3 }}</td>
                                    <td>{{ form1.e_1_2 }}</td>
                                    <td>{{ form1.e_1_1 }}</td>
                                </tr>

                            </table>
                        </td>

                        <td align="center">
                            <table border="1">
                                <tr>
                                    <th><label for="{{ form1.e_2_1.name }}">{{ form1.e_2_1.label }}</label></th>
                                    <th><label for="{{ form1.e_2_2.name }}">{{ form1.e_2_2.label }}</label></th>
                                    <th><label for="{{ form1.e_2_3.name }}">{{ form1.e_2_3.label }}</label></th>
                                    <th><label for="{{ form1.e_2_4.name }}">{{ form1.e_2_4.label }}</label></th>
                                    <th><label for="{{ form1.e_2_5.name }}">{{ form1.e_2_5.label }}</label></th>
                                    <th><label for="{{ form1.e_2_6.name }}">{{ form1.e_2_6.label }}</label></th>
                                    <th><label for="{{ form1.e_2_7.name }}">{{ form1.e_2_7.label }}</label></th>
                                    <th><label for="{{ form1.e_2_8.name }}">{{ form1.e_2_8.label }}</label></th>
                                </tr>
                                <tr>
                                    <td>{{ form1.e_2_1 }}</td>
                                    <td>{{ form1.e_2_2 }}</td>
                                    <td>{{ form1.e_2_3 }}</td>
                                    <td>{{ form1.e_2_4 }}</td>
                                    <td>{{ form1.e_2_5 }}</td>
                                    <td>{{ form1.e_2_6 }}</td>
                                    <td>{{ form1.e_2_7 }}</td>
                                    <td>{{ form1.e_2_8 }}</td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr class="success">
                        <td align="center">
                            <table border="1">
                                <tr>
                                    <th><label for="{{ form1.e_4_8.name }}">{{ form1.e_4_8.label }}</label></th>
                                    <th><label for="{{ form1.e_4_7.name }}">{{ form1.e_4_7.label }}</label></th>
                                    <th><label for="{{ form1.e_4_6.name }}">{{ form1.e_4_6.label }}</label></th>
                                    <th><label for="{{ form1.e_4_5.name }}">{{ form1.e_4_5.label }}</label></th>
                                    <th><label for="{{ form1.e_4_4.name }}">{{ form1.e_4_4.label }}</label></th>
                                    <th><label for="{{ form1.e_4_3.name }}">{{ form1.e_4_3.label }}</label></th>
                                    <th><label for="{{ form1.e_4_2.name }}">{{ form1.e_4_2.label }}</label></th>
                                    <th><label for="{{ form1.e_4_1.name }}">{{ form1.e_4_1.label }}</label></th>
                                </tr>
                                <tr>
                                    <td>{{ form1.e_4_8 }}</td>
                                    <td>{{ form1.e_4_7 }}</td>
                                    <td>{{ form1.e_4_6 }}</td>
                                    <td>{{ form1.e_4_5 }}</td>
                                    <td>{{ form1.e_4_4 }}</td>
                                    <td>{{ form1.e_4_3 }}</td>
                                    <td>{{ form1.e_4_2 }}</td>
                                    <td>{{ form1.e_4_1 }}</td>
                                </tr>

                            </table>
                        </td>
                        <td>
                            <table border="1">
                                <tr>
                                    <th><label for="{{ form1.e_3_1.name }}">{{ form1.e_3_1.label }}</label></th>
                                    <th><label for="{{ form1.e_3_2.name }}">{{ form1.e_3_2.label }}</label></th>
                                    <th><label for="{{ form1.e_3_3.name }}">{{ form1.e_3_3.label }}</label></th>
                                    <th><label for="{{ form1.e_3_4.name }}">{{ form1.e_3_4.label }}</label></th>
                                    <th><label for="{{ form1.e_3_5.name }}">{{ form1.e_3_5.label }}</label></th>
                                    <th><label for="{{ form1.e_3_6.name }}">{{ form1.e_3_6.label }}</label></th>
                                    <th><label for="{{ form1.e_3_7.name }}">{{ form1.e_3_7.label }}</label></th>
                                    <th><label for="{{ form1.e_3_8.name }}">{{ form1.e_3_8.label }}</label></th>
                                </tr>
                                <tr>
                                    <td>{{ form1.e_3_1 }}</td>
                                    <td>{{ form1.e_3_2 }}</td>
                                    <td>{{ form1.e_3_3 }}</td>
                                    <td>{{ form1.e_3_4 }}</td>
                                    <td>{{ form1.e_3_5 }}</td>
                                    <td>{{ form1.e_3_6 }}</td>
                                    <td>{{ form1.e_3_7 }}</td>
                                    <td>{{ form1.e_3_8 }}</td>
                                </tr>

                            </table>
                        </td>
                    </tr>

                  </tbody>
                </table>

            </div>
        </div>



        <br><br>
        <div class="col-md-12">
            <div class="form-group">
                <br><br><h4><b>Secuencia y Cronología</b></h4><br>

                <table class="table table-striped table-hover ">
                  <tbody>

                    <tr class="success">
                        <td align="center">
                            <table border="1">
                                <tr class="info">
                                    <th><label for="{{ form2.o_1_8.name }}">{{ form2.o_1_8.label }}</label></th>
                                    <th><label for="{{ form2.o_1_7.name }}">{{ form2.o_1_7.label }}</label></th>
                                    <th><label for="{{ form2.o_1_6.name }}">{{ form2.o_1_6.label }}</label></th>
                                    <th><label for="{{ form2.o_1_5.name }}">{{ form2.o_1_5.label }}</label></th>
                                    <th><label for="{{ form2.o_1_4.name }}">{{ form2.o_1_4.label }}</label></th>
                                    <th><label for="{{ form2.o_1_3.name }}">{{ form2.o_1_3.label }}</label></th>
                                    <th><label for="{{ form2.o_1_2.name }}">{{ form2.o_1_2.label }}</label></th>
                                    <th><label for="{{ form2.o_1_1.name }}">{{ form2.o_1_1.label }}</label></th>
                                </tr>
                                <tr>
                                    <td>{{ form2.o_1_8 }}</td>
                                    <td>{{ form2.o_1_7 }}</td>
                                    <td>{{ form2.o_1_6 }}</td>
                                    <td>{{ form2.o_1_5 }}</td>
                                    <td>{{ form2.o_1_4 }}</td>
                                    <td>{{ form2.o_1_3 }}</td>
                                    <td>{{ form2.o_1_2 }}</td>
                                    <td>{{ form2.o_1_1 }}</td>
                                </tr>

                            </table>
                        </td>

                        <td>
                            <table border="1">
                                <tr>
                                    <th><label for="{{ form2.o_2_1.name }}">{{ form2.o_2_1.label }}</label></th>
                                    <th><label for="{{ form2.o_2_2.name }}">{{ form2.o_2_2.label }}</label></th>
                                    <th><label for="{{ form2.o_2_3.name }}">{{ form2.o_2_3.label }}</label></th>
                                    <th><label for="{{ form2.o_2_4.name }}">{{ form2.o_2_4.label }}</label></th>
                                    <th><label for="{{ form2.o_2_5.name }}">{{ form2.o_2_5.label }}</label></th>
                                    <th><label for="{{ form2.o_2_6.name }}">{{ form2.o_2_6.label }}</label></th>
                                    <th><label for="{{ form2.o_2_7.name }}">{{ form2.o_2_7.label }}</label></th>
                                    <th><label for="{{ form2.o_2_8.name }}">{{ form2.o_2_8.label }}</label></th>
                                </tr>
                                <tr>
                                    <td>{{ form2.o_2_1 }}</td>
                                    <td>{{ form2.o_2_2 }}</td>
                                    <td>{{ form2.o_2_3 }}</td>
                                    <td>{{ form2.o_2_4 }}</td>
                                    <td>{{ form2.o_2_5 }}</td>
                                    <td>{{ form2.o_2_6 }}</td>
                                    <td>{{ form2.o_2_7 }}</td>
                                    <td>{{ form2.o_2_8 }}</td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr class="success">
                        <td align="center">
                            <table border="1">
                                <tr>
                                    <th><label for="{{ form2.o_4_8.name }}">{{ form2.o_4_8.label }}</label></th>
                                    <th><label for="{{ form2.o_4_7.name }}">{{ form2.o_4_7.label }}</label></th>
                                    <th><label for="{{ form2.o_4_6.name }}">{{ form2.o_4_6.label }}</label></th>
                                    <th><label for="{{ form2.o_4_5.name }}">{{ form2.o_4_5.label }}</label></th>
                                    <th><label for="{{ form2.o_4_4.name }}">{{ form2.o_4_4.label }}</label></th>
                                    <th><label for="{{ form2.o_4_3.name }}">{{ form2.o_4_3.label }}</label></th>
                                    <th><label for="{{ form2.o_4_2.name }}">{{ form2.o_4_2.label }}</label></th>
                                    <th><label for="{{ form2.o_4_1.name }}">{{ form2.o_4_1.label }}</label></th>
                                </tr>
                                <tr>
                                    <td>{{ form2.o_4_8 }}</td>
                                    <td>{{ form2.o_4_7 }}</td>
                                    <td>{{ form2.o_4_6 }}</td>
                                    <td>{{ form2.o_4_5 }}</td>
                                    <td>{{ form2.o_4_4 }}</td>
                                    <td>{{ form2.o_4_3 }}</td>
                                    <td>{{ form2.o_4_2 }}</td>
                                    <td>{{ form2.o_4_1 }}</td>
                                </tr>

                            </table>
                        </td>
                        <td align="center">
                            <table border="1">
                                <tr>
                                    <th><label for="{{ form2.o_3_1.name }}">{{ form2.o_3_1.label }}</label></th>
                                    <th><label for="{{ form2.o_3_2.name }}">{{ form2.o_3_2.label }}</label></th>
                                    <th><label for="{{ form2.o_3_3.name }}">{{ form2.o_3_3.label }}</label></th>
                                    <th><label for="{{ form2.o_3_4.name }}">{{ form2.o_3_4.label }}</label></th>
                                    <th><label for="{{ form2.o_3_5.name }}">{{ form2.o_3_5.label }}</label></th>
                                    <th><label for="{{ form2.o_3_6.name }}">{{ form2.o_3_6.label }}</label></th>
                                    <th><label for="{{ form2.o_3_7.name }}">{{ form2.o_3_7.label }}</label></th>
                                    <th><label for="{{ form2.o_3_8.name }}">{{ form2.o_3_8.label }}</label></th>
                                </tr>
                                <tr>
                                    <td>{{ form2.o_3_1 }}</td>
                                    <td>{{ form2.o_3_2 }}</td>
                                    <td>{{ form2.o_3_3 }}</td>
                                    <td>{{ form2.o_3_4 }}</td>
                                    <td>{{ form2.o_3_5 }}</td>
                                    <td>{{ form2.o_3_6 }}</td>
                                    <td>{{ form2.o_3_7 }}</td>
                                    <td>{{ form2.o_3_8 }}</td>
                                </tr>

                            </table>
                        </td>
                    </tr>

                  </tbody>  
                </table>

            </div>
        </div>

    </div>
</div>



    <br>
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
        
            <div class="col-md-3 col-md-offset-2">
              <a href="/analisis_radiograficos/otrosAspectos/consultar/{{codi}}/{{num}}" class="btn btn-default btn-block">Regresar</a>
            </div> 

            <div class="col-md-3 col-md-offset-1">
              <center><button type="submit" class="btn btn-success btn-block">Siguiente</button></center>
            </div>
        
        </div>
        <br><br>
    </div>



     <!-- Barra de progreso -->
        <br>
        <div class="col-md-10 col-md-offset-1">
        <div class="progress">
            <div class="progress-bar progress-bar-success" style="width: 60%;"></div>
        </div>
        </div>



    </form>
<script>
    $('#codigo').val("{{codi}}");
    $('#ficha').val("{{num}}"); 

    if ({{completada}}==0){
    $("#mensaje").append('<div class="col-md-4 col-md-offset-8"><div class="alert alert-danger alert-danger"><strong><center> ¡FICHA INCOMPLETA!</center></strong></div></div>')
    }else{
        if ({{completada}}==1){
            $("#mensaje").append('<div class="col-md-4 col-md-offset-8"><div class="alert alert-success alert-success"><strong><center> ¡FICHA COMPLETA!</center></strong></div></div>')
        }else{
            if ({{completada}}==2){
                $("#mensaje").append('<div class="col-md-4 col-md-offset-8"><div class="alert alert-info alert-info"><strong><center> ¡FICHA RETIRADA!</center></strong></div></div>')
            }else{
                if ({{completada}}==3){
                    $("#mensaje").append('<div class="col-md-4 col-md-offset-8"><div class="alert alert-warning alert-warning"><strong><center> ¡FICHA CADUCADA!</center></strong></div></div>')
                }
                
            }
        }
    }
</script>
{% for elemento in incompletos %}
            <script type="text/javascript">
                //entra si es un numero
                switch({{elemento}}){
                    case 0:
                        $('#datos_generales').bind('click', false);
                        $('#datos_generales').css({'color':'grey'});
                        break;
                    case -1:
                        $('#motivo_consultas').bind('click', false);
                        $('#motivo_consultas').css({'color':'grey'});
                        break;
                    case -2:
                        $('#estado_general').bind('click', false);
                        $('#estado_general').css({'color':'grey'});
                        break;
                    case -3:
                        $('#tipo_perfil').bind('click', false);
                        $('#tipo_perfil').css({'color':'grey'});
                        break;
                    case -4:
                        $('#denticion1').bind('click', false);
                        $('#denticion1').css({'color':'grey'});
                        break;
                    case -5:
                        $('#denticion2').bind('click', false);
                        $('#denticion2').css({'color':'grey'});
                        break;
                    case -6:
                        $('#sagitales').bind('click', false);
                        $('#sagitales').css({'color':'grey'});
                        break;
                    case -7:
                        $('#aspectos_articulares').bind('click', false);
                        $('#aspectos_articulares').css({'color':'grey'});
                        break;
                    case -8:
                        $('#asp_mandibular').bind('click', false);
                        $('#asp_mandibular').css({'color':'grey'});
                        break;
                    case -9:
                        $('#otros_aspectos').bind('click', false);
                        $('#otros_aspectos').css({'color':'grey'});
                        break;
                    case -10:
                        $('#otros_hallazgos').bind('click', false);
                        $('#otros_hallazgos').css({'color':'grey'});
                        break;
                    case -11:
                        $('#analisis_cefalometrico').bind('click', false);
                        $('#analisis_cefalometrico').css({'color':'grey'});
                        break;
                    case -12:
                        $('#diag_cefalo').bind('click', false);
                        $('#diag_cefalo').css({'color':'grey'});
                        break;
                    case -13:
                        $('#analisis_nance').bind('click', false);
                        $('#analisis_nance').css({'color':'grey'});
                        break;
                    case -14:
                        $('#moyers_inferior').bind('click', false);
                        $('#moyers_inferior').css({'color':'grey'});
                        break;
                    case -15:
                        $('#moyers_superior').bind('click', false);
                        $('#moyers_superior').css({'color':'grey'});
                        break;
                    case -16:
                        $('#diag_general').bind('click', false);
                        $('#diag_general').css({'color':'grey'});
                        break;
                }

            </script>
    {% endfor %}


{% endblock %}