{% extends 'base/base_consultar.html' %}

{% block title %}
    Otros Aspectos

{% endblock %}
{% block header %}{% endblock %}

{% block content %}

    <h1 align="center">Analisis del Panorama Simoes de Simetria</h1>
    <h2 align="center">Aspectos Mandibulares</h2><br><br>
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <div class="col-md-6">
            <label for="codigo">N° de Expediente </label>   
            <input id="codigo" class="form-control" type="text" disabled="True">
            <br>
            </div>
            <div class="col-md-6">
            <label for="ficha">N° de Ficha</label>  
            <input id="ficha" class="form-control" type="text" disabled="True">
            <br>
            </div>
            <br>
        </div>
        <br>
    </div>
    <form method="POST">
        {% csrf_token %}

        <div class="col-md-6 col-md-offset-1">
            <div class="form-group">
                {{ form.fichas }}
            </div>
        </div>

  <div class="row">
          <div class="mensaje" id="mensaje"></div>
  </div>

    <div class="col-md-10 col-md-offset-1">
        <div class="form-group">

         <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Aspectos Sinusales</h3>
            </div>

         <div class="panel-body">

            <div class="col-md-6 col-md-offset-1">
              <br><b>Aspectos Sinusales</b><br>
                {{ form.aspectos_sinusales_simetrico }}
            </div>

            <div class="col-md-9 col-md-offset-1">
              <br><b>Aspectos observados</b><br>
              <label for="{{ form.aspectos_sinusales_izq_aspect_observ.name }}">{{ form.aspectos_sinusales_izq_aspect_observ.label }}</label>
                    {{ form.aspectos_sinusales_izq_aspect_observ }}

              <br>
              <label for="{{ form.aspectos_sinusales_der_aspect_observ.name }}">{{ form.aspectos_sinusales_der_aspect_observ.label }}</label>
                    {{ form.aspectos_sinusales_der_aspect_observ }}
            </div>
            </div>
         </div>

        </div>
    </div>



    <div class="col-md-10 col-md-offset-1">
        <div class="form-group">

         <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Ord-Ori</h3>
            </div>

         <div class="panel-body">
            <div class="col-md-6 col-md-offset-1">
              <br><b>Ord-Ori</b><br>
                {{ form.ord_ori_simetrico }}
            </div>

            <div class="col-md-9 col-md-offset-1">
              <br><b>Aspectos observados</b><br>
              <label for="{{ form.ord_ori_izq_aspect_observ.name }}">{{ form.ord_ori_izq_aspect_observ.label }}</label>
                    {{ form.ord_ori_izq_aspect_observ }}

               <br>
               <label for="{{ form.ord_ori_der_aspect_observ.name }}">{{ form.ord_ori_der_aspect_observ.label }}</label>
                    {{ form.ord_ori_der_aspect_observ }}
            </div>
            </div>
         </div>

        </div>
    </div>



    <div class="col-md-10 col-md-offset-1">
        <div class="form-group">

         <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Fpgd-Fpgi</h3>
            </div>

         <div class="panel-body">
            <div class="col-md-6 col-md-offset-1">
              <br><b>Fpgd-Fpgi</b><br>
                {{ form.fpgd_fpgi_simetrico }}
            </div>

            <div class="col-md-9 col-md-offset-1">
              <br><b>Aspectos observados</b><br>
              <label for="{{ form.fpgd_fpgi_izq_aspect_observ.name }}">{{ form.fpgd_fpgi_izq_aspect_observ.label }}</label>
                    {{ form.fpgd_fpgi_izq_aspect_observ }}

               <br>
               <label for="{{ form.fpgd_fpgi_der_aspect_observ.name }}">{{ form.fpgd_fpgi_der_aspect_observ.label }}</label>
                    {{ form.fpgd_fpgi_der_aspect_observ }}
            </div>
            </div>
         </div>

        </div>
    </div>



    <div class="col-md-10 col-md-offset-1">
        <div class="form-group">

         <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Velocidad de Erupción</h3>
            </div>

         <div class="panel-body">
            <div class="col-md-6 col-md-offset-1">
              <br><b>Velocidad de Erupción</b><br>
                {{ form.veloc_erup_simetrico }}
            </div>

            <div class="col-md-9 col-md-offset-1">
              <br><b>Aspectos observados</b><br>
              <label for="{{ form.veloc_erup_izq_aspect_observ.name }}">{{ form.veloc_erup_izq_aspect_observ.label }}</label>
                    {{ form.veloc_erup_izq_aspect_observ }}

               <br>
               <label for="{{ form.veloc_erup_der_aspect_observ.name }}">{{ form.veloc_erup_der_aspect_observ.label }}</label>
                    {{ form.veloc_erup_der_aspect_observ }}
            </div>
            </div>
         </div>

        </div>
    </div>



    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <br><b>Diagnostico</b><br>
                {{ form.diagnostico }}
        </div>
    </div>





    <br>
    <div class="col-md-8 col-md-offset-3">
        <div class="form-group">
            <div class="col-md-3 col-md-offset-1">
              <a href="/asp_mandibular1/consultar/{{codi}}/{{num}}" class="btn btn-warning btn-block">Regresar</a>
            </div>
            <div class="col-md-3 col-md-offset-1">
              <center><button type="submit" class="btn btn-success btn-block">Siguiente</button></center>
            </div>
        </div>
        <br><br>
    </div>


     <!-- Barra de progreso -->
        <br>
        <div class="col-md-10 col-md-offset-1">
        <div class="progress">
            <div class="progress-bar" style="width: 54%;"></div>
        </div>
        </div>





    </form>

<script>
    $('#codigo').val("{{codi}}");
    $('#ficha').val("{{num}}");

    if ({{completada}}==0){
  $("#mensaje").append('<div class="col-md-4 col-md-offset-8"><div class="alert alert-danger alert-danger"><strong><center> ¡FICHA INCOMPLETA!</center></strong></div></div>')
  }else{
    if ({{completada}}==1){
      $("#mensaje").append('<div class="col-md-4 col-md-offset-8"><div class="alert alert-success alert-success"><strong><center> ¡FICHA COMPLETA!</center></strong></div></div>')
    }else{
      if ({{completada}}==2){
        $("#mensaje").append('<div class="col-md-4 col-md-offset-8"><div class="alert alert-info alert-info"><strong><center> ¡FICHA RETIRADA!</center></strong></div></div>')
      }else{
        if ({{completada}}==3){
          $("#mensaje").append('<div class="col-md-4 col-md-offset-8"><div class="alert alert-warning alert-warning"><strong><center> ¡FICHA CADUCADA!</center></strong></div></div>')
        }
        
      }
    }
  }

</script>
{% endblock %}