{% extends 'base/base_consultar.html' %}

{% block title %}
    Funciones Sagitales
{% endblock %}

{% block header %}

{% endblock %}

{% block extrajs %}

<script type="text/javascript">
    $('#codigo').val("{{codi}}");
    $('#ficha').val("{{num}}");  

$(document).ready(function(){

    var codigo = $('#codigo').val();
    var numero = $('#ficha').val();

    $.ajax({
        data : {'codigo':codigo,'numero':numero},
        url : '/aspectos/mostrar/',
        type : 'get',
        success : function(data) {
            for (var i = 0; i < data.length; i++) {
                var img = data[i].fields.imagen;
                if (img == "")
                {
                }
                else{
                    document.getElementById("simg").style.display = 'inline';
                    document.getElementById("simg").src= {{MEDIA_URL}}+img;
                }
            }
        },
    });
});

var nW,nH,oH,oW;
  function zoomToggle(iWideSmall,iHighSmall,iWideLarge,iHighLarge,whichImage){
    oW=whichImage.style.width;oH=whichImage.style.height;
    if((oW==iWideLarge)||(oH==iHighLarge)){
      nW=iWideSmall;nH=iHighSmall;
    }else{
      nW=iWideLarge;nH=iHighLarge;
    }
    whichImage.style.width=nW;whichImage.style.height=nH;
  }
</script>

{% endblock %}

{% block content %}
<form method="post" enctype='multipart/form-data'>
    {% csrf_token %}

    {{form.fichas}}
    {{form2.fichas}}
    {{form3.fichas}}

    <div class="row">
    <br><div class="mensaje" id="mensaje"></div>
    <h1> <center> Relaciones Sagitales </center></h1>

        <div class="col-md-12 col-md-offset-2">
        <br>
        <div class="form-group">
            <div class="col-md-4">
            <label for="codigo">N° de Expediente </label>   
            <input id="codigo" class="form-control" type="text" disabled="True">
            <br>
            </div>
            <div class="col-md-4">
            <label for="ficha">N° de Ficha</label>  
            <input id="ficha" class="form-control" type="text" disabled="True">
            <br>
            </div>
            <br>
        </div>
        <br>
    </div>
</div>



<div class="panel panel-success">
      <div class="panel-heading"> 
       <h4 class="panel-title">Relaciones Sagitales</h4>
      </div>
    
     <div class="panel-body">
    <br><br>
        <div class="col-md-3 col-md-offset-1">
            <div class="form-group">
                <label for="{{form.molar_derecha.name}}">{{form.molar_derecha.label}}</label>   
                {{form.molar_derecha}}
                <br>
                <label for="{{form.molar_izquierda.name}}">{{form.molar_izquierda.label}}</label>   
                {{form.molar_izquierda}}
                <br>
                <label for="{{form.canina_derecha.name}}">{{form.canina_derecha.label}}</label>   
                {{form.canina_derecha}}
                <br>
                <label for="{{form.canina_izquierda.name}}">{{form.canina_izquierda.label}}</label>   
                {{form.canina_izquierda}}
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="form-group">
                <label for="{{form.plano_termina_recto.name}}">{{form.plano_termina_recto.label}}</label> 
                {{form.plano_termina_recto}}
                <br>
                <label for="{{form.escalon_mesial.name}}">{{form.escalon_mesial.label}}</label> 
                {{form.escalon_mesial}}
                <br>
                <label for="{{form.escalon_distal.name}}">{{form.escalon_distal.label}}</label> 
                {{form.escalon_distal}}
                <br>
            </div>
        </div>
        <div class="col-md-5 ">
            <div class="form-group">
                <label for="{{form.observaciones.name}}">{{form.observaciones.label}}</label>
                {{form.observaciones}}
            </div>
            <br>
        </div>
    </div>
</div>

<br>

<div class="panel panel-success">
      <div class="panel-heading"> 
       <h4 class="panel-title">Función mandibular</h4>
      </div>
    
     <div class="panel-body">

    <br><br>
        <div class="col-md-3 col-md-offset-1">
            <div class="form-group">
                <label for="{{form2.apertura.name}}">{{form2.apertura.label}}</label>   
                {{form2.apertura}}
                <br>
                <label for="{{form2.desv_afmp_derecho.name}}">{{form2.desv_afmp_derecho.label}}</label>   
                {{form2.desv_afmp_derecho}}
                <br>
                <label for="{{form2.desv_afmp_izquierdo.name}}">{{form2.desv_afmp_izquierdo.label}}</label>   
                {{form2.desv_afmp_izquierdo}}
                <br>
            </div>
        </div>
        <div class="col-md-8 ">
            <div class="form-group">
                <label for="{{form2.signos_sintomas_atm.name}}">{{form2.signos_sintomas_atm.label}}</label> 
                {{form2.signos_sintomas_atm}}

            </div>
        </div>
    </div>
</div>

<br>

<div class="panel panel-primary">
      <div class="panel-heading"> 
       <h4 class="panel-title">AFMP</h4>
      </div>
    
     <div class="panel-body">
        <div class="col-md-6 col-md-offset-1">
            <div class="form-group">
                <label for="{{form3.nombreimagen.name}}">{{form3.nombreimagen.label}}</label>   
                {{form3.nombreimagen}}
                <br>
                <label for="{{form3.imagen.name}}">{{form3.imagen.label}}</label>   
                {{form3.imagen}}
            </div>
        </div>
        <div class="col-md-4 col-md-offset-1">
            <div class="form-group">
                <img id="simg" width="300" height="300" style='display:none;' onclick="zoomToggle('300px','300px','100%','100%',this);"/>
            </div>
        </div>
    </div>
</div>


    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            
            <br><br>
            <div class="col-md-3 col-md-offset-2">
              <a href="/aspectos/mordidas/nuevo/{{codi}}/{{num}}" class="btn btn-default btn-block">Regresar</a>
            </div> 

            <div class="col-md-3 col-md-offset-1">
              <center><button type="submit" class="btn btn-success btn-block">Siguiente</button></center>
            </div>
        
        </div>
        <br><br>
    </div>




<!-- Barra de progreso -->
        <br><br>
        <div class="col-md-10 col-md-offset-1">
        <div class="progress">
            <div class="progress-bar progress-bar-success" style="width: 36%;"></div>
        </div>
        </div>

</form>

    <script type="text/javascript">
        if ({{completada}}==0){
        $("#mensaje").append('<div class="col-md-4 col-md-offset-8"><div class="alert alert-danger alert-danger"><strong><center> ¡FICHA INCOMPLETA!</center></strong></div></div>')
        }else{
            if ({{completada}}==1){
                $("#mensaje").append('<div class="col-md-4 col-md-offset-8"><div class="alert alert-success alert-success"><strong><center> ¡FICHA COMPLETA!</center></strong></div></div>')
            }else{
                if ({{completada}}==2){
                    $("#mensaje").append('<div class="col-md-4 col-md-offset-8"><div class="alert alert-info alert-info"><strong><center> ¡FICHA RETIRADA!</center></strong></div></div>')
                }else{
                    if ({{completada}}==3){
                        $("#mensaje").append('<div class="col-md-4 col-md-offset-8"><div class="alert alert-warning alert-warning"><strong><center> ¡FICHA CADUCADA!</center></strong></div></div>')
                    }
                    
                }
            }
        }

    </script>
{% endblock %}