{% extends 'base/base_consultar.html' %}

{% block header %}
<style>
	.otro{
	display: none;
}
</style>
{% endblock %}


{% block title %}
Diagnóstico Cefalométrico
{% endblock %}


{% block content %}
<form method="post">
	{% csrf_token %}

<br><div class="mensaje" id="mensaje"></div>	
<h1><center>Diagnóstico Cefalométrico</center></h1>

<div class="row">
	<div class="col-md-7 col-md-offset-1">
		<div class="form-group">
			{{form.fichas}}
		</div>
	</div>
</div>

	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			<div class="col-md-6">
			<label for="codigo">N° de Expediente </label>	
			<input id="codigo" class="form-control" type="text" disabled="True">
			<br>
			</div>
			<div class="col-md-6">
			<label for="ficha">N° de Ficha</label>	
			<input id="ficha" class="form-control" type="text" disabled="True">
			</div>
			<br>
		</div>
		<br>
	</div>





<div class="col-md-10 col-md-offset-1">
  <div class="form-group">

 	<div class="panel panel-success">
  	  <div class="panel-heading">
   	 	<h3 class="panel-title"></h3>
  	  </div>

  	  <div class="panel-body">
		<div class="col-md-3 col-md-offset-3">
			<div class="form-group">
				<br><br>
				<label for="{{form.patron_esqueletal.name}}">{{form.patron_esqueletal.label}}</label>
				{{form.patron_esqueletal}}
			</div>
		</div>



		<div class="col-md-3 col-md-offset-0 otro">
			<div class="form-group ">
				<br><br>
				<label for="{{form.otro_patron.name}}">{{form.otro_patron.label}}</label>
				{{form.otro_patron}}
			</div>
		</div>



		<div class="col-md-6 col-md-offset-3">
			<div class="form-group">
				<br><br>
				<label for="{{form.tipo_de_crecimiento.name}}">{{form.tipo_de_crecimiento.label}}</label>
				{{form.tipo_de_crecimiento}}
			</div>
		</div>


		<div class="col-md-6 col-md-offset-3">
			<div class="form-group">
				<br><br>
				<label for="{{form.medidas_dentales.name}}">{{form.medidas_dentales.label}}</label>
			{{form.medidas_dentales}}
			</div>
		</div>


		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<br><br>
				<label for="{{form.medidas_esteticas.name}}">{{form.medidas_esteticas.label}}</label>
				{{form.medidas_esteticas}}
			</div>
		</div>

	 </div>
	</div>

  </div>
 </div>	




    <br>
	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			
			<br>
			<div class="col-md-3 col-md-offset-2">
			  <a href="/analisis_cefalometrico/cefalometrico/consultar/{{codi}}/{{num}}" class="btn btn-default btn-block">Regresar</a>
			</div> 

			<div class="col-md-3 col-md-offset-1">
			  <center><button type="submit" class="btn btn-success btn-block">Siguiente</button></center>
			</div>
		
		</div>
		<br><br>
	</div>



	<!-- Barra de progreso -->
		<br><br>
		<div class="col-md-10 col-md-offset-1">
		<div class="progress">
  			<div class="progress-bar progress-bar-success" style="width: 72%;"></div>
		</div>
		</div>



<script>

	$('#{{form.fichas.auto_id}}').val({{fichas}});

	$('#codigo').val("{{codi}}");
	$('#ficha').val("{{num}}");

	if( $("select[name=patron_esqueletal]").val()== 2 || $("select[name=patron_esqueletal]").val()== 3 ){
       	$(".otro").css("display", "block");
    }
	else{
		$(".otro").css("display", "none");
		$('#id_otro_patron').val("");
	}


	$(document).ready(function(){


		$("select[name=patron_esqueletal]").change(function(){
           if( $(this).val()== 2 || $(this).val()== 3 ){
           		$(".otro").css("display", "block");
           }
			else{
				$(".otro").css("display", "none");
				$('#id_otro_patron').val("");
			}
		});
    });

    if ({{completada}}==0){
	$("#mensaje").append('<div class="col-md-4 col-md-offset-8"><div class="alert alert-danger alert-danger"><strong><center> ¡FICHA INCOMPLETA!</center></strong></div></div>')
	}else{
		if ({{completada}}==1){
			$("#mensaje").append('<div class="col-md-4 col-md-offset-8"><div class="alert alert-success alert-success"><strong><center> ¡FICHA COMPLETA!</center></strong></div></div>')
		}else{
			if ({{completada}}==2){
				$("#mensaje").append('<div class="col-md-4 col-md-offset-8"><div class="alert alert-info alert-info"><strong><center> ¡FICHA RETIRADA!</center></strong></div></div>')
			}else{
				if ({{completada}}==3){
					$("#mensaje").append('<div class="col-md-4 col-md-offset-8"><div class="alert alert-warning alert-warning"><strong><center> ¡FICHA CADUCADA!</center></strong></div></div>')
				}
				
			}
		}
	}
		 
</script>
{% for elemento in incompletos %}
			<script type="text/javascript">
				//entra si es un numero
				switch({{elemento}}){
					case 0:
						$('#datos_generales').bind('click', false);
 						$('#datos_generales').css({'color':'grey'});
						break;
					case -1:
						$('#motivo_consultas').bind('click', false);
 						$('#motivo_consultas').css({'color':'grey'});
						break;
					case -2:
						$('#estado_general').bind('click', false);
 						$('#estado_general').css({'color':'grey'});
						break;
					case -3:
						$('#tipo_perfil').bind('click', false);
 						$('#tipo_perfil').css({'color':'grey'});
						break;
					case -4:
						$('#denticion1').bind('click', false);
 						$('#denticion1').css({'color':'grey'});
						break;
					case -5:
						$('#denticion2').bind('click', false);
 						$('#denticion2').css({'color':'grey'});
						break;
					case -6:
						$('#denticion3').bind('click', false);
 						$('#denticion3').css({'color':'grey'});
						break;
					case -7:
						$('#mordidas').bind('click', false);
 						$('#mordidas').css({'color':'grey'});
						break;							
					case -8:
						$('#sagitales').bind('click', false);
 						$('#sagitales').css({'color':'grey'});
						break;
					case -9:
						$('#aspectos_articulares').bind('click', false);
 						$('#aspectos_articulares').css({'color':'grey'});
						break;
					case -10:
						$('#asp_mandibular').bind('click', false);
 						$('#asp_mandibular').css({'color':'grey'});
						break;
					case -11:
						$('#otros_aspectos').bind('click', false);
 						$('#otros_aspectos').css({'color':'grey'});
 						break;
					case -12:
						$('#otros_hallazgos').bind('click', false);
 						$('#otros_hallazgos').css({'color':'grey'});
						break;
					case -13:
						$('#analisis_cefalometrico').bind('click', false);
 						$('#analisis_cefalometrico').css({'color':'grey'});
						break;
					case -14:
						$('#diag_cefalo').bind('click', false);
 						$('#diag_cefalo').css({'color':'grey'});
						break;
					case -15:
						$('#analisis_nance').bind('click', false);
 						$('#analisis_nance').css({'color':'grey'});
						break;
					case -16:
						$('#moyers_inferior').bind('click', false);
 						$('#moyers_inferior').css({'color':'grey'});
						break;
					case -17:
						$('#moyers_superior').bind('click', false);
 						$('#moyers_superior').css({'color':'grey'});
						break;
					case -18:
						$('#diag_general').bind('click', false);
 						$('#diag_general').css({'color':'grey'});
						break;
				}

			</script>
	{% endfor %}
	</form>
{% endblock %}
