
body {
   overflow-x: hidden;  /* Oculpa o elimina scroll o barra de desplazamiento horizontal*/
}


.social {
	list-style: none;
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: -145px; /* Establecemos la barra en la izquierda */
	top: 150px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
 

.social ul {
	list-style: none;
}




/*Cualidades de imagen*/

.social ul li .icon-cita{ 
	display: inline-block;
	background: #000;
	padding: 10px 10px;
	text-decoration: none;

	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
}


.social ul li .icon-imagen{
	display: inline-block;
	background: #000;
	padding: 10px 10px;
	text-decoration: none;

	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
}


.social ul li .icon-reporte{
	display: inline-block;
	background: #000;
	padding: 10px 10px;
	text-decoration: none;

	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
}


.social ul li .icon-expediente{
	display: inline-block;
	background: #000;
	padding: 10px 10px;
	text-decoration: none;

	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
}



/*Fondo de imagen*/

.social ul li .icon-cita {background-color: rgb(233,147,26);} /* Establecemos los colores de cada red social, aprovechando su class */
.social ul li .icon-imagen {background-color: rgb(22,107,162);}
.social ul li .icon-reporte {background-color: rgb(22,145,190);}
.social ul li .icon-expediente {background-color: rgb(141,121,198);}





/*Efectos para imagen*/

.social ul li :hover img.icon-cita{
	background-color: rgb(233,147,26);   /* Cambiamos el fondo cuando el usuario pase el mouse */
	padding: 10px 85px;		/* Hacemos mas grande el espacio cuando el usuario pase el mouse*/
}


.social ul li :hover img.icon-imagen{
	background-color: rgb(22,107,162); 
	padding: 10px 85px; 
}


.social ul li :hover img.icon-reporte{
	background-color: rgb(22,145,190);
	padding: 10px 85px;
}


.social ul li :hover img.icon-expediente{
	background-color: rgb(141,121,198);
	padding: 10px 85px;
}

