
{% load staticfiles %}

	<meta charset="UTF-8">
	<title>Expediente Clinico</title>

	<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"/></script>

	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
	 
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
	<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="/static/style/home_estudiante_style.css"/>


{% block navbar %}

	<nav class="navbar navbar-inverse">
  		<div class="container-fluid">

    		<div class="navbar-header">
     			 <button class="navbar-toggle collapsed" type="button" data-toggle="modal" data-target="#bs-example-navbar-collapse-2">
        			<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
      			</button>
      			<a class="navbar-brand" href="#"></a>
    		</div>

    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      			<ul id="btn_completos" class="nav navbar-nav navbar-left">
       				<li class="active">
           				<a href="#myModal2" data-toggle="modal">
           				<img src="/media/imagenes/Menu/pin.png"> Completos</a>
       				</li> 
      			</ul>


      			<ul id="btn_incompletos" class="nav navbar-nav navbar-left">
       				<li class="active">
           				<a href="#myModal" data-toggle="modal">
           				<img src="/media/imagenes/Menu/clock.png"> Pendientes</a>
       				</li> 
      			</ul>


      			<ul class="nav navbar-nav navbar-right">
       				<li class="active">
           				<a href="{%url 'logout' %}">Cerrar Sesión</a>
       				</li> 
      			</ul>

      			<ul class="nav navbar-nav navbar-right">
        			<div class="col-md-3">
        				<h6 style="color:white">Hola, <B>{{user}}</B></h6>
        			</div>
      			</ul>

      			<h2 style="color:white "> <center>Universidad de El Salvador</center></h2>
      			<h3 style="color:white "> <center>Facultad de Odontología</center></h3>

    		</div>
  		 </div>
	  </nav>

{% endblock %}


<body>

	<div class="contenedor-nav-inferior">
		<div class="contenedor" id="imagen1">
			<a href="/informacion/inicio/nuevo/">
			<img class="icon-nav" src="/media/imagenes/Menu/nuevo.png"></a>
			<p class="texto">Nuevo</p>
		</div>

		<div class="contenedor" id="imagen2">
			<a href="/informacion/inicio/consultar/">
			<img class="icon-nav" src="/media/imagenes/Menu/consultar.png"></a>
			<p class="texto">Consultar</p>
		</div>

		<div class="contenedor" id="imagen3">
			<a href="/reportes/nuevo/">
			<img class="icon-nav" src="/media/imagenes/Menu/informe.png">
			<p class="texto">Informes</p>
		</div>

	</div>	




<!-- Expedientes Pendientes -->
<!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	  <div class="modal-dialog" role="document">
    	<div class="modal-content">

      	  <!-- Header del Expedientes Pendientes -->
      	  <div class="modal-header">
          	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        	<h3 class="modal-title" id="myModalLabel"><p style="color:dodgerblue;">Fichas Pendientes</h3>
      	  </div>

      	  <!-- Contenido de Expedientes Pendientes -->
      	  <div id="incompletas" class="modal-body"></div>

    	</div>
  	  </div>
	</div>


	<!-- Expedientes Completos -->
	<!-- Modal2 -->
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
    	<div class="modal-content">

      	  <!-- Header del Expedientes Pendientes -->
      	  <div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        	<h3 class="modal-title" id="myModalLabel"><p style="color:dodgerblue;">Fichas Completas</h3>
      	  </div>
     
      	  <!-- Contenido de Expedientes Pendientes -->
      	  <div id="completas" class="modal-body"></div>

    	</div>
  	  </div>
	</div>





<!-- Proceso Completos / Pendientes -->

<script type="text/javascript">
	var i=0;
</script>


<!-- Completos -->
<div id="completas" class="hidden">
	
		{% for elemento in completos %}
		<script type="text/javascript">
			if ({{elemento}} > 0) {
				numero = {{elemento}};
			}
			
			if ($.isNumeric("{{elemento}}") == false) {
				//crea una lista y le asigna el codigo y el numero de la ficha como id
				
				
				completas = '<ul id="{{elemento}}_'+numero+'"><h3>Código: {{elemento}} N° Ficha: '+numero+'</h3>';
				codigo = {{elemento}};
				co = "{{elemento}}";
				textoCodigo = {{elemento}};
				if(codigo != {{elemento}}){
					completas += '</ul>';
					completas = '';
					i++;
					numero =1;
				}
				
				$('#completas').append( completas );
				completas = ''; 
			}
			</script>
	{% empty %}
		<h3>No existen expedientes terminados!</h3>
	{% endfor %}
</div>




<!-- Pendientes -->

<div id="incompletas" class="hidden">

	{% for elemento in incompletos %}
			<script type="text/javascript">
			
			if ({{elemento}} > 0) {
				numero = {{elemento}};
			}
			
			if ($.isNumeric("{{elemento}}") == false) {
				//crea una lista y le asigna el codigo y el numero de la ficha como id
				
				
				incompletas = '<ul id="{{elemento}}_'+numero+'"><h3>Código: {{elemento}} N° Ficha: '+numero+'</h3>';
				codigo = {{elemento}};
				co = "{{elemento}}";
				textoCodigo = {{elemento}};
				if(codigo != {{elemento}}){
					incompletas += '</ul>';
					incompletas = '';
					i++;
					numero =1;
				}
				
				$('#incompletas').append( incompletas );
				incompletas = '';
			}else{
				//entra si es un numero
				switch({{elemento}}){
					case -1:
						$('#'+co+'_'+numero).append('<li><a href="/informacion/motivo_consultas/nuevo/'+co+'/'+numero+'/">Motivo de Consulta</a></li>');
						break;
					case -2:
						$('#'+co+'_'+numero).append('<li><a href="/informacion/estado_general/nuevo/'+co+'/'+numero+'/">Estado General</a></li>');
						break;
					case -3:
						$('#'+co+'_'+numero).append('<li><a href="/tipo_perfil/nuevo/'+co+'/'+numero+'/">Tipo de perfil</a></li>');
						break;
					case -4:
						$('#'+co+'_'+numero).append('<li><a href="/aspectos/denticion1/nuevo/'+co+'/'+numero+'/">Examen Dentición 1</a></li>');
						break;
					/*case -5:
						$('#'+co+'_'+numero).append('<li><a href="/informacion/motivo_consultas/nuevo/'+co+'/'+numero+'/">Registro Mordidas FALTA ESTE ARREGLAR</a></li>');
						break;*/
					case -6:
						$('#'+co+'_'+numero).append('<li><a href="/aspectos/sagitales/nuevo/'+co+'/'+numero+'/">Relaciones Sagitales</a></li>');
						break;
					case -7:
						$('#'+co+'_'+numero).append('<li><a href="/analisis_radiograficos/aspectos_articulares/nuevo/'+co+'/'+numero+'/">Aspectos Articulares</a></li>');
						break;
					case -8:
						$('#'+co+'_'+numero).append('<li><a href="/asp_mandibular1/nuevo/'+co+'/'+numero+'/">Aspectos Mandibulares</a></li>');
						break;
					case -9:
						$('#'+co+'_'+numero).append('<li><a href="/analisis_radiograficos/otrosAspectos/nuevo/'+co+'/'+numero+'/">Otros Aspectos</a></li>');
						break;
					case -10:
						$('#'+co+'_'+numero).append('<li><a href="/analisis_radiograficos/otrosHallazgos/nuevo/'+co+'/'+numero+'/">Otros Hallazgos</a></li>');
						break;
					case -11:
						$('#'+co+'_'+numero).append('<li><a href="/analisis_cefalometrico/cefalometrico/nuevo/'+co+'/'+numero+'/">Analisis Cefalometricos</a></li>');
						break;
					case -12:
						$('#'+co+'_'+numero).append('<li><a href="/diag_cefalo/nuevo/'+co+'/'+numero+'/">Diagnostico Cefalometrico</a></li>');
						break;
					case -13:
						$('#'+co+'_'+numero).append('<li><a href="/analisis_denticion_mixta/analisis_nance/nuevo/'+co+'/'+numero+'/">Analisis de Nance</a></li>');
						break;
					case -14:
						$('#'+co+'_'+numero).append('<li><a href="/analisis_denticion_mixta/moyersinferior/nuevo/'+co+'/'+numero+'/">Moyers inferior</a></li>');
						break;
					case -15:
						$('#'+co+'_'+numero).append('<li><a href="/analisis_denticion_mixta/moyerssuperior/nuevo/'+co+'/'+numero+'/">Moyers Superior</a></li>');
						break;
					case -16:
						$('#'+co+'_'+numero).append('<li><a href="/diag_general/nuevo/'+co+'/'+numero+'/">Diagnostico General</a></li>');
						break;
					case -17:
						$('#'+co+'_'+numero).append('<li><a href="/citas/nuevo/'+co+'/'+numero+'/">No ha finalizado el control</a></li>');
						break;
					case -18:
						$('#'+co+'_'+numero).append('<li><a href="/aspectos/sagitales/nuevo/'+co+'/'+numero+'/">No se encontró imagen AFMP</a></li>');
						break;
				}
				incompletas = '';
			}
			</script>
	{% empty %}
		<h3>Expedientes Pendientes</h3>
	{% endfor %}

</div>

</body>




<script type="text/javascript">
	$('#id_cod_expediente').click(function() {
	 	//codigo = $("#id_cod_expediente").val();
	 	
	 	$.ajax({
	 		//data: {'codigo': codigo},
	 		url: '/home/incompletos/',
	 		type: 'get',
	 		success : function(data) {
	        	//console.log(data[0].nombre_completo);
	        	for (var i = 0; i < data.length; i++) {
						alert("El código ya se ha ingresado anteriormente, por favor digite uno diferente");
						$("#id_cod_expediente").focus();
						codigo = $("#id_cod_expediente").val("");
				}
				
	 		},
	 		error : function(message) {
	        	console.log(message);
	     	}
	 	});
	});

</script>
<script type="text/javascript">
	var codigo;
	var textoCodigo,completas,co,numero;
</script>
	
	

<!--
<script>
	$('#btn_completos').on('click', function(e){
	    $('#completas').toggleClass('hidden');
	})

	$('#btn_incompletos').on('click', function(e){
	    $('#incompletas').toggleClass('hidden');
	})

</script>
-->