{% extends 'base/base.html' %}

{% block header %}
<h1><center>Diagnostico General</center></h1>
{% endblock %}


{% block content %}
<form method="post">
	{% csrf_token %}

<div class="row">
	<div class="col-md-6 col-md-offset-1">
		<div class="form-group">
			{{form.fichas}}
		</div>
	</div>
	</div>

	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			<div class="col-md-6">
			<label for="codigo">N° de Expediente </label>	
			<input id="codigo" class="form-control" type="text" disabled="True">
			<br>
			</div>
			<div class="col-md-6">
			<label for="ficha">N° de Ficha</label>	
			<input id="ficha" class="form-control" type="text" disabled="True">
			<br>
			</div>
			<br>
		</div>
		<br>
	</div>



<div class="col-md-10 col-md-offset-1">
  <div class="form-group">

 	<br><br>
 	<div class="panel panel-primary">
  	  <div class="panel-heading">
   	 	<h3 class="panel-title"></h3>
  	  </div>

  	  <div class="panel-body">

		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<br><br>
				<label for="{{form.diagnostico_ortodontico_general.name}}">{{form.diagnostico_ortodontico_general.label}}</label>
				{{form.diagnostico_ortodontico_general}}
			</div>
		</div>


		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<br>
				<label for="{{form.problemas.name}}">
				{{form.problemas.label}}</label>
				{{form.problemas}}
			</div>
		</div>


		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<br>
				<label for="{{form.objetivos.name}}">
				{{form.objetivos.label}}</label>
				{{form.objetivos}}
			</div>
		</div>


		<div class="col-md-6 col-md-offset-3">
			<div class="form-group">
				<br>
				<label for="{{form.tratamiento.name}}">
				{{form.tratamiento.label}}</label>
				{{form.tratamiento}}
			</div>
		</div>


		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<br>
				<label for="{{form.descripcion_tratamiento.name}}">
				{{form.descripcion_tratamiento.label}}</label>
				{{form.descripcion_tratamiento}}
			</div>
			<br>
		</div>

	  </div>
	</div>

  </div>
 </div>	




<!--
	<div class="col-md-8 col-md-offset-1">
		<div class="form-group">
			<button type="button" onclick=" location.href='/informacion/estado_general/editar2/{{codi}}/{{num}}'" class="btn btn-warning">Cancelar</button>
			<button type="submit" class="btn btn-success">Siguiente</button>
		</div>
	</div>
-->


    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <div class="col-md-3 col-md-offset-2">
              <a href="/analisis_denticion_mixta/moyerssuperior/nuevo/{{codi}}/{{num}}" class="btn btn-warning btn-block">Regresar</a>
            </div>
            <div class="col-md-3 col-md-offset-2">
              <center><button type="submit" class="btn btn-success btn-block">Siguiente</button></center>
            </div>
        </div>
        <br><br>
    </div>


	<!-- Barra de progreso -->
		<br><br>
		<div class="col-md-10 col-md-offset-1">
		<div class="progress">
  			<div class="progress-bar" style="width: 96%;"></div>
		</div>
		</div>


<script>

	$('#{{form.fichas.auto_id}}').val({{fichas}});

	$('#codigo').val("{{codi}}");
	$('#ficha').val("{{num}}");

</script>

	</form>
	{% endblock %}