<script type="text/javascript">
  $(function() {
    $('#myForm tbody tr').formset({
      prefix: '{{ formset.prefix }}'
    });
  })
</script>

<form method="post">
	{% csrf_token %}
	{{ formset.management_form }}

	    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <div class="col-md-6">
            <label for="codigo">N° de Expediente </label>   
            <input id="codigo" class="form-control" type="text" disabled="True">
            <br>
            </div>
            <div class="col-md-6">
            <label for="ficha">N° de Ficha</label>  
            <input id="ficha" class="form-control" type="text" disabled="True">
            <br>
            </div>
            <br>
        </div>
        <br>
    </div>
	{% for form in form3 %}
		<table border="1">
			<tr>
				<td>Cuadrante 1</td>
				<td>Pieza 1</td>
				<td>Cuadrante 2</td>
				<td>Pieza 2</td>
			</tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
		</table>
		{{ form.as_p }}
	{% endfor %}

	<form id="myForm" method="post" action="">
  <table border="0" cellpadding="0" cellspacing="0">
    <tbody>
    {% for form in formset.forms %}
      <tr>
        <td>{{ form.field1 }}</td>
        <td>{{ form.field2 }}</td>
        <td>{{ form.field3 }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {{ formset.management_form }}
</form>

<!--<form method="post">
	{% csrf_token %}
	<table border="0">
	<tr><td>Linea media facial</td></tr>
	<tr><td>{{form1.as_table}}</td></tr>
	</table>
	<br><br>
	<table border="0">
	<tr><td>Sobremordida</td></tr>
	<tr><td>{{form2.as_table}}</td></tr>
	</table>
	<br><br>
	<table border="0">
	<tr><td>Registro de mordidas</td></tr>
	<tr><td>{{form3.as_table}}</td></tr>
	</table>



<h1>Registro de mordidas</h1>
	<form method="POST" enctype="multipart/form">
		{% csrf_token %}
		{{form.as_table}}

		<label>Ficha</label>
		<input type="text" name="fichas">

		<label>Cuadrante 1</label>
		<input type="text" name="cuad_superior">

		<label>Pieza 1</label>
		<input type="text" name="pieza_superior">
		<label>Cuadrante 2</label>
		<input type="text" name="cuad_inferior">
		<label>Pieza 2</label>
		<input type="text" name="pieza_inferior">

	
	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			<label for="{{form.fichas.name}}">{{form.fichas.label}}</label>	
			{{form.fichas}}
		</div>
	</div>

	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			<label for="{{form.mx.name}}">{{form.mx.label}}</label>	
			{{form.mx}}
		</div>
	</div>	
	-->
	
	<button type="submit" class="btn btn-default">Guardar</button>
</form>

<div id="content">
	<label>Agregar filas de forma dinámica con JQuery</label>
	<button id="bt_add" class="btn btn-default">Agregar</button>
	<button id="bt_del" class="btn btn-default">Eliminar</button>
	<button id="bt_delall" class="btn btn-default">Eliminar todo</button>
	<table id="tabla" class="table table-bordered">
	<thead>
		<tr>
			<td>Nº</td>
			<td>Cuadrante 1</td>
			<td>Pieza 1</td>
			<td>Cuadrante 2</td>
			<td>Pieza 2</td>
		</tr>
	</thead>
	</table>
</div>
<script>
	$('#codigo').val("{{codi}}");
	$('#ficha').val("{{num}}");	 
</script>