
{% extends 'base/base_editar.html' %}

{% block title %}
    Funciones Sagitales
{% endblock %}

{% block header %}

{% endblock %}

{% block extrajs %}

<script type="text/javascript">
    $('#codigo').val("{{codi}}");
    $('#ficha').val("{{num}}");  

    $('#id_molar_derecha').change(function() {
        if(document.getElementById("#id_molar_derecha").value)
            {
                document.getElementById("#id_plano_termina_recto").disabled = true;
            }
            else
            {   
                alert("La fila actual esta vacía debe llenarse para ingresar una nueva.")
                
            }
    //$('#id_form-0-anb').val($('#id_form-0-sna').val()-$('#id_form-0-snb').val());
    });

</script>

{% endblock %}

{% block content %}
<form method="post" enctype='multipart/form-data'>
    {% csrf_token %}

    {{form.fichas}}
    {{form2.fichas}}
    {{form3.fichas}}

    <h1> <center> Relaciones Sagitales </center></h1>
        <div class="col-md-12 col-md-offset-2">
        <div class="form-group">
            <div class="col-md-4">
            <label for="codigo">N° de Expediente </label>   
            <input id="codigo" class="form-control" type="text" disabled="True">
            <br>
            </div>
            <div class="col-md-4">
            <label for="ficha">N° de Ficha</label>  
            <input id="ficha" class="form-control" type="text" disabled="True">
            <br>
            </div>
            <br>
        </div>
        <br>
    </div>

<br><br><br><br><br>

<div class="panel panel-primary">
      <div class="panel-heading"> 
       <h4 class="panel-title">Relaciones Sagitales</h4>
      </div>
    
     <div class="panel-body">

    <br><br>
        <div class="col-md-3 col-md-offset-1">
            <div class="form-group">
                <label for="{{form.molar_derecha.name}}">{{form.molar_derecha.label}}</label>   
                {{form.molar_derecha}}
                <label for="{{form.molar_izquierda.name}}">{{form.molar_izquierda.label}}</label>   
                {{form.molar_izquierda}}
                <label for="{{form.canina_derecha.name}}">{{form.canina_derecha.label}}</label>   
                {{form.canina_derecha}}
                <label for="{{form.canina_izquierda.name}}">{{form.canina_izquierda.label}}</label>   
                {{form.canina_izquierda}}
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="form-group">
                <label for="{{form.plano_termina_recto.name}}">{{form.plano_termina_recto.label}}</label> 
                {{form.plano_termina_recto}}
                <label for="{{form.escalon_mesial.name}}">{{form.escalon_mesial.label}}</label> 
                {{form.escalon_mesial}}
                <label for="{{form.escalon_distal.name}}">{{form.escalon_distal.label}}</label> 
                {{form.escalon_distal}}
            </div>
        </div>
        <div class="col-md-5 ">
            <div class="form-group">
                <label for="{{form.observaciones.name}}">{{form.observaciones.label}}</label>
                {{form.observaciones}}
            </div>
            <br>
        </div>
    </div>
</div>

<br><br><br><br><br>

<div class="panel panel-primary">
      <div class="panel-heading"> 
       <h4 class="panel-title">Relaciones Sagitales</h4>
      </div>
    
     <div class="panel-body">

    <br><br>
        <div class="col-md-3 col-md-offset-1">
            <div class="form-group">
                <label for="{{form.molar_derecha.name}}">{{form.molar_derecha.label}}</label>   
                {{form.molar_derecha}}
                <label for="{{form.molar_izquierda.name}}">{{form.molar_izquierda.label}}</label>   
                {{form.molar_izquierda}}
                <label for="{{form.canina_derecha.name}}">{{form.canina_derecha.label}}</label>   
                {{form.canina_derecha}}
                <label for="{{form.canina_izquierda.name}}">{{form.canina_izquierda.label}}</label>   
                {{form.canina_izquierda}}
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="form-group">
                <label for="{{form.plano_termina_recto.name}}">{{form.plano_termina_recto.label}}</label> 
                {{form.plano_termina_recto}}
                <label for="{{form.escalon_mesial.name}}">{{form.escalon_mesial.label}}</label> 
                {{form.escalon_mesial}}
                <label for="{{form.escalon_distal.name}}">{{form.escalon_distal.label}}</label> 
                {{form.escalon_distal}}
            </div>
        </div>
        <div class="col-md-5 ">
            <div class="form-group">
                <label for="{{form.observaciones.name}}">{{form.observaciones.label}}</label>
                {{form.observaciones}}
            </div>
            <br>
        </div>
    </div>
</div>

    <!--

<div class="container">
    <div class="row">
        <div class="col-sm-6" align="center"><table>
        <tr><br><br><br><h4>Relaciones sagitales</h5><br></tr>
        <tr>{{ form.as_table }}</tr>
        </table></div>
        <div class="col-sm-6" align="center"><table>
        <tr><br><br><br><h4>Función mandibular</h5><br></tr>
        <tr>{{ form2.as_table }}</tr>
        <table>
        <tr><br><h4>AFMP</h5><br></tr>
        <tr>{{ form3.as_table }}</tr>
        </table></div>
    </div>
 </div>
    


    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">

            <br><br>
            <div class="col-md-3 col-md-offset-4">
               <center><button type="submit" class="btn btn-success btn-block">Siguiente</button></center>
            </div>
            <br><br>
            
        </div>
    </div> -->



<!-- Barra de progreso -->
        <br><br>
        <div class="col-md-10 col-md-offset-1">
        <div class="progress">
            <div class="progress-bar" style="width: 36%;"></div>
        </div>
        </div>

    



</form>
{% endblock %}

