{% extends 'base/base.html' %}

{% block title %}
	Datos generales

{% endblock %}

{% block navbar %}
		<div class="bs-docs-section clearfix">
		    <div class="row">
		        <div class="col-lg-12">
		            <div class="bs-component">
		            	<nav class="navbar navbar-default">
		                	<div class="container-fluid">
		                  		<div class="navbar-header">
		                    		<a class="navbar-brand" href="http://localhost:8000/">SOUES</a>
		                  		</div>
		                  		
		                  		<ul class="nav navbar-nav navbar-right">
		                        	<li class="">
		                        		<a href="{%url 'logout' %}" role="button" aria-expanded="false">Cerrar Sesión<span></span></a>
		                        		
		                      		</li>
		                    	</ul>
		                    	<div>	
		                    	<ul class="nav navbar-nav navbar-right">
		                        	<li class="">
		                        		<a href="#" class="navbar-brand" role="button" aria-expanded="false">{{user}}<span></span></a>
		                      		</li>
		                    	</ul>
		                    	</div>
		                  		<h1 style="color:white "> <center> </center></h1> 
		                  		<h2 style="color:white "> <center>  </center></h2> 
		                  		

		                </div>
		            </nav>
		        </div>
           	</div>
        </div>
    </div>   
    {% endblock %} 	
{% block header %}

{% endblock %}

{% block content %}
<form method="POST">
	{% csrf_token %}

	<div class="row">
		{% if messages %}
		    {% for message in messages %}
		      <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
		    {% endfor %}
		  {% endif %}

		  {% if form.errors %}
		  <script type="text/javascript">alert("LEL");</script>
		    <div class="alert alert-error">
		      <h4>Please fix the following errors</h4>
		      <ul>
		        {% for field in form.errors %}
		          {% if field.errors %}
		            {% for error in field.errors %}
		              <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
		            {% endfor %}
		          {% endif %}
		        {% endfor %}
		      </ul>
		      {% if form.non_field_errors %}
		        {{ form.non_field_errors }}
		      {% endif %}
		    </div>
		{% endif %}
    </div>
 <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">

	<h2><center>Datos Generales</center></h2>

	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
				<label for="{{form.cod_expediente.name}}">{{form.cod_expediente.label}}</label>	
			{{form.cod_expediente}}
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-md-offset-1" >
			<div class="form-group">
					<label for="{{form.cod_expediente.name}}">{{form.cod_expediente.label}}</label>	
				{{form.cod_expediente}}
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="{{form.nombre_completo.name}}">{{form.nombre_completo.label}}</label>
				{{form.nombre_completo}}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-md-offset-1">
			<div class="form-group">
				<label for="{{form.fechaRegistro.name}}">{{form.fechaRegistro.label}}</label>	
				{{form.fechaRegistro}}	
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="{{form.fecha_hora_creacion.name}}">{{form.fecha_hora_creacion.label}}</label>	
			{{form.fecha_hora_creacion}}	
			</div>
		</div>
	</div>


</div>
</div>

	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			<button type="button" onclick=" location.href='/informacion/inicio/nuevo/'" class="btn btn-warning">Cancelar</button>
			<button type="submit" class="btn btn-success">Siguiente</button>
		</div>
	</div>

</form>

	{% for elemento in incompletos %}
			<script type="text/javascript">
				//entra si es un numero
				switch({{elemento}}){
					case -1:
						$('#denticion2').bind('click', false);
 						$('#denticion2').css({'color':'#D3D3D3'});
						break;
					case -2:
						$('#denticion3').bind('click', false);
 						$('#denticion3').css({'color':'#D3D3D3'});
						break;
					case -3:
						$('#mordidas').bind('click', false);
 						$('#mordidas').css({'color':'#D3D3D3'});
						break;
				}

			</script>
	{% endfor %}
	
{% endblock %}