{% extends 'base/base.html' %}

{% block title %}
	Datos generales

{% endblock %}
{% block header %}

{% endblock %}

{% block content %}
<form method="POST">
	{% csrf_token %}

	<div class="row">
		<div class="col-md-4 col-md-offset-1" >
			<div class="form-group">
					<label for="{{form.cod_expediente.name}}">{{form.cod_expediente.label}}</label>	
				{{form.cod_expediente}}
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="{{form.nombre_completo.name}}">{{form.nombre_completo.label}}</label>
				{{form.nombre_completo}}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-md-offset-1">
			<div class="form-group">
				<label for="{{form.fechaRegistro.name}}">{{form.fechaRegistro.label}}</label>	
				{{form.fechaRegistro}}	
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="{{form.fecha_hora_creacion.name}}">{{form.fecha_hora_creacion.label}}</label>	
			{{form.fecha_hora_creacion}}	
			</div>
		</div>
	</div>



	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			<button type="button" onclick=" location.href='/informacion/inicio/nuevo/'" class="btn btn-warning">Cancelar</button>
			<button type="submit" class="btn btn-success">Siguiente</button>
		</div>
	</div>

</form>

	
{% endblock %}