{% extends 'base/base_consultar.html' %}

{% block title %}
	Datos generales

{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<form method="POST">
	{% csrf_token %}

	<div class="row">
		{% if form.errors %}
		    {% for field in form %}
		        {% for error in field.errors %}
		            <div class="alert alert-danger">
		                <strong>{{ error|escape }}</strong>
		            </div>
		        {% endfor %}
		    {% endfor %}
		    {% for error in form.non_field_errors %}
		        <div class="alert alert-danger">
		            <strong>{{ error|escape }}</strong>
		        </div>
		    {% endfor %}
		{% endif %}
		</div>

	<h2><center>Datos Generales</center></h2>

	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
				<label for="{{form.cod_expediente.name}}">{{form.cod_expediente.label}}</label>	
			{{form.cod_expediente}}
		</div>
	</div>
	


	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			<label for="{{form.nombre_completo.name}}">{{form.nombre_completo.label}}</label>
			{{form.nombre_completo}}
		</div>
	</div>

	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			<label for="{{form.fecha_nac.name}}" >{{form.fecha_nac.label}}</label>
				{{form.fecha_nac}}
		</div>
	</div>

	<div>
	<div class="col-md-4 col-md-offset-2">
		<div class="form-group">
			<label for="{{form.edad.name}}">{{form.edad.label}}</label>	
			{{form.edad}}
		</div>
	</div>
	<div class="col-md-4 col-md-offset-0">
		<div class="form-group">
			<label for="{{form.edad_registro.name}}">{{form.edad_registro.label}}</label>	
			{{form.edad_registro}}
		</div>
	</div>
	<div>
		<div class="col-md-4 col-md-offset-2">
			<div class="form-group">
				<label for="{{form.telefono.name}}">{{form.telefono.label}}</label>	
				{{form.telefono}}
			</div>
		</div>
		<div class="col-md-4 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.genero.name}}">{{form.genero.label}}</label>	
				{{form.genero}}
			</div>
		</div>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">

			<label for="{{form.direccion.name}}">{{form.direccion.label}}</label>	
			{{form.direccion}}	
		</div>
	</div>
		<div class="col-md-8 col-md-offset-2">
		<div class="form-group">

			<label for="{{form.nombre_resp.name}}">{{form.nombre_resp.label}}</label>	
			{{form.nombre_resp}}	
		</div>
	</div>

	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			
			{{form.usuario_creador}}	
		</div>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			<label for="{{form.fecha_hora_creacion.name}}">{{form.fecha_hora_creacion.label}}</label>	
			{{form.fecha_hora_creacion}}	
		</div>
	</div>	


	

	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			<br>
			<div class="col-md-3 col-md-offset-3">
			  <center><button type="button" onclick=" location.href='/informacion/inicio/nuevo/'" class="btn btn-warning btn-block">Cancelar</button>
			  </center>
			</div>
			<div class="col-md-3 ">
			  <center><button type="submit" class="btn btn-success btn-block">Siguiente</button>
			  </center>
			</div>
		    <br><br>
		</div>
	</div>





 <script>
 //$("#id_cod_expediente").prop('readonly', true);

 	$(function() {
    	var f = new Date($('#id_fecha_nac').val());
		
		    var today = new Date();
		    var dayDiff = Math.ceil(today - f) / (1000 * 60 * 60 * 24 * 365);
		    var age = parseInt(dayDiff);
		    $('#{{form.edad.auto_id}}').val(age)

		    var date = new Date();
	        var month = date.getMonth()+ 1;
	        var dateString =  date.getFullYear() + "-"+ month + "-" + date.getDate() + " "+ date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
	        $('#{{form.fecha_hora_creacion.auto_id}}').val(dateString)
	})




	</script> 
	<script>
		//alert("{{user.id}}");
	</script>
        <!-- Barra de progreso -->
		<br><br>
		<div class="col-md-10 col-md-offset-1">
		<div class="progress">
  			<div class="progress-bar" style="width: 6%;"></div>
		</div>
		</div>
		<br><br>


</form>

	
{% endblock %}