{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}
	Inicio
{% endblock %}
{% block header %}
{% endblock %}
{% block navbar %}
		<div class="bs-docs-section clearfix">
		    <div class="row">
		        <div class="col-lg-12">
		            <div class="bs-component">
		            	<nav class="navbar navbar-default">
		                	<div class="container-fluid">
		                  		<div class="navbar-header">
		                    		<a class="navbar-brand" href="http://localhost:8000/">SOUES</a>
		                  		</div>
		                  		
		                  		<ul class="nav navbar-nav navbar-right">
		                        	<li class="">
		                        		<a href="{%url 'logout' %}" role="button" aria-expanded="false">Cerrar Sesión<span></span></a>
		                        		
		                      		</li>
		                    	</ul>
		                    	<div>	
		                    	<ul class="nav navbar-nav navbar-right">
		                        	<li class="">
		                        		<a href="#" class="navbar-brand" role="button" aria-expanded="false">{{user}}<span></span></a>
		                      		</li>
		                    	</ul>
		                    	</div>
		                  		<h1 style="color:white "> <center> </center></h1> 
		                  		<h2 style="color:white "> <center>  </center></h2> 
		                  		

		                </div>
		            </nav>
		        </div>
           	</div>
        </div>
    </div>   
    {% endblock %} 
{% block content %}

<style>
	.ocultar{
		display: none;
	}
</style>


<form method="POST">
	{% csrf_token %}
</form>
	<div class="col-md-12">
	<br><br>
		<div class="form-group">
			<div class="col-md-6 col-md-offset-1">
				<label for="nombre_paciente">Nombre del Paciente</label>
				<input type="text" class="form-control" id="id_nombre_paciente" name="nombre_paciente" list="id_listanombres" pattern="a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.-]{2,100}">
				<datalist id="id_listanombres">
					
				</datalist>
			</div>
			<div class="col-md-2 ">
				<div class="form-group ocultar">
					<label for="{{form.cod_expediente.name}}">{{form.cod_expediente.label}}</label>
					{{form.cod_expediente}}
				</div>
			</div> 
			<div class="col-md-3 form-group ">
			<br>
			<!-- <button class="btn btn-success" style="margin-top: 5px;" onclick="buscar()">Buscar</button> -->
			</div>
		
		</div>				

	</div>
	

	<div class="row ocultar">
			<div class="col-md-3  col-md-offset-2">
				<div class="form-group">
					<label for="{{form.fecha_hora_creacion.name}}">{{form.fecha_hora_creacion.label}}</label>	
				{{form.fecha_hora_creacion}}	
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<label for="fichas"> N° de Ficha a Crear </label>
					<!--<select class="form-control" name="fichas" id="select_fichas"></select> -->
					 <input type="number" id="select_fichas" class="form-control">
				</div>
			</div>
			<!-- <div class="col-md-2">
				<div class="form-group">
					<button class="btn btn-success" style="margin-top: 25px;" onclick="redireccionar()">Consultar</button>
				</div>
			</div>  --> 
			<div class="col-md- 2">
				<button class="btn btn-success" style="margin-top: 25px;" onclick="redireccionar2()">Crear Nueva Ficha</button>
			</div>
		</div>
		<div class="row" id="lista">
		<ol>
			
		</ol>
		</div>

 


<script>
	$("input[name='nombre_paciente']").on('input', function(e){
	//$('#select_fichas').find('option').remove().end().val('whatever');
   var $input = $(this),
       val = $input.val();
       list = $input.attr('list'),
       match = $('#'+list + ' option').filter(function() {
           return ($(this).val() === val);
       });

    if(match.length > 0) {
        // value is in list
    var nombre = $('#id_nombre_paciente').val();
	//$('#select_fichas').find('option').remove().end().val('whatever');
		
		$.ajax({
			data : {'nombre':nombre},
			url : '/informacion/busqueda_ajax/',
			type : 'get',
			success: function(data){
				for (var i = 0; i < data.length; i++) {
					$(".ocultar").css("display", "block");
					$('#id_nombre_completo').val(data[i].fields.nombre_completo);
					$('#id_fecha_registro').val(data[i].fields.fechaRegistro);
					$('#id_fecha_hora_creacion').val(data[i].fields.fecha_hora_creacion);
					$('#id_cod_expediente').val(data[i].pk);
				}
				if(data==''){
					
					//	window.location="/informacion/datos_generales/nuevo/"+nombre;
				}
			},
			
		});

		$.ajax({
			data : {'nombre':nombre},
			url : '/informacion/busqueda_ajax2/',
			type : 'get',
			success: function(data){
				$("#select_fichas").val(1);
				for (var i = 0; i < data.length; i++) {
					//$('#select_fichas').append($('<option>', { value: i+1, text: i+1}));
					$("#select_fichas").val(data.length+1);

				}
				if(data==''){
					
					//window.location="/informacion/datos_generales/nuevo/"+nombre;
				}
			},
			
		});
    } else {
        limpiar();

    }
});

$('#id_nombre_paciente').keyup(function(e){
 	consulta = $("#id_nombre_paciente").val();
 		
 	$('#id_listanombres').empty().append('whatever');
 	$.ajax({
 		data: {'nombre': consulta},
 		url: '/informacion/busqueda/',
 		type: 'get',
 		success : function(data) {
        	for (var i = 0; i < data.length; i++) {
					$("#id_listanombres").append("<option value='" + data[i].nombre_completo + "'></option>");

			}
 		},
 		error : function(message) {
        	console.log(message);
     	}
 	});
});

var codigo = $('#id_nombre_paciente').val();
	$('#select_fichas')
    .find('option')
    .remove()
    .end()
    .val('whatever')
$("#id_nombre_completo").prop('readonly', true);
$("#id_fecha_registro").prop('readonly', true);
$("#id_fecha_hora_creacion").prop('readonly', true);
$("#id_cod_expediente").prop('readonly', true);
$("#select_fichas").prop('readonly', true);

function redireccionar(){
	var num = parseInt($("#select_fichas").val(), 10);
	var codigo = $('#id_cod_expediente').val();
	window.location="/informacion/motivo_consultas/consultar/"+codigo+"/"+num;
}

function redireccionar2(){
	var num = parseInt($("#select_fichas").val(), 10);
	var codigo = $('#id_cod_expediente').val();
	window.location="/informacion/motivo_consultas/nuevo/"+codigo+"/"+num;
}

function buscar(){


	var codigo = $('#id_nombre_paciente').val();
	$('#select_fichas')
    .find('option')
    .remove()
    .end()
    .val('whatever')
;
		
		$.ajax({
			data : {'codigo':codigo},
			url : '/informacion/busqueda_ajax/',
			type : 'get',
			success: function(data){
				for (var i = 0; i < data.length; i++) {
					$(".ocultar").css("display", "block");
					$('#id_nombre_completo').val(data[i].fields.nombre_completo);
					$('#id_fecha_registro').val(data[i].fields.fechaRegistro);
					$('#id_fecha_hora_creacion').val(data[i].fields.fecha_hora_creacion);
				}
				if(data==''){
					window.location="/informacion/datos_generales/nuevo/"+codigo;
				}
			},
			
		});

		$.ajax({
			data : {'codigo':codigo},
			url : '/informacion/busqueda_ajax2/',
			type : 'get',
			success: function(data){
				for (var i = 0; i < data.length; i++) {
					$('#select_fichas').append($('<option>', {
					    value: i+1,
					    text: i+1
					}));
				}
				if(data==''){
					window.location="/informacion/datos_generales/nuevo/"+codigo;
				}
			},
			
		});
}

function limpiar(){
	$(".ocultar").css("display", "none");
	$('#id_nombre_completo').val("");
	$('#id_fecha_registro').val("");
	$('#id_fecha_hora_creacion').val("");
	$('#id_cod_expediente').val("");
	$('#select_fichas')
    .find('option')
    .remove()
    .end()
    .val('whatever')
}

</script>


		<br><br><br><br><br>

		<div class="col-md-4 col-md-offset-8">
		<div class="alert alert-dismissible alert-info">
  		     <button class="close" type="button" data-dismiss="alert">&times;</button>
 		     <strong>Tenga en cuenta!</strong> Que el formato para crear un expediente es <a class="alert-link" href="#">####-##</a>, donde los primeros cuatros números denotan el número correlativo del expediente y los últimos dos números, el año de creación
		</div>
		</div>


 	
		<div class="col-md-4 col-md-offset-1">
		<blockquote>
			<small>Indicaciones de <cite title="Source Title">Código de expediente</cite></small>
  		    <p>Ingresa un número de expediente, si este existe, creará una nueva ficha; Sino, creará un nuevo expediente con su primera ficha.</p>    
		</blockquote>
		</div>
		<div class="col-md-3 col-md-offset-4">
			<a href="/informacion/datos_generales/nuevo/"><img src="{% static 'images/icono_mas.png' %}" alt="Agregar un nuevo expediente" width="75" height="75"></a>
		</div>


		
		<br><br><br><br>
		<br><br><br><br>

		<div class="col-md-10 col-md-offset-1">
		<div class="progress">
  			<div class="progress-bar" style="width: 1%;"></div>
		</div>

		<ul class="pager">
  		<li><a href="/home/">Atras</a></li>
		</ul>

		</div>





	
{% endblock %}