{% extends 'base/base_editar.html' %}

{% block title %}
Motivo Consulta
{% endblock %}
{% block header %}

{% endblock %}

{% block content %}
<form method="POST">
	{% csrf_token %}

<div class="row">
	<ul>
	  {% if form.non_field_errors %}
	    <li>{{ form.non_field_errors }}</li>
	  {% endif %}
	  {% for field in form %}
	    {% if field.errors %}
	      <li class="alert alert-danger">
	        <strong>{{ field.label }}</strong>
	        <ul>
	          {% for error in field.errors %}
	            <li class="alert alert-danger"><strong>{{ error }}</li></strong>
	          {% endfor %}
	        </ul>
	      </li>
	    {% endif %}
	  {% endfor %}
	</ul>

	</div>


 <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">

	<h1><center>Motivo de Consulta</center></h1>
	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			{{form.fichas}}
		</div>
	</div>	
	


	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			<div class="col-md-6">
			<label for="codigo">N° de Expediente </label>	
			<input id="codigo" class="form-control" type="text" disabled="True">
			<br>
			</div>
			<div class="col-md-6">
			<label for="ficha">N° de Ficha</label>	
			<input id="ficha" class="form-control" type="text" disabled="True">
			<br>
			</div>
			<br>
		</div>
		<br><br><br>
	</div>


	
	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			<label for="{{form.motivo_consulta.name}}">{{form.motivo_consulta.label}}</label>	
			{{form.motivo_consulta}}
		</div>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
		
			<label for="{{form.fechaRegistro.name}}">{{form.fechaRegistro.label}}</label><br>
			{{form.fechaRegistro}}
		</div>
	</div>

	<div class="col-md-8 col-md-offset-2">
		<div class="form-group"><br>
			<div class="col-md-4">
				<label for="{{form.curso.name}}">{{form.curso.label}}</label><br>
				{{form.curso}}
			</div>
			<div class="col-md-4">
				<label for="{{form.rotacion.name}}">{{form.rotacion.label}}</label><br>
				{{form.rotacion}}
			</div>
			<div class="col-md-4">
				<label for="{{form.turno.name}}">{{form.turno.label}}</label><br>
				{{form.turno}}
			</div>
		</div>
	</div>
	
	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			<label for="{{form.fecha_hora_creacion.name}}">{{form.fecha_hora_creacion.label}}</label>	
			{{form.fecha_hora_creacion}}
		</div>
	</div>



</div>
</div>
		


	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			
			<div class="col-md-3 col-md-offset-2">
			  <a href="/informacion/datos_generales/editar/{{codi}}/{{num}}" class="btn btn-default btn-block">Regresar</a>
			</div> 

			<div class="col-md-3 col-md-offset-1">
			  <center><button type="submit" class="btn btn-primary btn-block">Siguiente</button></center>
			</div>
		
		</div>
		<br><br>
	</div>


		<!-- Barra de progreso -->
		<br><br>
		<div class="col-md-10 col-md-offset-1">
		<div class="progress">
  			<div class="progress-bar" style="width: 12%;"></div>
		</div>
		</div>



<script>

	$('#{{form.fichas.auto_id}}').val({{fichas}});

	$('#codigo').val("{{codi}}");
	$('#ficha').val("{{num}}");


 	$(function() {
    	//var f = new Date($('#id_fecha_nac_year').val(),$('#id_fecha_nac_month').val() - 1,$('#id_fecha_nac_day').val());
		

		    var date = new Date();
	        var month = date.getMonth()+ 1;
	        var dateString =  date.getFullYear() + "-"+ month + "-" + date.getDate() + " "+ date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
	        console.log(dateString);
	        $('#{{form.fecha_hora_creacion.auto_id}}').val(dateString)
	})

	$('.fecha').change(function() {
		
		//var f = new Date($('#id_fecha_nac_year').val(),$('#id_fecha_nac_month').val() - 1,$('#id_fecha_nac_day').val());

		    var date = new Date();
	        var month = date.getMonth()+ 1;
	        var dateString =  date.getFullYear() + "-"+ month + "-" + date.getDate() + " "+ date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
	        console.log(dateString);
	        $('#{{form.fecha_hora_creacion.auto_id}}').val(dateString)
	    

	});

</script>


</form>

{% for elemento in incompletos %}
			<script type="text/javascript">
				//entra si es un numero
				switch({{elemento}}){
					case 0:
						$('#datos_generales').bind('click', false);
 						$('#datos_generales').css({'color':'#D3D3D3'});
						break;
					case -1:
						$('#motivo_consultas').bind('click', false);
 						$('#motivo_consultas').css({'color':'#D3D3D3'});
						break;
					case -2:
						$('#estado_general').bind('click', false);
 						$('#estado_general').css({'color':'#D3D3D3'});
						break;
					case -3:
						$('#tipo_perfil').bind('click', false);
 						$('#tipo_perfil').css({'color':'#D3D3D3'});
						break;
					case -4:
						$('#denticion1').bind('click', false);
 						$('#denticion1').css({'color':'#D3D3D3'});
						break;
					case -5:
						$('#denticion2').bind('click', false);
 						$('#denticion2').css({'color':'#D3D3D3'});
						break;
					case -6:
						$('#denticion3').bind('click', false);
 						$('#denticion3').css({'color':'#D3D3D3'});
						break;
					case -7:
						$('#mordidas').bind('click', false);
 						$('#mordidas').css({'color':'#D3D3D3'});
						break;
					case -8:
						$('#denticion2').bind('click', false);
 						$('#denticion2').css({'color':'#D3D3D3'});
						break;
					case -9:
						$('#denticion3').bind('click', false);
 						$('#denticion3').css({'color':'#D3D3D3'});
						break;
					case -10:
						$('#mordidas').bind('click', false);
 						$('#mordidas').css({'color':'#D3D3D3'});
						break;
					case -11:
						$('#sagitales').bind('click', false);
 						$('#sagitales').css({'color':'#D3D3D3'});
						break;
					case -12:
						$('#aspectos_articulares').bind('click', false);
 						$('#aspectos_articulares').css({'color':'#D3D3D3'});
						break;
					case -13:
						$('#asp_mandibular').bind('click', false);
 						$('#asp_mandibular').css({'color':'#D3D3D3'});
						break;
					case -14:
						$('#otros_aspectos').bind('click', false);
 						$('#otros_aspectos').css({'color':'#D3D3D3'});
 						break;
					case -15:
						$('#otros_hallazgos').bind('click', false);
 						$('#otros_hallazgos').css({'color':'#D3D3D3'});
						break;
					case -16:
						$('#analisis_cefalometrico').bind('click', false);
 						$('#analisis_cefalometrico').css({'color':'#D3D3D3'});
						break;
					case -17:
						$('#diag_cefalo').bind('click', false);
 						$('#diag_cefalo').css({'color':'#D3D3D3'});
						break;
					case -18:
						$('#analisis_nance').bind('click', false);
 						$('#analisis_nance').css({'color':'#D3D3D3'});
						break;
					case -19:
						$('#moyers_inferior').bind('click', false);
 						$('#moyers_inferior').css({'color':'#D3D3D3'});
						break;
					case -20:
						$('#moyers_superior').bind('click', false);
 						$('#moyers_superior').css({'color':'#D3D3D3'});
						break;
					case -21:
						$('#diag_general').bind('click', false);
 						$('#diag_general').css({'color':'#D3D3D3'});
						break;
				}
			</script>
	{% endfor %}

	
{% endblock %}