{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}
	Inicio
{% endblock %}
{% block header %}
{% endblock %}
{% block navbar %}
		<div class="bs-docs-section clearfix">
		    <div class="row">
		        <div class="col-lg-12">
		            <div class="bs-component">
		            	<nav class="navbar navbar-default">
		                	<div class="container-fluid">
		                  		<div class="navbar-header">
		                    		<a class="navbar-brand" href="http://localhost:8000/">SOUES</a>
		                  		</div>
		                  		
		                  		<ul class="nav navbar-nav navbar-right">
		                        	<li class="">
		                        		<a href="{%url 'logout' %}" role="button" aria-expanded="false">Cerrar Sesión<span></span></a>
		                        		
		                      		</li>
		                    	</ul>
		                    	<div>	
		                    	<ul class="nav navbar-nav navbar-right">
		                        	<li class="">
		                        		<a href="#" class="navbar-brand" role="button" aria-expanded="false">{{user}}<span></span></a>
		                      		</li>
		                    	</ul>
		                    	</div>
		                  		<h1 style="color:white "> <center> </center></h1> 
		                  		<h2 style="color:white "> <center>  </center></h2> 
		                  		

		                </div>
		            </nav>
		        </div>
           	</div>
        </div>
    </div>   
    {% endblock %} 
{% block content %}

<style>
	.ocultar{
		display: none;
	}
</style>


<form method="POST">
	{% csrf_token %}
</form>
	<div class="col-md-12">
	<br><br>
		<div class="col-md-12">
	<br><br>
		<div class="form-group">
			<div class="col-md-6 col-md-offset-1">
				<label for="nombre_paciente">Nombre del paciente</label>
				<div class="form-group has-success has-feedback"" role="form">
					<input type="search" class="form-control " id="id_nombre_paciente" placeholder="EJ. Juan Perez" name="nombre_paciente" list="id_listanombres" autofocus >
					<span class="glyphicon glyphicon-search form-control-feedback"></span>
					<datalist id="id_listanombres">
					
					</datalist>
				</div>
			</div>
			<div class="col-md-5">
				<div class="col-md-6 col-md-offset-1">
					<div class="form-group">
						<label for="nombre_paciente">Codigo del Expediente</label>
						<div class="form-group has-success has-feedback"" role="form">
							<input type="search" class="form-control " id="id_codigo_expediente" placeholder="EJ. 0001-17" name="codigo_paciente" list="id_listacodigo" autofocus >
							<span class="glyphicon glyphicon-search form-control-feedback"></span>
							<datalist id="id_listacodigo">
							
							</datalist>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<div class="row ocultar">
			<div class="col-md-4 col-md-offset-1">
				<div class="form-group">
					<h3><center>Crear una Nueva Ficha</center></h3>
					<div class="col-md-6">
						<label for="fichas"> N° de Ficha a Crear </label>
						 <input type="number" id="input_fichas" class="form-control">
					</div>
					<div class="col-md-6">
						<button class="btn btn-success" style="margin-top: 25px;" onclick="redireccionar2()">Crear Nueva Ficha</button>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-md-offset-1">
				<div class="form-group">
					<h3 id="h3_consulta" ><center>Consultar una Ficha</center></h3>
					<div class="col-md-6 col-md-offset-1">
						<label id="label_consulta" for="fichas"> N° de Ficha a Consultar </label>
						<select class="form-control" name="fichas" id="select_fichas"></select>
					</div>
					<div class="col-md-5">
						<button id="boton_consulta" class="btn btn-primary" style="margin-top: 25px;" onclick="redireccionar()">Consultar</button>
					</div>
				</div>
			</div>	
	</div>

		<div class="row ocultar">
			<div class="col-md-4 col-md-offset-1" id="imcompletas">
				<div class="form-group">
					
<button id="btn_incompletos"> Incompletos</button>

<div id="incompletas" class="hidden">



	{% for elemento in incompletos %}
			<script type="text/javascript">
			
			if ({{elemento}} > 0) {
				numero = {{elemento}};
			}
			
			if ($.isNumeric("{{elemento}}") == false) {
				//crea una lista y le asigna el codigo y el numero de la ficha como id
				
				
				incompletas = '<ul id="{{elemento}}_'+numero+'"><h3>Codigo: {{elemento}} N° Ficha: '+numero+'</h3>';
				codigo = {{elemento}};
				co = "{{elemento}}";
				textoCodigo = {{elemento}};
				if(codigo != {{elemento}}){
					incompletas += '</ul>';
					incompletas = '';
					i++;
					numero =1;
				}
				
				$('#incompletas').append( incompletas );
				incompletas = '';
			}else{
				//entra si es un numero

				switch({{elemento}}){
					case -1:
						$('#'+co+'_'+numero).append('<li><a href="/informacion/motivo_consultas/nuevo/'+co+'/'+numero+'/">Motivo de Consulta</a></li>');
						break;
					case -2:
						$('#'+co+'_'+numero).append('<li><a href="/informacion/estado_general/nuevo/'+co+'/'+numero+'/">Estado General</a></li>');
						break;
					case -3:
						$('#'+co+'_'+numero).append('<li><a href="/tipo_perfil/nuevo/'+co+'/'+numero+'/">Tipo de perfil</a></li>');
						break;
					case -4:
						$('#'+co+'_'+numero).append('<li><a href="/informacion/motivo_consultas/nuevo/'+co+'/'+numero+'/">Registro FALTA ESTE ARREGLAR</a></li>');
						break;
					case -5:
						$('#'+co+'_'+numero).append('<li><a href="/informacion/motivo_consultas/nuevo/'+co+'/'+numero+'/">Registro Mordidas FALTA ESTE ARREGLAR</a></li>');
						break;
					case -6:
						$('#'+co+'_'+numero).append('<li><a href="/aspectos/sagitales/nuevo/'+co+'/'+numero+'/">Relaciones Sagitales</a></li>');
						break;
					case -7:
						$('#'+co+'_'+numero).append('<li><a href="/analisis_radiograficos/aspectos_articulares/nuevo/'+co+'/'+numero+'/">Aspectos Articulares</a></li>');
						break;
					case -8:
						$('#'+co+'_'+numero).append('<li><a href="/asp_mandibular1/nuevo/'+co+'/'+numero+'/">Aspectos Mandibulares</a></li>');
						break;
					case -9:
						$('#'+co+'_'+numero).append('<li><a href="/analisis_radiograficos/otrosAspectos/nuevo/'+co+'/'+numero+'/">Otros Aspectos</a></li>');
						break;
					case -10:
						$('#'+co+'_'+numero).append('<li><a href="/analisis_radiograficos/otrosHallazgos/nuevo/'+co+'/'+numero+'/">Otros Hallazgos</a></li>');
						break;
					case -11:
						$('#'+co+'_'+numero).append('<li><a href="/analisis_cefalometrico/cefalometrico/nuevo/'+co+'/'+numero+'/">Analisis Cefalometricos</a></li>');
						break;
					case -12:
						$('#'+co+'_'+numero).append('<li><a href="/diag_cefalo/nuevo/'+co+'/'+numero+'/">Diagnostico Cefalometrico</a></li>');
						break;
					case -13:
						$('#'+co+'_'+numero).append('<li><a href="/analisis_denticion_mixta/analisis_nance/nuevo/'+co+'/'+numero+'/">Analisis de Nance</a></li>');
						break;
					case -14:
						$('#'+co+'_'+numero).append('<li><a href="/analisis_denticion_mixta/moyersinferior/nuevo/'+co+'/'+numero+'/">Moyers inferior</a></li>');
						break;
					case -15:
						$('#'+co+'_'+numero).append('<li><a href="/analisis_denticion_mixta/moyerssuperior/nuevo/'+co+'/'+numero+'/">Moyers Superior</a></li>');
						break;
					case -16:
						$('#'+co+'_'+numero).append('<li><a href="/diag_general/nuevo/'+co+'/'+numero+'/">Diagnostico General</a></li>');
						break;
				}
				incompletas = '';
			}
			</script>
	{% empty %}
		<h3>Lista de Expedientes Incompletos</h3>
	{% endfor %}

</div>
				</div>
			</div>
		</div>

<script>


	$("input[name='nombre_paciente']").on('input', function(e){
	$('#select_fichas').find('option').remove().end().val('whatever');
   var $input = $(this),
       val = $input.val();
       list = $input.attr('list'),
       match = $('#'+list + ' option').filter(function() {
           return ($(this).val() === val);
       });
    
	var codigo = $('#id_nombre_paciente').val();
	var nombre = $('#id_listanombres option[value="' + codigo +'"]').attr('id');
	
    if(match.length > 0) {
        // value is in list
    var nombre = $('#id_nombre_paciente').val();
	//$('#select_fichas').find('option').remove().end().val('whatever');
		
		$.ajax({
			data : {'codigo':codigo},
			url : '/informacion/busqueda_ajax/',
			type : 'get',
			success: function(data){
				for (var i = 0; i < data.length; i++) {
					$(".ocultar").css("display", "block");
					$('#id_nombre_completo').val(data[i].fields.nombre_completo);
					$('#id_nombre_paciente').val(data[i].fields.nombre_completo);
					$('#id_fecha_registro').val(data[i].fields.fechaRegistro);
					$('#id_fecha_hora_creacion').val(data[i].fields.fecha_hora_creacion);
					$('#id_codigo_expediente').val(data[i].pk);
				}
				if(data==''){
						}
			},
			
		});
			$.ajax({
			data : {'codigo':codigo},
			url : '/informacion/busqueda_ajax2/',
			type : 'get',
			success: function(data){
				$("#select_fichas").val(1);
				for (var i = 0; i < data.length; i++) {
					$('#select_fichas').append($('<option>', { value: i+1, text: i+1}));
					$("#input_fichas").val(data.length+1);

					$('#select_fichas').css('display','block');
					$('#boton_consulta').css('display','block');
					$('#label_consulta').css('display','block');
					$('#h3_consulta').css('display','block');
				}
				if(data==''){
					$("#input_fichas").val(1);					

					$('#select_fichas').css('display','none');
					$('#boton_consulta').css('display','none');
					$('#label_consulta').css('display','none');
					$('#h3_consulta').css('display','none');
				}
			},
			
		});
    } else {
        limpiar();
    }
});
$('#id_nombre_paciente').keyup(function(e){
 	consulta = $("#id_nombre_paciente").val();
 		
 	$('#id_listanombres').empty().append('whatever');
 	$.ajax({
 		data: {'nombre': consulta},
 		url: '/informacion/busqueda/',
 		type: 'get',
 		success : function(data) {
 			$('#id_listanombres').empty().append('whatever');
        	for (var i = 0; i < data.length; i++) {
				$("#id_listanombres").append("<option value='" + data[i].cod_expediente + "' id='"+data[i].nombre_completo+"'>"+data[i].nombre_completo+"</option>");
			}
 		},
 		error : function(message) {
        	console.log(message);
     	}
 	});
});

var codigo = $('#id_nombre_paciente').val();
	$('#select_fichas')
    .find('option')
    .remove()
    .end()
    .val('whatever');

$("#id_nombre_completo").prop('readonly', true);
$("#id_fecha_registro").prop('readonly', true);
$("#id_fecha_hora_creacion").prop('readonly', true);
$("#input_fichas").prop('readonly', true);

function redireccionar(){
	var num = parseInt($("#select_fichas").val(), 10);
	var codigo = $('#id_codigo_expediente').val();
	window.location="/informacion/motivo_consultas/consultar/"+codigo+"/"+num;
}
function redireccionar2(){
	var num = parseInt($("#input_fichas").val(), 10);
	var codigo = $('#id_codigo_expediente').val();
	window.location="/informacion/motivo_consultas/nuevo/"+codigo+"/"+num;
}
function buscar(){
	var codigo = $('#id_nombre_paciente').val();
	$('#select_fichas')
    .find('option')
    .remove()
    .end()
    .val('whatever');
		
		$.ajax({
			data : {'codigo':codigo},
			url : '/informacion/busqueda_ajax/',
			type : 'get',
			success: function(data){
				for (var i = 0; i < data.length; i++) {
					$(".ocultar").css("display", "block");
					$('#id_nombre_completo').val(data[i].fields.nombre_completo);
					$('#id_fecha_registro').val(data[i].fields.fechaRegistro);
					$('#id_fecha_hora_creacion').val(data[i].fields.fecha_hora_creacion);
				}
			},
			
		});
		$.ajax({
			data : {'codigo':codigo},
			url : '/informacion/busqueda_ajax2/',
			type : 'get',
			success: function(data){
				for (var i = 0; i < data.length; i++) {
					$('#select_fichas').append($('<option>', {
					    value: i+1,
					    text: i+1
					}));
				}
				if(data==''){
					window.location="/informacion/datos_generales/nuevo/"+codigo;
				}
			},
			
		});
}
function limpiar(){
	$(".ocultar").css("display", "none");
	$('#id_nombre_completo').val("");
	$('#id_fecha_registro').val("");
	$('#id_fecha_hora_creacion').val("");
	$('#id_codigo_expediente').val("");
	$('#select_fichas')
    .find('option')
    .remove()
    .end()
    .val('whatever')
}

	$('#btn_completos').on('click', function(e){
	    $('#completas').toggleClass('hidden');
	})

	$('#btn_incompletos').on('click', function(e){
	    $('#incompletas').toggleClass('hidden');
	})
</script>


		<br><br><br><br><br>

		<div class="col-md-4 col-md-offset-8">
		<div class="alert alert-dismissible alert-info">
  		     <button class="close" type="button" data-dismiss="alert">&times;</button>
 		     <strong>Tenga en cuenta!</strong> Que el formato para crear un expediente es <a class="alert-link" href="#">####-##</a>, donde los primeros cuatros números denotan el número correlativo del expediente y los últimos dos números, el año de creación
		</div>
		</div>


 	
		<div class="col-md-4 col-md-offset-1">
		<blockquote>
			<small>Indicaciones de <cite title="Source Title">Código de expediente</cite></small>
  		    <p>Ingresa un número de expediente, si este existe, creará una nueva ficha; Sino, creará un nuevo expediente con su primera ficha.</p>    
		</blockquote>
		</div>
		<div class="col-md-3 col-md-offset-4">
			<a href="/informacion/datos_generales/nuevo/"><img src="{% static 'images/icono_mas.png' %}" alt="Agregar un nuevo expediente" width="75" height="75"></a>
		</div>


		
		<br><br><br><br>
		<br><br><br><br>

		<div class="col-md-10 col-md-offset-1">
		<div class="progress">
  			<div class="progress-bar" style="width: 1%;"></div>
		</div>

		<ul class="pager">
  		<li><a href="/home/">Atras</a></li>
		</ul>

		</div>





	
{% endblock %}