{% extends 'base/base.html' %}

{% block title %}
 Inicio
{% endblock %}

{% block header %}
{% endblock %}

{% block menu-social %}
{% endblock %}


{% block navbar %}
	<nav class="navbar navbar-inverse">
  		<div class="container-fluid">

    		<div class="navbar-header">
     			 <button class="navbar-toggle collapsed" type="button" data-toggle="modal" data-target="#bs-example-navbar-collapse-2">
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
      			</button>

      			<a class="navbar-brand" href="http://localhost:8000/"><span class="glyphicon glyphicon-home white"></span> Home</a>

    		</div>


    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

      			<ul class="nav navbar-nav navbar-right">
       				<li class="active">
           				<a href="{%url 'logout' %}">Cerrar Sesión</a>
       				</li> 
      			</ul>

      			<ul class="nav navbar-nav navbar-right">
        			<div class="col-md-3">
        				<h6 style="color:white">Hola, <B>{{user}}</B></h6>
        			</div>
      			</ul>

    		</div>
  		 </div>
	  </nav>

{% endblock %}



{% block content %}
<form method="POST">
	{% csrf_token %}
</form>


<div class="col-md-10 col-md-offset-1">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>

  <div class="panel-body">
    <br><br>
	<div class="col-md-6 col-md-offset-3">
		<div class="form-group">
			<label for="{{form.codigo.name}}">{{form.codigo.label}}</label>	
		{{form.codigo}}
		<button class="btn btn-primary" onclick="buscar()">Buscar</button>
		</div>
	</div>

	<div class="col-md-6 col-md-offset-3">
		<div class="form-group" >
			<label for="ficha">Ficha</label>	
		<select name="select" id="select" class="form-control"></select>
		</div>
	</div>

	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			<center>	<button type="submit" onclick="redireccionar()" class="btn btn-success">Consultar Expediente</button></center>
		</div>
	</div>

  </div>
</div>


<div class="col-md-7 col-md-offset-7">
<div class="alert alert-dismissible alert-warning">
  <button class="close" type="button" data-dismiss="alert">&times;</button>
  <h4>Indicacion!</h4>
  <p>Para poder hacer la consulta de una ficha clinica de un expediente existente, <a class="alert-link" href="#">debes ingresar el codigo del expediente</a>, y luego seleccionar la ficha clinica a consultar.</p>
</div>
</div>


</div>



<script>

	function buscar(){

		var codigo = $('#id_codigo').val();

		$.ajax({
			data : {'codigo':codigo},
			url : '/reportes/numero/'+codigo+'/',
			type : 'get',
			success: function(data){
				for (var i = 0; i < data.length; i++) {
					
					$("#select").append('<option value='+(i+1)+'>'+data[i].fields.numero+'</option>');
				}
				if (data.length==0) {
					
					$('#select').empty();
				}
			}
		});

	}

	function redireccionar(){

		var codigo = $('#id_codigo').val();
		var numero = $('#select').val();
		location.href='/informacion/motivo_consultas/consultar/'+codigo+'/'+numero+'/'	; 
		$('#id_codigo').val("");
		$('#nombre').val("");
		$('#id_numero').empty();id_codigo
		}
</script>
{% endblock %}
