{% extends 'base/base.html' %}

{% block title %}
	Datos generales

{% endblock %}
{% block header %}
<style>

</style>
{% endblock %}

{% block content %}
<form method="POST">
	{% csrf_token %}

	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
				<label for="{{form.cod_expediente.name}}">{{form.cod_expediente.label}}</label>	
			{{form.cod_expediente}}
		</div>
	</div>
	


	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			<label for="{{form.nombre_completo.name}}">{{form.nombre_completo.label}}</label>
			{{form.nombre_completo}}
		</div>
	</div>

	<div class="col-md-10 col-md-offset-2">
		<div class="form-group">
			<label for="{{form.fecha_nac.name}}" >{{form.fecha_nac.label}}</label>
			<div class='input-group date' class='form-control' >
					
				{{form.fecha_nac}}
            </div>	
		</div>
	</div>

	<div>
	<div class="col-md-4 col-md-offset-2">
		<div class="form-group">
			<label for="{{form.edad.name}}">{{form.edad.label}}</label>	
			{{form.edad}}
		</div>
	</div>
	<div class="col-md-4 col-md-offset-0">
		<div class="form-group">
			<label for="{{form.edad_registro.name}}">{{form.edad_registro.label}}</label>	
			{{form.edad_registro}}
		</div>
	</div>
	</div>

	<div>
		<div class="col-md-4 col-md-offset-2">
			<div class="form-group">
				<label for="{{form.telefono.name}}">{{form.telefono.label}}</label>	
				{{form.telefono}}
			</div>
		</div>
		<div class="col-md-4 col-md-offset-0">
			<div class="form-group">
				<label for="{{form.genero.name}}">{{form.genero.label}}</label>	
				{{form.genero}}
			</div>
		</div>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">

			<label for="{{form.direccion.name}}">{{form.direccion.label}}</label>	
			{{form.direccion}}	
		</div>
	</div>
		<div class="col-md-8 col-md-offset-2">
		<div class="form-group">

			<label for="{{form.nombre_resp.name}}">{{form.nombre_resp.label}}</label>	
			{{form.nombre_resp}}	
		</div>
	</div>
		<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			<label for="{{form.motivo_consulta.name}}">{{form.motivo_consulta.label}}</label>	
			{{form.motivo_consulta}}	
		</div>
	</div>
	<div class="col-md-10 col-md-offset-2">
		<label for="{{form.fechaRegistro.name}}">{{form.fechaRegistro.label}}</label>	
		<div class="form-group">
			{{form.fechaRegistro}}	
		</div>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			
			{{form.usuario_creador}}	
		</div>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			<label for="{{form.fecha_hora_creacion.name}}">{{form.fecha_hora_creacion.label}}</label>	
			{{form.fecha_hora_creacion}}	
		</div>
	</div>	

	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			<button type="button" onclick=" location.href='/informacion/inicio/nuevo/'" class="btn btn-warning">Cancelar</button>
			<button type="submit" class="btn btn-success">Siguiente</button>
		</div>
	</div>
 <script>
	$('.fecha').change(function() {
		
		var f = new Date($('#id_fecha_nac_year').val(),$('#id_fecha_nac_month').val() - 1,$('#id_fecha_nac_day').val());
		
		    var today = new Date();
		    var dayDiff = Math.ceil(today - f) / (1000 * 60 * 60 * 24 * 365);
		    var age = parseInt(dayDiff);
		    $('#{{form.edad.auto_id}}').val(age)
		    $('#{{form.edad_registro.auto_id}}').val(age)

		    var date = new Date();
	        var month = date.getMonth()+ 1;
	        var dateString =  date.getFullYear() + "-"+ month + "-" + date.getDate() + " "+ date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
	        console.log(dateString);
	        $('#{{form.fecha_hora_creacion.auto_id}}').val(dateString)
	    

	});

	</script> 
	<script>
		//alert("{{user.id}}");
	</script>
</form>

	
{% endblock %}