{% extends 'base/base.html' %}

{% block content %}
<h5></h5>
{% endblock%}

{% block tabla %}
<table class="table table-bordered">
	<thead>
		<tr>
			<td>Codigo Expediente</td>
			<td>Nombre Completo</td>
			<td>Edad</td>
			<td>Edad Registro</td>
			<td>Fecha Nacimiento</td>
			<td>Telefono</td>
			<td>Genero</td>
			<td>Direccion</td>
			<td>Nombre de Responsable</td>
			<td>Motivo de Consulta</td>
			<td>Fecha de Registro</td>
			<td>Fecha y Hora de Creacion</td>
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for datos_generales in object_list %}
		<tr>
			<td>{{ datos_generales.cod_expediente }}</td>
			<td>{{ datos_generales.nombre_completo }}</td>
			<td>{{ datos_generales.edad }}</td>
			<td>{{ datos_generales.edad_registro }}</td>
			<td>{{ datos_generales.fecha_nac }}</td>
			<td>{{ datos_generales.telefono }}</td>
			<td>{{ datos_generales.genero }}</td>
			<td>{{ datos_generales.direccion }}</td>
			<td>{{ datos_generales.nombre_resp }}</td>
			<td>{{ datos_generales.motivo_consulta }}</td>
			<td>{{ datos_generales.fechaRegistro }}</td>
			<td>{{ datos_generales.fecha_hora_creacion }}</td>

		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de expedientes</h1>
		{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
	{% if page_obj.has_previous %}

		<a href="?page={{ page_obj.previous_page_number}}">Previous</a>
	</li>
	{% endif %}

	{% if page_obj.has_next %}
	<li>
		<a href="?page={{ page_obj.next_page_number}}">Next</a>
	</li>
	{% endif %}
</ul>

{% endblock%}
