{% extends 'base/base.html' %}

{% block content %}
<h5></h5>
{% endblock%}

{% block tabla %}
<table class="table table-bordered">
	<thead>
		<tr>
			<td>Codigo Expediente y Numero de Ficha</td>
			<td>Cambio Salud</td>
			<td>Detalle enfermedad Operacion</td>
			<td>Detalle de Medicamento</td>
			<td>Detalle Otra Enfermedad</td>
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for estado_general in object_list %}
		<tr>
			<td>{{ estado_general.fichas }}</td>
			<td>{{ estado_general.cambio_salud }}</td>
			<td>{{ estado_general.detalle_enf_operacion }}</td>
			<td>{{ estado_general.detalle_medicamento }}</td>
			<td>{{ estado_general.detalle_otra_enfermedad }}</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de expedientes</h1>
		{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
	{% if page_obj.has_previous %}

		<a href="?page={{ page_obj.previous_page_number}}">Previous</a>
	</li>
	{% endif %}

	{% if page_obj.has_next %}
	<li>
		<a href="?page={{ page_obj.next_page_number}}">Next</a>
	</li>
	{% endif %}
</ul>

{% endblock%}
