{% extends 'base/base.html' %}

{% load staticfiles %}

{% block title %}
	Retiro Voluntario
{% endblock %}

{% block header %}
{% endblock %}

{% block menu-social %}
{% endblock %}

{% block navbar %}
	<nav class="navbar navbar-inverse">
  		<div class="container-fluid">

    		<div class="navbar-header">
     			 <button class="navbar-toggle collapsed" type="button" data-toggle="modal" data-target="#bs-example-navbar-collapse-2">
        			<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
      			</button>
      			<a class="navbar-brand" href="http://localhost:8000/"><span class="glyphicon glyphicon-home white"></span> Home</a>
    		</div>

    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

      			<ul class="nav navbar-nav navbar-right">
       				<li class="active">
           				<a href="{%url 'logout' %}">Cerrar Sesión</a>
       				</li> 
      			</ul>

      			<ul class="nav navbar-nav navbar-right">
        			<div class="col-md-3">
        				<h6 style="color:white">Hola, <B>{{user}}</B></h6>
        			</div>
      			</ul>

    		</div>
  		</div>
	</nav>
{% endblock %} 


{% block content %}

<style>
	.ocultar{
		display: none;
	}
</style>

<br>
<h1><center>Retiro de Fichas</center></h1>
<h2><center>Voluntariamente</center></h2>
	

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">

	<div class="col-md-12">
	<br><br>
		<div class="form-group">
			<div class="col-md-6 col-md-offset-1">
				<label for="nombre_paciente">Nombre del paciente</label>
				<div class="form-group has-success has-feedback"" role="form">
					<input type="search" class="form-control " id="id_nombre_paciente" placeholder="EJ. Juan Perez" name="nombre_paciente" list="id_listanombres" autofocus >
					<span class="glyphicon glyphicon-search form-control-feedback"></span>
					<datalist id="id_listanombres">
					
					</datalist>
				</div>
			</div>
			<div class="col-md-5">
				<div class="col-md-6 col-md-offset-1">
					<div class="form-group">
						<label for="nombre_paciente">Código del Expediente</label>
						<div class="form-group has-success has-feedback"" role="form">
							<input type="search" class="form-control " id="id_codigo_expediente" placeholder="EJ. 0001-17" name="codigo_paciente" list="id_listacodigo" autofocus >
							<span class="glyphicon glyphicon-search form-control-feedback"></span>
							<datalist id="id_listacodigo">
							
							</datalist>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




<div class="row ocultar">

	<div class="col-md-8 col-md-offset-2">
	<br><br>
	<div class="panel panel-danger">
  		<div class="panel-heading">
    	  <h3 class="panel-title"></h3>
  		</div>

  		<div class="panel-body">
  		<div class="form-group">
  			<div class="col-md-5 col-md-offset-1">
			
				<label for="retiro_voluntario">N° de Ficha a Retirar</label>
				<input type="text" name="input_fichas" id="input_fichas" class="form-control">
			</div>

			 <div class="col-md-4 col-md-offset-0">
			 	<br>
				<a class="btn btn-danger btn-sm btn-block" href="#" id= "id_retiro_voluntario">Retiro Voluntario</a>
			 </div>

			</div>
		</div>
	</div>
	</div>
  </div>	
   

 	<br>
  </div>
</div> <!-- Final Panel -->

 	<div class="col-md-2 col-md-offset-9">
		<a class="btn btn-warning btn-block" href="/home/">Regresar</a>
		<br>
	</div>



<script>

//Ajax para completar el datalist del imput nombre

$("input[name='nombre_paciente']").on('input', function(e){
$('#select_fichas').find('option').remove().end().val('whatever');
var $input = $(this),
   val = $input.val();
   list = $input.attr('list'),
   match = $('#'+list + ' option').filter(function() {
       return ($(this).val() === val);
   });

var codigo = $('#id_nombre_paciente').val();
var nombre = $('#id_listanombres option[value="' + codigo +'"]').attr('id');

if(match.length > 0) {
    // value is in list
var nombre = $('#id_nombre_paciente').val();
//$('#select_fichas').find('option').remove().end().val('whatever');
	
	$.ajax({
		data : {'codigo':codigo},
		url : '/informacion/busqueda_ajax/',
		type : 'get',
		success: function(data){
			for (var i = 0; i < data.length; i++) {
				$(".ocultar").css("display", "block");
				$('#input_codigo').val(data[i].pk);
				$('#id_codigo_expediente').val(data[i].pk);
				$('#id_nombre_paciente').val(data[i].fields.nombre_completo);

			}
		},
		
	});
	$.ajax({
		data : {'codigo':codigo},
		url : '/informacion/busqueda_ajax22_retiro/',
		type : 'get',
		success: function(data){
			for (var i = 0; i < data.length; i++) {
				$("#input_fichas").val(data[i].fields.numero);
				$("#input_codigo").val(codigo);
			}
			if(data.length==0){
				$("#input_fichas").val("No se encontraron fichas");
			}


		},
		
	});
    } else {
        limpiar();
    }
});
$('#id_nombre_paciente').keyup(function(e){
 	consulta = $("#id_nombre_paciente").val();
 		
 	$('#id_listanombres').empty().append('whatever');
 	$.ajax({
 		data: {'nombre': consulta},
 		url: '/informacion/busqueda/',
 		type: 'get',
 		success : function(data) {
 			$('#id_listanombres').empty().append('whatever');
        	for (var i = 0; i < data.length; i++) {
					$("#id_listanombres").append("<option value='" + data[i].cod_expediente + "' id='"+data[i].nombre_completo+"'>"+data[i].nombre_completo+"</option>");
			}
 		},
 		error : function(message) {
        	console.log(message);
     	}
 	});
});



$("input[name='codigo_paciente']").on('input', function(e){
var $input = $(this),
   val = $input.val();
   list = $input.attr('list'),
   match = $('#'+list + ' option').filter(function() {
       return ($(this).val() === val);
   });

var codigo = $('#id_codigo_expediente').val();

if(match.length > 0) {	
	$.ajax({
		data : {'codigo':codigo},
		url : '/informacion/busqueda_ajax/',
		type : 'get',
		success: function(data){
			for (var i = 0; i < data.length; i++) {
				$(".ocultar").css("display", "block");
				$('#input_codigo').val(data[i].pk);
				$('#id_codigo_expediente').val(data[i].pk);
				$('#id_nombre_paciente').val(data[i].fields.nombre_completo);

			}
		},
		
	});
	$.ajax({
		data : {'codigo':codigo},
		url : '/informacion/busqueda_ajax22_retiro/',
		type : 'get',
		success: function(data){
			for (var i = 0; i < data.length; i++) {
				$("#input_fichas").val(data[i].fields.numero);
				$("#input_codigo").val(codigo);
			}
			if(data.length==0){
				$("#input_fichas").val("No se encontraron fichas");
			}

		},
		
	});
    } else {
        limpiar();
    }
});

//Ajax para completar el datalist del imput codigo
$('#id_codigo_expediente').keyup(function(e){
 	consulta = $("#id_codigo_expediente").val();
 		
 	$('#id_listacodigo').empty().append('whatever');
 	$.ajax({
 		data: {'codigo': consulta},
 		url: '/informacion/busqueda2/',
 		type: 'get',
 		success : function(data) {
 			
        	for (var i = 0; i < data.length; i++) {
					$("#id_listacodigo").append("<option value='" + data[i].cod_expediente + "' id='"+data[i].cod_expediente+"'></option>");
			}
 		},
 		error : function(message) {
        	console.log(message);
     	}
 	});
});

var codigo = $('#id_nombre_paciente').val();
	$('#select_fichas')
    .find('option')
    .remove()
    .end()
    .val('whatever');

$("#id_nombre_completo").prop('readonly', true);
$("#id_cod_expediente").prop('readonly', true);
$("#input_fichas").prop('readonly', true);
$("#input_codigo").prop('readonly', true);


function limpiar(){
	$(".ocultar").css("display", "none");
	$('#cod_expediente').val("");
	$('#id_fecha_hora_creacion').val("");
	$('#id_cod_expediente').val("");
	$('#input_codigo').val("");
	$('#select_fichas')
    .find('option')
    .remove()
    .end()
    .val('whatever')

}

$( "#id_retiro_voluntario" ).click(function() {
	
	var codigo = $("#id_codigo_expediente").val();
	var ficha = $("#input_fichas").val();

	swal({
		  title: "¡ADVERTENCIA!",
		  text: "¡Esta ficha ya no se podrá MODIFICAR en el futuro!",
		  type: "warning",
		  showCancelButton: true,
		  confirmButtonColor: "#DD6B55",
		  confirmButtonText: "Ok",
		  showCancelButton: true,
		  closeOnConfirm: false
		},
		function(){
		swal({
		  title: "¡¿Desea convertir esta ficha a RETIRO VOLUNTARIO?!",
		  text: "¿Desea transferir la FICHA "+ficha+" del EXPEDIENTE "+codigo+" a RETIRO VOLUNTARIO?",
		  type: "warning",
		  showCancelButton: true,
		  closeOnConfirm: false,
		  showLoaderOnConfirm: true,
		},
		function(){
		  setTimeout(function(){
		    $.ajax({
				data : {'codigo':codigo,'numero':ficha},
				url : '/informacion/retiro_voluntario/',
				type : 'get',
				success: function(data){
					swal("La ficha se retiro satisfactoriamente!", "You clicked the button!", "success")
					swal({
					  title: "¡Excelente!",
					  text: "¡La ficha se retiró satisfactoriamente!",
					  type: "success",
					  showCancelButton: true,
					  confirmButtonColor: "#DD6B55",
					  confirmButtonText: "Ok",
					  showCancelButton: false,
					  closeOnConfirm: false
					},
					function(){
					  location.reload();
					});
				},
				error: function(data){
					swal({
					  title: "¡ERROR!",
					  text: "¡La ficha ya se encuentra en estado Retirada!",
					  type: "error",
					  showCancelButton: true,
					  confirmButtonColor: "#DD6B55",
					  confirmButtonText: "Ok",
					  showCancelButton: false,
					  closeOnConfirm: false
						}); // <- this should run if user is not activated
				}
			});
		  }, 2000);
		});
	});
});

</script>




	
{% endblock %}